<h2 class="art-subtitle">Key Points on Bulking</h2>
<ol>
    <li class="art-li1">•The bulk phase&nbsp;&ndash; the big feed. Bulk it out then lean up with a cut.&nbsp;</li>
    <li class="art-li1">•To smash the bulk phase, you need to train like you mean it and feed like you need it.&nbsp;</li>
    <li class="art-li1">•Bulking isn&rsquo;t about eating as much, of whatever you want. It&rsquo;s about feeding the muscle growth. Check out our top nutrition tips to support your bulking diet.&nbsp;</li>
    <li class="art-li1">•Try the Maximuscle 4 week bulking diet plan.</li>
</ol>
<p>To help themselves grow, most bodybuilders will perform a bulking and cutting cycle. The bulking stage focuses on packing on as much mass as possible. Time frames vary, but the plan below is for a four-week bulk &ndash; perfect for adding extra mass before a holiday.</p>
<p>However, to pack on size you need to be eating healthy food, and a lot of it. To help, use an online calorie calculator to work out what your calorie &lsquo;maintenance&rsquo; is &ndash; which is the calorie intake you need to eat each day to maintain your weight. This will vary based on your height, weight, age and activity status. Typically, the guidelines state 2500 calories for men and 2000 calories for women. But in addition, you&rsquo;ll need to add extra calories to ensure that you are feeding the growth. You should start with a surplus of +20%, (approximately 500 calories).&nbsp;</p>
<p>When you&rsquo;re eating a surplus, your body will be able to use the extra energy (carbohydrate, protein and fat) to train harder and build muscle. An increase in calories goes hand-in-hand with an increase in muscle mass &ndash; but only if you eat the right food, i.e. packing in the protein. Speaking of training, <strong>click here for our Winter Bulk workout</strong>, to help get you started.</p>
<p><img alt="" src="/Images/meal prep.jpg" class="scaleAll"></p>
<p>We&rsquo;ve put together some nutritional information and some examples of foods to eat on your 4-week bulking diet, to help aid your bulking transformation and build a bigger body:&nbsp;</p>
<h3 class="art-subtitle"><strong>Hydration</strong></h3>
<p><strong>&nbsp;</strong>When you&rsquo;re bulking, you&rsquo;ll need to keep yourself well hydrated. 1.5 &ndash; 2 litres per day or 6-8 glasses of water. To increase your caloric intake, you could also drink milk for additional protein &ndash; a perfect evening drink before bed to keep that protein synthesis in the black. You could consider a product such as Micellar Casein,&nbsp;for a tasty slow releasing protein powder. Fruit juices can add extra sugar which can be useful post-workout, but limit this to once or twice per week.&nbsp;
</p>
<h3 class="art-subtitle"><strong>Carbohydrate</strong></h3>
<p><strong>&nbsp;</strong>Unlike a cut, where you need to cut down on carbohydrates, those on a bulk can and should enjoy plenty of carbs. Hence, the harder you can train, the more likely you are to build mass. Stick to wholegrains as opposed to processed refined carbs which quickly spike blood sugar and can be stored as fat.&nbsp;</p>
<p>However, post-training simple carbohydrates are useful. They quickly spike insulin levels &ndash; and insulin increases protein synthesis and decreases muscle breakdown.&nbsp;</p>
<h3 class="art-subtitle"><strong>Protein</strong></h3>
<p><strong>&nbsp;</strong>Protein is the key nutrient when it comes to bulking transformations, as it&rsquo;s the nutrient responsible for supporting lean muscle development. On a bulk, every meal should contain protein and you should aim for 2g per kg of bodyweight per day.&nbsp;</p>
<h3 class="art-subtitle"><strong>Fat</strong></h3>
<p><strong>&nbsp;</strong>Time to debunk the fat myth! Fat is energy dense and should be a firm part of your diet. It goes without saying of course, to limit the saturated or trans fat but bulk out the healthy fats &ndash; if you don&rsquo;t already, grab for the peanut butter, nuts, avocado, coconut oil, oily fish.&nbsp;
</p>
<h3 class="art-subtitle"><strong>Supplements</strong></h3>
<p><strong>&nbsp;</strong>On a bulk, it can be tough to eat the excess calories when you don&rsquo;t have an appetite. Thankfully, there are certain supplements that make life far easier. Mass gainers such as Progain or Progain Extreme can be just the support you need, as they can add calories to your diet without the need to force down a meal.&nbsp;</p>
<p>Creatine is another great supplement and is suited to our 4-week bulk. Your first week is a loading phase and the following 3 are &lsquo;maintenance.&rsquo; Creatine helps aid short bursts of high intensity exercise, which means you can lift a little harder, which in turn increases hypertrophy. Creatine monohydrate could be added to any drink, such as a fruit juice or protein shake.&nbsp;</p>
<h3 class="art-subtitle"><strong>Meal frequency</strong></h3>
<p>One of the fastest ways to increase mass is to increase the frequency of your meals. It&rsquo;s easy to stomach and enjoy six to eight small meals per day than it is to pack all your calories into three. Eat more, more often, that&rsquo;s the key to packing on the bulk!</p>
<h2 class="art-subtitle">The Maximuscle 4 Week Bulking Diet</h2>
<p>Your bulking transformation depends on two things: eating at a calculated calorie surplus and eating healthy food. A &lsquo;dirty bulk&rsquo; will add too much body fat and leave you feeling bloated.&nbsp;</p>
<p>Instead, aim to consume around 6 meals a day that pack in plenty of calories. We&rsquo;ve provided plenty of options for each meal below, so mix and match to build yourself a diet that&rsquo;ll help you quickly gain lean mass.&nbsp;</p>
<p>Add veggies such as tomatoes, celery and broccoli, to whichever meal you like.&nbsp;</p>
<p><strong>Breakfast options &ndash; select one from the following list each day&nbsp;</strong></p>
<ul>
    <li class="art-li1">•6 egg omelette with spinach (approx. 564 kcal)&nbsp;</li>
    <li class="art-li1">•Large portion of granola, whole milk and sliced banana (approx. 750 kcal)&nbsp;</li>
    <li class="art-li1">•1 or 2 bagels with peanut butter (approx. 380/760 kcal)&nbsp;</li>
    <li class="art-li1">•2 Poached eggs, salmon and avocado (approx. 550 kcal)&nbsp;</li>
</ul>
<p style="margin-top:30px"><strong>Morning meal/snack options &ndash; combine these to increase calories if needed&nbsp;</strong></p>
<ul>
    <li class="art-li1">•Progain flapjack (approx. 324 kcal)&nbsp;</li>
    <li class="art-li1">•Progain extreme shake (600 kcal)&nbsp;</li>
    <li class="art-li1">•Handful of almonds (approx. 92 kcal per serving)&nbsp;</li>
    <li class="art-li1">•Apple with peanut butter (approx. 200 kcal)</li>
    <li class="art-li1">•Small portion of chicken breast, tomatoes, celery and brown rice (approx. 450 kcal)&nbsp;</li>
</ul>
<p style="margin-top:30px"><strong>Lunch Options&nbsp;</strong></p>
<ul>
    <li class="art-li1">•Double chicken breast, broccoli and rice (approx. 700 kcal)&nbsp;</li>
    <li class="art-li1">•Salmon, sweet potatoes and sesame seeds (approx. 700 kcal)&nbsp;</li>
    <li class="art-li1">•Chicken breast, salsa, brown rice and peppers (approx. 720 kcal)</li>
    <li class="art-li1">•Vegetarian bean chili burritos (approx. 900 kcal)&nbsp;</li>
    <li class="art-li1">•Tinned tuna, quinoa, avocado and broccoli (approx. 500 kcal)</li>
</ul>
<p style="margin-top:30px"><strong>Snack options (select 1 or 2 per day depending on calories)&nbsp;</strong></p>
<ul>
    <li class="art-li1">•Dark chocolate (a single ounce is 153 kcal. Eat as much as your surplus allows)&nbsp;</li>
    <li class="art-li1">•Mass gainer shake (approx. 600 kcal)&nbsp;</li>
    <li class="art-li1">•Cup of mixed nuts (approx. 640 kcal)&nbsp;</li>
    <li class="art-li1">•Beef Jerky (approx. 410 kcal)&nbsp;</li>
</ul>
<p style="margin-top:30px"><strong>Dinner options&nbsp;</strong></p>
<ul>
    <li class="art-li1">•Tuna steak with olive oil, two sweet potatoes and quinoa (approx. 800 kcal)&nbsp;</li>
    <li class="art-li1">•Sirloin steak, white rice and fried egg (approx. 950 kcal)&nbsp;</li>
    <li class="art-li1">•Burger with lean beef, fries, white bread roll, cup of green beans (approx. 1450 kcal)&nbsp;</li>
    <li class="art-li1">•Tuna, pasta and Bolognese sauce (approx. 600 kcal)&nbsp;</li>
    <li class="art-li1">•Chili con carne with rolls of bread (approx. 700 kcal)</li>
</ul>
<h3 class="art-subtitle">Example Day</h3>
<p>Mixing up the meals above gives you a meal plan that can easily last 4 weeks. On a bulk, you can afford to have a few cheat meals &ndash; so don&rsquo;t be afraid to experiment. Remember to add fruit and veggies almost at will &ndash; selecting berries and other low GI fruit to help up your calorie intake and get your 5 a day.&nbsp;</p>
<p><strong>Breakfast:&nbsp;</strong></p>
<ul>
    <li class="art-li1">6 egg omelette with spinach (approx. 564 kcal)&nbsp;</li>
</ul>
<p style="margin-top:30px"><strong>Morning snack:&nbsp;</strong></p>
<ul>
    <li class="art-li1">Progain Extreme shake (600 kcal)&nbsp;</li>
</ul>
<p style="margin-top:30px"><strong>Lunch:&nbsp;</strong></p>
<ul>
    <li class="art-li1">Chicken breast, salsa, brown rice and peppers (approx. 720 kcal)</li>
</ul>
<p style="margin-top:30px"><strong>Post-workout snack:&nbsp;</strong></p>
<ul>
    <li class="art-li1">Protein shake with milk (approx. 200 kcal)&nbsp;</li>
</ul>
<p style="margin-top:30px"><strong>Dinner:&nbsp;</strong></p>
<ul>
    <li class="art-li1">Tuna steak with olive oil, two sweet potatoes and quinoa (approx. 800 kcal)&nbsp;</li>
</ul>
<p style="margin-top:30px"><strong>Total approx. 2884 kcal&nbsp;</strong></p>
<p>The beauty of bulking is that you can be flexible with your foods. Just make sure you fit in plenty of protein and keep the fatty junk food down. Your bulking transformation will net much better results if you eat lots of clean food, as opposed to big portions of junk.&nbsp;</p>