<h2 class="art-subtitle">Clean Bulking Rules</h2>
<p>A bulk is quite a simple concept that often gets overcomplicated by people new to the gym. A bulk is simply eating more calories than your maintenance level in order to increase mass gain.
</p>
<p>However, lots of people shovel calories into their bodies without considering what they&rsquo;re doing. Gorging on pizza, cakes and other high calorie foods in a &lsquo;dirty bulk&rsquo; will leave you feeling fat and unhealthy before your cut.
</p>
<p>The solution? Cut out the idea of &lsquo;dirty bulking&rsquo; and focus on a program that&rsquo;ll allow you to pack on lean mass without the additional fat. A clean bulk leaves you bigger, stronger and with less cutting to do.
</p>
<p>Here are Maximuscle&rsquo;s <strong>6 basic rules for clean bulking
</strong>
so you can increase muscle in a healthy, effective way&hellip;
</p>
<h3 class="art-subtitle">Master nutritional intake</h3>
<p>To put on weight, you need to eat at a calorie surplus. When you start counting calories, you&rsquo;ll also need to start seeing your food broken down as protein, carbs and fats, which helps you make smart choices about the fuel you&rsquo;re putting in your body. You should aim to have around 40% protein, 30% carbs and 30% fats during a day. Carbohydrates are most effective on training days, where they provide energy.
</p>
<p>Pre-workout, aim for slow-release carbs like sweet potato and brown rice. Afterwards, faster releasing carbs are a good idea to quickly replace glycogen.
</p>
<p>Protein is the most vital nutrient for muscle growth, so make sure you&rsquo;re consuming around 1-2g of protein per pound of bodyweight each and every day.
</p>
<h3 class="art-subtitle">Avoid sugar and processed food</h3>
<p>Both sugary and processed foods like a burger and fries will help you quickly meet your calorie intake goals, but are terrible for your body. The sugar and saturated fat that pushes the calorie content of that type of food is bad for you. For example: 1000 calories worth of pizza is not the same as 1000 calories from brown rice, sweet potatoes, spinach and tuna steaks.
</p>
<p>Instead, the calories from that kind of food can be spent on more nutritious wholegrains, lean protein and good fats. Even when you&rsquo;re bulking, you still need to stick to a plan and routine so that your calories should never get out of hand. Don&rsquo;t pile on fat through junk food &ndash; stick to enjoying lots and lots of healthy food.
</p>
<h3 class="art-subtitle">Do cardio while bulking</h3>
<p>While people are hesitant about cardio while bulking, there are plenty of reasons to keep up your cardio training, even as you aim to pack on mass. Avoid HIIT or other high intensity work and stick to low intensity sessions when you warm up or finish lifting. This will promote cardio health, increase recovery and help you burn fat at rest. Read Maximuscle&rsquo;s full guide to cardio while bulking.
</p>
<h3 class="art-subtitle">Opt for compound movements</h3>
<p>Isolation lifts like bicep curls are great as accessory work, but no matter what kind of lifter you are, you should be performing compound exercises when bulking. If your bulk is a race to put on muscle as fast as possible, compounds help you train multiple bodyparts in each lift. Aim for slightly more reps to help you build mass, between 8-10 should help increase hypertrophy.
</p>
<p>Compounds are effective for one main reason: The more muscles recruited in a lift, the more testosterone your body secretes, which in turn helps you build mass. The more muscle mass you have as a result, the higher your metabolism so the easier it is to clean bulk. You can also lift with more resistance in compounds (heavier weights) than you can in isolation lifts, which in turn helps promote mass gain.
</p>
<h3 class="art-subtitle">Ensure adequate rest</h3>
<p>Rest periods are the most important part of mass gain. If you hit the gym every single day performing high reps and sets you&rsquo;ll end up overtraining and suffering from fatigue. This kind of state is dangerous for anyone on a clean bulk as they&rsquo;ll be tempted to eat lots of sugary processed foods to help them stay active.
</p>
<p>Aim to get around eight hours of sleep per night (this amount varies from person to person) in order to allow your body time to recover. Take regular rest days so you&rsquo;re only doing heavy weight training four times a week and supplements like ZMA just before you go to bed.
</p>
<h3 class="art-subtitle">Don&rsquo;t bulk for too long</h3>
<p>Your bulking cycle should be for a predetermined period. If you do it in four week phases you can assess the results at the end of each and decide whether to continue or call it quits. The body&rsquo;s insulin sensitivity declines after 15% bodyfat, which means you can quickly begin to gain fat past this point. Once your abs start to vanish, you should stop bulking and trim back down.
</p>