<p><strong><strong>Quick Summary</strong></strong></p>
<ul>
<li class="art-li1">Yes. You can eat junk food and get in shape provided you monitor your calorie intake and meet your essential protein and fatty acids needs.</li>
<li class="art-li1">Junk food should never make up the bulk of your diet, even if the food choices fit your calorie needs.</li>
<li class="art-li1">Junk food isn’t filling and may leave you feeling hungry. This can be problematic for fat loss.</li>
</ul>
<p><strong><strong>The simple answer is YES. You can include junk food as part of your daily eating regime.</strong></strong></p>
<p>However, this doesn’t mean you can eat as much chocolate and pizza as you like. There are certain rules and principles you must respect before you rush off and start snacking.</p>
<p>First, let me ask…</p>
<p><strong><strong>Q. Is junk food good for you?</strong></strong></p>
<p>Honestly? Is It?</p>
<p>Are there any benefits to including junk food in your diet?</p>
<p>Ask a health professional or someone on the street, and their first reaction will be a confident NO. <strong><strong>Junk food is not healthy and should be avoided</strong></strong> or kept to an absolute minimum.</p>
<p>Here are a few reasons why most people have a negative perception of junk food:</p>
<ul>
<li class="art-li1">Junk food is high in calories and increases fat gain.</li>
<li class="art-li1">Junk food is low in vitamins, minerals and fibre.</li>
<li class="art-li1">Junk food doesn’t fill you up and increases you chances of overeating the rest of the day.</li>
</ul>
<p>All of these points are true. However, these negative aspects only become apparent <strong><strong>when junk food is overeaten</strong></strong> or makes up the bulk of someone’s diet.</p>
<p>The reality is. There’s no such thing as a good or bad food. Just good or bad diets.</p>
<p>Too many people look at food in isolation. Blaming individual foods as the sole cause of obesity and other metabolic disorders like diabetes. This couldn’t be further from the truth.</p>
<p>Excess calories and low levels of physical activity are the main reasons why someone could be overweight. </p>
<p><strong><strong>Always look at your diet as a whole.</strong></strong> Across the day, week, month and year.</p>
<p>For example, if you maintain your bodyweight on 2500kcals, which diet would prove more healthful?</p>
<p>A. 2500kcal of entirely fresh, whole minimally processed fruits, vegetables, dairy and meat.</p>
<p>Or,</p>
<p>B. 2500kcal of Oreos and Processed beef burgers.</p>
<p>The answer is A of course.</p>
<p>Even though both diets yield the same energy. Option A provides <strong><strong>more essential nutrients, vitamins minerals and fibre</strong></strong>. Option B is lacking, and will inevitably jeopardize health in the long run.</p>
<p>Now, if I added a third option that included</p>
<p>C. 2500kcal of mixed food sources. With 2000kcals coming from fresh, whole minimally process fruits, vegetables, dairy and meat and 500kcals coming from Oreos and other sources of junk food goodness.</p>
<p><strong><strong>Would this be unhealthy? Not necessarily.</strong></strong></p>
<p>The bulk i.e. 80% (2000kcals) of the diet is made up of whole foods and a mere 20% (500kcals) is comprised of junk.</p>
<p>It still allows me to control my energy balance, bodyweight and obtain all my essential nutrients, whilst at the same time include 500kcals of junk food for intuitive or social nibbles, if I really wanted it.</p>
<h3 class="art-subtitle"><strong>You can tactfully include junk food into your regime</strong></h3>
<figure class="kg-card kg-image-card"><img src="https://s3-eu-west-1.amazonaws.com/musclefooduk/images/articles/147254519-Can-You-Eat-Junk-Food-And-Get-In-Shape/147254519-young-man-hands.jpg" class="kg-image" alt="get in shape"></figure>
<p>Some people call this style of eating ‘If It Fits Your Macros – IIFYM’ or flexible dieting. If It Fits Your Macros and Insulin sound pretty cool. I digress. Call it whatever you want.</p>
<p>The flexible dieting approach has been shown to be <strong><strong>superior than a more rigid-type approach</strong></strong> (e.g. clean eating) for long term weight loss/maintenance in the research. 1,2</p>
<p>This terminology simply represents three important principles involved in goal orientated diabetic bodybuilding nutrition.</p>
<h3 class="art-subtitle"><strong>Energy balance</strong></h3>
<p>Calories are important.</p>
<p><strong>W<strong>eight loss is pretty much the relationship between calories consumed from food versus calories expended</strong></strong> by the metabolism, physical activity and exercise. </p>
<p>I. When people are in a caloric deficit, they always lose weight.</p>
<p>II. When people are in a caloric surplus, they always gain weight.Eat within the lines - according to your goal.</p>
<h3 class="art-subtitle"><strong>You are what you do on average.</strong></h3>
<p>In other words, <strong><strong>if you eat the bulk of your diet from low-quality junk food, you will look and feel like junk</strong></strong>. Hence, why fresh, whole minimally processed food MUST make up the bulk of your dietary intake.</p>
<p>As a general rule of thumb, I try to eat 70% + of my diet from whole food foods, with up to 30% from junk. Very rarely do I go crazy and consume 50% + of my diet from junk food, bar Christmas. </p>
<p>Then again that’s only 1 day out of 365 per year. See my point?You are what you do and ‘eat’ on average.</p>
<h3 class="art-subtitle"><strong>Adherence.</strong></h3>
<p>Modern food technology and marketing tantalises our taste buds and gets us salivating from the moment we wake up to the moment we go to bed. <strong><strong>We are faced with so much more pressure to eat nowadays</strong></strong> than ever before.</p>
<p>Add to that the convenience of foods - we are spoilt for choice.</p>
<p>Sometimes you have to face it. A cold chicken salad won’t cut it. But your favourite chocolate bar will.</p>
<p>What do you do?</p>
<p>I. Give in and then feel guilty for eating a ‘bad’ food.</p>
<p>II. Be strong and restrict yourself. Until you crack at the weekend and end up eating more chocolate than you could ever imagine</p>
<p>Been there done that.</p>
<p><strong><strong>Feeling restricted is one of the biggest reasons why most diets fail.</strong></strong></p>
<p>If people only knew how to tactfully manage ‘desired’ junk food choices within their calorie intakes, we would undoubtedly see less obesity and more sustained fat loss. This is one of the biggest takeaways health professionals have taken from my book.</p>
<h3 class="art-subtitle"><strong>What about clean eating? Is it not the best way for people to eat?</strong></h3>
<figure class="kg-card kg-image-card"><img src="https://s3-eu-west-1.amazonaws.com/musclefooduk/images/articles/147254519-Can-You-Eat-Junk-Food-And-Get-In-Shape/147254519-food.jpg" class="kg-image" alt="get in shape"></figure>
<p>The popularly coined dietary phrase “clean eating” has <strong><strong>no real definition</strong></strong>. So, how do you know what you’re eating is ‘clean’?</p>
<p>Rather than focusing on ‘clean’ eating:</p>
<ul>
<li class="art-li1"><strong>Get your calorie intake right</strong></li>
<li class="art-li1"><strong>Eat a colourful diet</strong></li>
<li class="art-li1"><strong>Vary your vegetable, fruit, meat and dairy sources</strong></li>
<li class="art-li1"><strong>Don’t overly restrict food group</strong></li>
</ul>
<h3 class="art-subtitle"><strong>Take Home</strong></h3>
<ul>
<li class="art-li1"><strong>You can include junk food</strong> as part of a healthy muscle building and fat loss diet.</li>
<li class="art-li1"><strong>The danger is in the dose.</strong> Never let junk food comprise the bulk of your diet. It’s generally low in vitamins, minerals, protein and fibre.</li>
</ul>
<p>Provided the bulk of your dietary intake comes from fresh, high quality nutrient dense foods you will have great success with your bodybuilding and fat loss efforts. At the same time make sure you <strong><strong>respect your calorie intake</strong></strong>, avoid chronic stress, get enough sleep and get active.</p>
