<p>They are an increasingly popular food as more and more people are now understanding the health benefits of eating avocado.</p>
<p>Also known as an alligator pear or butter fruit, it is a naturally nutrient-dense food and contain nearly <strong>20 vitamins and minerals</strong>.</p>
<p>Here, we take a look at the potential health benefits of eating avocados and the positive impacts they can have on your diet.</p>
<figure class="kg-card kg-image-card kg-width-wide"><img src="https://s3-eu-west-2.amazonaws.com/mf-ghost-storage/2019/06/5-avocado-facts-infographic.jpg" class="kg-image" style="width: 80%"></figure>
<h3 class="art-subtitle">Avocados are very nutritious</h3>
<p>Avocado is the fruit of the avocado tree, scientifically named <em>Persea Americana.</em></p>
<p>The fruit is championed for its high nutrient value and is added to a wide variety of dishes due to its good flavour and rich texture. It is popular in Mexican cuisine and the main ingredient in guacamole.</p>
<p>Avocados are a great source of <strong>vitamins C, E, K and B-6</strong> as well as riboflavin, niacin, folate, pantothenic acid, magnesium and potassium.</p>
<p>While most of the calories in an avocado come from fat, don’t be put off from eating them. Avocados are full of healthy, beneficial fats which help to keep you feeling full and satisfied.</p>
<h3 class="art-subtitle">Avocados are loaded with good fatty acids</h3>
<p>The majority of fat in avocado is oleic acid, a monounsaturated fatty acid that has a host of health benefits.</p>
<p>Oleic acid has been associated with reduced inflammation and research has shown it to have beneficial effects on genes linked to cancer.</p>
<p>Avocados contain <strong>25 milligrams per ounce of beta-sitosterol</strong>, a natural plant sterol. Regular consumption of beta-sitosterol and other plant sterols has been shown to help maintain healthy cholesterol levels.</p>
<h3 class="art-subtitle">Avocado can lower cholesterol</h3>
<p>Heart disease is a common cause of death around the world and it’s known that several blood markers are linked to an increased risk.</p>
<p>These include cholesterol, triglycerides, inflammatory markers and blood pressure. </p>
<p>Eight controlled studies in people have looked into the effects of avocado on some of these risk factors, discovering that eating avocados can:</p>
<p>·         Reduce total cholesterol levels</p>
<p>·         Reduce blood triglycerides by up to <strong>20%</strong></p>
<p>·         Lower LDL cholesterol by up to <strong>22%</strong></p>
<p>·         Increase good (HDL) cholesterol as much as <strong>11%</strong></p>
<p>On the face of it these seem impressive results, but it’s worth noting that all of the studies were small and short term, including between 13 and 37 people over a duration of one to four weeks.</p>
<h3 class="art-subtitle">Avocado might help you lose weight</h3>
<p>Avocados might actually be a weight loss-friendly food.</p>
<p>A study discovered that people eating avocado with a meal felt <strong>23 per cent</strong> more satisfied and had a <strong>28 per cent </strong>lower desire to eat in the following five hours, compared to people who did not eat avocado.</p>
<p>Including avocados in your diet, if this is anything to go by, may help you to naturally eat fewer calories and make it easier to stick to your healthy eating habits.</p>
<h3 class="art-subtitle">Avocados are packed with fibre</h3>
<p>Avocados are rich with fibre. Fibre in your diet can contribute to weight loss, reduce blood sugar spikes, <strong>keep you feeling fuller</strong> and satisfied for longer and help to maintain good bowel health.</p>
<p>It has even been linked with a reduction in heart disease and cancer, although studies on this have not as yet proved conclusive.</p>
<p>Fibre is an important part of our diets and in one avocado, you can find 7 grams of fibre (27 per cent of the recommended daily allowance) in one 100 gram serving of avocado.</p>