<p>Whether it be lots of snacking on healthy foods, clocking up calories without realising, or not realising how many calories are in a protein bar (some are up to 400!) it can put a real dent in your targets.</p>
<p>It is important to snack smart. Many foods can be calorie dense, so they have a greater number of calories in a given volume or weight, so this means they can be high in calories but not filling at all.</p>
<p>Focusing your attention on low calorie but nutrient dense foods, you’ll be able to eat a larger amount of food while consuming fewer calories.</p>
<p>Here at musclefood we believe in snacks that are healthy, tasty and light in calories. That’s why we’ve put together a list of snacks that all clock in at less than 100 calories each, but are tasty and satisfying.</p>
<h2 class="art-subtitle">I Am Bart’s Espresso Cocoa Holy Bites</h2>
<figure class="kg-card kg-image-card"><img src="https://d3rxe6nylop6k3.cloudfront.net/catalog/product/cache/1/image/530x/9df78eab33525d08d6e5fb8d27136e95/i/a/iambartv2.jpg" class="kg-image" alt="BartsBalls"></figure>
<p>Rich in nutrients and made with organic ingredients and no added sugar, these <strong><strong>Espresso Cocoa Holy Bites</strong></strong> from I Am Bart’s are ideal for healthy snacking.</p>
<p>Featuring a unique combination of real coffee from Arabica beans, Peruvian cacao nibs, figs, raisins and beetroot, they’re packed with nutritional benefits.</p>
<p>Each bite comes in at just 80 calories and are lactose and gluten free to boot.</p>
<p>Well worth sticking in your office drawer, these are a good go-to when hunger strikes but you want to be mindful over what you’re eating.</p>
<h2 class="art-subtitle">Bananas</h2>
<p>Bananas might seem an obvious snacking choice, but they’re a fantastic source of natural sugars, fibre and potassium.</p>
<p>The carbohydrates and sugar in bananas help to boost your glycogen levels and the potassium helps your muscles to move and function.</p>
<p>A banana in particular is great as a pre-workout option for this reason, as it provides you with the energy to perform to your best. Eating one 30 minutes beforehand allows you to make the most of the nutrients it provides.</p>
<p>A small banana offers just 90 calories, so it’s a worthy snack candidate.</p>
<h2 class="art-subtitle">Hippeas Organic Chick Pea Puffs</h2>
<figure class="kg-card kg-image-card"><img src="https://d3rxe6nylop6k3.cloudfront.net/catalog/product/cache/1/image/530x/9df78eab33525d08d6e5fb8d27136e95/1/5/157805519-hippeas-cheese-love.jpg" class="kg-image" alt="HippeasCheese"></figure>
<p>The Hippeas Organic Chick Pea Puffs are a delicious snack made from organic chickpeas, organic sunflower oil and organic seasonings, making them a healthier alternatives to crisps.</p>
<p>They’re a source of protein, fibre and are diary free, gluten free and suitable for vegetarians.</p>
<p><strong><strong>Available in a variety of flavours</strong></strong>, they’re a great way to change up your snacking routine.</p>
<p>Each bag comes in at just 90 calories, too, so you can snack away without the guilt.</p>
<h2 class="art-subtitle">Dark Chocolate</h2>
<p>Dark chocolate is a better alternative to milk and white chocolate because, despite having similar amounts of calories, dark chocolate contains a lot less sugar and more fat content.</p>
<p>The lower amount of sugar in dark chocolate means you’ll crave sweet foods less, while the higher amounts of vegetable fats increases your satiety, making you feel fuller for longer.</p>
<p>Dark chocolate of at least 70% cocoa and is the best option to choose and three squares of it contains 90 calories.</p>
<h2 class="art-subtitle">Rice Cakes</h2>
<p>Rather than reaching for a bag of crisps when hunger strikes between meals, try rice cakes instead.</p>
<p>They are usually fat free and low in sugars and calories, while some are enriched with extra minerals and nutrients.</p>
<p>The number of calories in rice cakes vary from 35 to 80 calories, depending on which brand you choose. One of the best toppings is cream cheese, which is fairly low in calories and you can find ‘light’ versions which contain even fewer calories.</p>
<h2 class="art-subtitle">Peanut Butter</h2>
<p>Peanut butter is a delicious snack that clocks in at less than 100 calories, whether you prefer the smooth or chunky variety.</p>
<p>Eating a moderate amount of peanut butter in one serving keeps the calories down, yet it is more than enough to keep you going between meals.</p>
<p>Half of the fat in peanut butter is made up of oleic acid, a healthy type of monounsaturated fat that is also found in olive oil. It also contains antioxidants.</p>
<p>A tablespoon of peanut butter is approximately 96 calories, so you don’t need to eat much to enjoy its benefits.</p>