<p>Your body is roughly 60 per cent water. You are constantly losing water from your body, primarily from urination and sweat so to prevent dehydration, you need to drink adequate amounts of water.</p>
<p>The NHS recommends to drink between six and eight glasses a day, while the American advice is to drink eight eight-ounce glasses of water a day, which equals about two litres, or half a gallon.</p>
<p>This article takes a look at a few ideas which explore how to easily match your water intake to your individual needs.</p>
<h2 class="art-subtitle">Does water help prevent health issues?</h2>
<p>We’re told that drinking water is good for us, but what exactly does that mean?</p>
<p>There are a number of health problems which reportedly respond well to an increased water intake.</p>
<p>Research has suggested that constipation can be eased and prevented through drinking more water.</p>
<p>It is a common problem for many people but research from the University of Napoli states that increasing water intake leads to an increase in stool output from the body.</p>
<p>Kidney stones is another condition which may be eased through drinking more water. A study by the University of Parma suggests that the symptoms of kidney stones can be eased with an increased water intake.</p>
<h2 class="art-subtitle">Does water intake affect energy levels?</h2>
<p>It has been claimed by a number of experts down the years that if you don’t stay hydrated throughout the day your energy levels and brain function will begin to suffer.</p>
<p>There is research that seems to back this up, too.</p>
<p>A study from the Human Performance Laboratory at the University of Connecticut, which focused on young, healthy women, discovered that a fluid loss of 1.36 per cent after exercise impaired mood and concentration and increased the likelihood of headaches.</p>
<p>Further studies, including this one from the Units of Psychology and Bioenergetics and Environment in France found that mild dehydration (one to three per cent of body weight) had a negative effect on the function of the brain.</p>
<p>White it might not seem it, just one per cent of body weight is a significant amount. Losses such as this occur primarily when you’re sweating a lot.</p>
<p>Studies at Loughborough University discovered also that mild dehydration can negatively affect physical performance, leading to a reduction in endurance.</p>
<h2 class="art-subtitle">Does drinking water help you lose weight</h2>
<p>There are many claims that increasing your water intake can help you to lose weight, through increasing your metabolism and reducing your appetite.</p>
<p>This study conducted in Germany concluded that drinking 500ml of water can temporarily boost metabolism by 24 to 30 per cent.</p>
<p>The researchers estimated that drinking two litres in one day increased energy expenditure by roughly 96 calories per day.</p>
<p>Drinking water around half an hour before meals can also reduce the number of calories you end up, especially in older individuals.</p>
<p>One study discovered that dieters who drank 500ml of water before each meal lost 44% more weight over 12 weeks, compared to those who didn’t.</p>
<p>Also, it may be more beneficial to drink cold water because your body needs to use more calories to bring it up to body temperature.</p>
<p>There’s plenty of evidence to suggest that drinking good amounts of water, particularly before meals, may have a significant effect on weight loss, especially when in tandem with a healthier diet.</p>
<h2 class="art-subtitle">When do I drink?</h2>
<p>Maintaining water balance is vital and for this reason, your body has a sophisticated system for regulating when and how much you drink.</p>
<p>When your total water content goes below a certain level, thirst starts. This is a process similar to breathing in that you don’t need to consciously think about it for it to occur.</p>
<p>For many people, there isn’t too much of a need to worry about water intake as the thirst instinct is usually reliable.</p>
<p>However, certain circumstances might require an increase in water intake, for example during times of increased sweating.</p>
<p>This could be brought on through exercise or hot weather, especially in dry climates. If you find you are sweating a lot, it is important to replenish the lost fluid with water.</p>
<p>If you are performing athletic or sport related activities for a prolonged period of time, you may need to also replenish lost electrolytes along with water.</p>
<h2 class="art-subtitle">How much water is best?</h2>
<p>Exactly how much water you need depends on the individual, everything from your metabolism, to height and weight can change the amounts needed.</p>
<p>Try to experiment and see what works best for you. Some people might function better through increasing their water intake from the usual, while others might find it doesn’t make much of a difference.</p>
<p>The basic principles to follow are:</p>
<ul>
<li class="art-li1">•Drink when you are thirsty</li>
<li class="art-li1">•Stop drinking when you are no longer thirsty</li>
<li class="art-li1">•During exercise and periods of high heat, drink enough to make up the loss of fluids from the body</li>
</ul>