<p>Thanks to the success of the Atkins diet decades back and the more recent Keto (high fat, low carb) many of us fear carbs.</p>
<p>Remember “no carbs before Marbs?” Even reality TV shows were warning against them!</p>
<p>Their message being you can’t eat and enjoy carbohydrates if you’re watching your weight, but it’s a myth.</p>
<p>The problem isn’t that carbohydrates are the enemy that add to your waistline if you even look at them; the problem is that most of us don’t understand what carbs are and how to include them in a healthy diet.</p>
<h2 class="art-subtitle">Lose Weight Eating Carbs</h2>
<h2 class="art-subtitle">Carbs explained</h2>
<p><strong><strong>Many of us don’t know what carbs really are.</strong></strong> Carbs include bread, pasta and potatoes, but they’re just a small element of it.</p>
<p>A carbohydrate is essentially strings of sugar molecules together.</p>
<p>Those sugar molecules are called saccharides, a single sugar molecule is a monosaccharide (mono meaning “one”); a category including glucose – the sugar in our blood – and fructose, found mostly in fruits and honey.</p>
<p>Two sugar molecules make a disaccharide such as table sugar – known as sucrose – which comprises glucose and fructose.</p>
<p>Add extra sugar molecules and you begin to get into complex carbohydrates. Three or more makes an oligosaccharide (oligo meaning “a few”) and one you reach the nine molecule mark it’s usually a polysaccharide (poly meaning “a lot.”)</p>
<p>The general rule is <strong><strong>complex carbohydrates – found in whole grains, vegetables and legumes – are far more nutritious</strong></strong>, more slowly digested and less likely to spike your blood sugar levels than simple carbohydrates, typically found in chocolate, white bread and fizzy drinks.</p>
<p>Starch – the most common carb that we eat and found in bread, pasta and potatoes for example – is a polysaccharide made up of nine or more glucose molecules.</p>
<p>The third type of carb is fibre. Their saccharide chains are too complicated for the human body to use as energy but they play an important part in the digestive system.</p>
<h2 class="art-subtitle">Why carbs are important</h2>
<p>Carbs keep you going. <strong><strong>Almost all carbohydrates we eat are converted into glucose, which is our body’s main energy source.</strong></strong></p>
<p>Low carb diets such as keto still prescribe at least 50g of carbohydrates per day because without them, you’d soon start flagging.</p>
<p>Quality carbohydrates are vital if you’re active or training because if you cut them back from your diet you won’t have the energy to train to your best.</p>
<h2 class="art-subtitle">Eat less overall</h2>
<p>It’s true that eating too many carbohydrates will make you put weight on. But the same goes for anything – be it carbs, fat or protein – eat too much of them and you’ll pile on the pounds.</p>
<p><strong><strong>The key thing to remember is you’ll lose weight by eating fewer calories than you expend and any weight loss plan will be successful if you’re burning off more calories than you’re eating.</strong></strong></p>
<p>So, provided you don’t eat too much bread, pasta or potatoes or any other carb, you’ll be able to eat them regularly and keep your weight under control.</p>
<h2 class="art-subtitle">The best carbs to eat</h2>
<p><strong><strong>Some sources of carbohydrates are more nutritious than others.</strong></strong></p>
<p>You should look to eat carbs which are minimally processed, naturally high in dietary fibre and ideally have a low glycemic index, as well as carbs which are sources of minerals and vitamins.</p>
<p>Bread is the vice of many a carb lover but when choosing a loaf, avoid cheaper ones and go for sourdough or multigrain varieties. They may be pricier, but are of much better quality.</p>
<p>For pasta, choose whole grain where possible and with rice, go for long grain varieties such as basmati or brown.</p>
<p>Milk and yogurt are nutritious sources of carbohydrates, along with starchy vegetables like potatoes, peas and parsnips. Sweet potato and butternut squash are even better choices than regular potato because they’re more slowly digested and absorbed by the body.</p>
<figure class="kg-card kg-image-card"><img src="https://s3-eu-west-1.amazonaws.com/musclefooduk/images/articles/21831-article-images/low-carb-food.jpg" class="kg-image" alt="LowCarbFood"></figure>
<h2 class="art-subtitle">Carbs curb hunger</h2>
<p>Research has found that when dieters are taken off a low-carb diet and move to a meal plan that includes plenty of fibre and resistant starch foods, their cravings go away.</p>
<p>The fibre and resistant starch fills you up and is more likely to satisfy you while allowing you to eat the foods you crave. <strong><strong>These carbohydrates raise your saiety hormones and tell the brain to stifle hunger and raise metabolism, so there’s a increased chance you’ll eat less.</strong></strong></p>
<p>Many carbs fill you up because they are digested more slowly than other types of foods, making you feel fuller and this in turn means you’ll consume fewer calories as you feel less hungry.</p>
<h2 class="art-subtitle">Conclusion</h2>
<p>You can still include carbohydrates in your diet and keep excess weight at bay, there’s no need to be fearful of them.</p>
<p>If you want to improve your eating habits, choose unprocessed foods such as lean meats, fish, eggs, vegetables, avocados and full fat dairy products. Add a few good carbohydrates around these, like those found in brown rice or sweet potatoes, which come from unrefined starch sources.</p>
<p><strong><strong>Added sugar and refined wheat are bad sources and should be limited or avoided altogether.</strong></strong></p>
<p>If you want to lose weight effortlessly while giving yourself room for carbs, try to eat 50 to 100 grams of carbohydrates per day; think plenty of vegetables, two to three pieces of fruit and cut back on the starchy carbohydrates.</p>
