<p>Cholesterol is a waxy substance produced by your liver and obtained by eating animal products such as meat, dairy and eggs.</p>
<p>Your liver will also produce less cholesterol if you consume a lot of it through food, so usually dietary cholesterol rarely has an impact on your total cholesterol levels.</p>
<p>However, <strong><strong>eating large amounts of saturated fat, trans fat and sugars can raise cholesterol levels.</strong></strong></p>
<p>High cholesterol levels increase your risk of heart disease, clogged arteries and kidney failure.</p>
<p>There are two kinds of cholesterol. LDL (low-density lipoprotein) is known as bad cholesterol that can result in cholesterol deposits in blood vessel walls, causing the health issues mentioned above, while good HDL (high-density lipoprotein) helps carry cholesterol away from vessel walls and prevent these diseases.</p>
<p>Lifestyle changes can help you to reduce your cholesterol.</p>
<p>This article looks at ways you can increase the good (HDL) cholesterol and lower the bad (LDL) cholesterol levels in your body.</p>
<h2 class="art-subtitle">How To Lower Cholesterol</h2>
<h2 class="art-subtitle">Eat fruits and vegetables</h2>
<p>An easy way to lower LDL cholesterol levels is by eating fruits and vegetables.</p>
<p>A study has shown that adults who consume at least four servings of fruit and vegetables per day have roughly 6% lower LDL cholesterol levels than people who ate fewer than two servings a day.<sup><a href="https://www.ncbi.nlm.nih.gov/pubmed/14749225">1</a></sup></p>
<p><strong><strong>Fruits and vegetables also contain high numbers of antioxidants</strong></strong>, which prevent LDL cholesterol from forming plaques in your arteries.</p>
<h2 class="art-subtitle">Add herbs and spices to cooking</h2>
<p>Many people don’t realise that herbs and spices are packed with health-boosting nutrients, including vitamins, minerals and antioxidants.</p>
<p>Research has discovered that garlic, turmeric and ginger are particularly effective at lowering cholesterol when they are eaten regularly.</p>
<p>In addition to lowering cholesterol, <strong><strong>herbs and spices contain antioxidants which prevent LDL cholesterol from forming within your arteries.</strong></strong></p>
<p>Even though herbs and spices are not usually eaten in large quantities, they can make a significant contribution to the total amount of antioxidants consumed.</p>
<h2 class="art-subtitle">Eat unsaturated fats</h2>
<p>Two main types of fats are found in food – saturated fat and unsaturated fat.</p>
<p>Saturated fat, found in margarine, crisps and baked goods, contain no double bonds, pack together tightly and stay solid at room temperature.</p>
<p>Unsaturated fats contain at least one double bond and have a bent shape, preventing them from bonding together as tightly. These are liquid at room temperature.</p>
<p>Research shows that replacing most of your saturated fats with unsaturated fats can <strong><strong>reduce total cholesterol by 9% and LDL cholesterol by 11%</strong></strong> in just a few weeks.<sup><a href="https://www.ncbi.nlm.nih.gov/pubmed/27737722">2</a></sup></p>
<p>Foods such as avocados, olives, oily fish and nuts contain plenty of heart healthy unsaturated fats, so it’s beneficial to have these in your diet regularly.</p>
<h2 class="art-subtitle">Avoid artificial trans fats</h2>
<p>Trans fats can be found naturally in red meat and dairy products, but most people’s main source of them are artificial trans fats used in processed foods.</p>
<p>Artificial trans fats are produced by hydrogenating, or adding hydrogen to, unsaturated fats such as vegetable oils to change their structure, which sees them become solidified at room temperature.</p>
<p>Trans fats are a cheap alternative to natural saturated fats and have widely been used by food manufacturers and restaurants.</p>
<p>However, research has shown that <strong><strong>eating artificial trans fats increases “bad” LDL cholesterol, lowers “good” HDL cholesterol</strong></strong> and is linked to an increased risk of heart disease.</p>
<p>Naturally occurring trans fats found in meat and dairy can also raise LDL cholesterol but they are usually present in small enough quantities to generally not be considered damaging to your health.</p>
<h2 class="art-subtitle">Eat foods containing soluble fibre</h2>
<p>Soluble fibre is found in beans, legumes and whole grains along with apples and citrus fruits.</p>
<p>Soluble fibre lowers cholesterol by preventing reabsorption of bile in the stomach, which leads to the excretion of bile. The body then pulls cholesterol from the bloodstream to create more bile, reducing levels in the process.</p>
<p><strong><strong>Regular consumption of soluble fibre has been shown to reduce the total amount of cholesterol and “bad” LDL cholesterol</strong></strong> in a number of weeks.<sup><a href="https://www.ncbi.nlm.nih.gov/pubmed/27807734">3</a></sup></p>
<p>It has been recommended that you should eat at least 5-10 grams of soluble fibre each day to enjoy maximum cholesterol-lowering effects, but it can also make a positive difference at a lower 3 gram intake.</p>
<h2 class="art-subtitle">Drink green tea</h2>
<figure class="kg-card kg-image-card"><img src="https://s3-eu-west-1.amazonaws.com/musclefooduk/images/articles/21819-is-your-matcha-a-fake/matcha-latte-cup.jpg" class="kg-image" alt="MatchaTea"></figure>
<p>Green tea is an anti-oxidant powerhouse, which has long been linked with positive effects on cholesterol levels.</p>
<p>Studies have shown that <strong><strong>consuming green tea daily for at least two weeks lowers total cholesterol and “bad” LDL cholesterol.</strong></strong></p>
<p>As it is rich in antioxidants, which can prevent LDL cholesterol from forming in your arteries, it’s a worthwhile addition to your diet.</p>
<p>Drinking four cups of green tea a day has been shown to provide the greatest protection against heart disease, but even just the one cup a day still can contribute to better heart health.</p>
<h2 class="art-subtitle">Exercise</h2>
<p>Outside of your diet, exercise is good for heart health. Not only does it improve your physical fitness and help to prevent putting on weight, but <strong><strong>it can also reduce harmful LDL and increase beneficial HDL levels.</strong></strong></p>
<p>Moderate physical activity can help to raise HDL cholesterol levels, with 30 minutes activity five times a week, or vigorous aerobic activity for 20 minutes three times a week having a positive effect.</p>
<p>Adding physical activity in short intervals several times a day can help you to lose weight and ward off high cholesterol, such as going walking, taking a bike ride or playing sport.</p>
<h2 class="art-subtitle">Lose weight</h2>
<p>Even carrying a few extra pounds of weight can affect cholesterol levels and a small change to eating habits can help.</p>
<p>Cutting out sugary drinks in favour of tap water, sugary snacks for fruits or sweets with little fat and keep a general count of your calories to ensure you’re not going over your recommended daily allowance.</p>
<p><strong><strong>Dieting influences upon how your body absorbs and produces cholesterol.</strong></strong></p>
<p>Weight loss benefits you by increasing the better HDL cholesterol levels and lowering those of the harmful LDL.</p>
<h2 class="art-subtitle">Conclusion</h2>
<p>Even carrying a few extra pounds of weight can affect cholesterol levels and a small change to eating habits can help.</p>
<p>Cutting out sugary drinks in favour of tap water, sugary snacks for fruits or sweets with little fat and keep a general count of your calories to ensure you’re not going over your recommended daily allowance.</p>
<p><strong><strong>Dieting influences upon how your body absorbs and produces cholesterol.</strong></strong></p>
<p>Weight loss benefits you by increasing the better HDL cholesterol levels and lowering those of the harmful LDL.</p>