 <p>Working from home is challenging. Apart from reduced social interaction and the domestic juggling involved, homes are not usually designed to replicate a workplace environment when it comes to employees’ health.</p>

<p>Instead, improvised work stations have become the norm for many people, whether it’s a dining table, a sofa, or even a corner of floor space. None of these are ideal for posture or avoiding back and neck pain. In recent weeks, we have had numerous inquiries at the Welsh Institute of Chiropractic from people seeking advice as a result of their new working conditions.</p>

<p>One of the main challenges facing clinicians dealing with these problems is the number of myths and misunderstandings that exist around low back pain – for example, that it is caused by a weak core (it isn’t) or that it will become persistent and get worse in later life (most cases improve). </p>

<p>This is not to say that low back pain is not a serious health issue, because it most certainly is. It is the most common musculo-skeletal condition in the world, with an estimated 577 million cases at any point in time – and is the leading cause of absenteeism from work. This makes low back pain one of the major public health concerns in most countries throughout the world, with a huge impact on their economies. </p>

<p>On the plus side, there are some encouraging facts about the condition that are well supported by clinical research. For example, we now know that a negative mindset and poor coping strategies are associated with persistent pain, while flare-ups are usually related to changes in activity, stress and mood rather than structural damage.</p>

<p>Also, effective care for low back pain is relatively cheap and safe, and can be improved by better physical and mental health, as well as healthy sleep habits and body weight.</p>

<p>When it comes to ideal sitting positions, these are likely to be different for different people – simple generalisations don’t work for everyone. But studies have demonstrated that “postural variability” (changing your position) and regular subtle movements while sitting are important. This could be as simple as regularly crossing and uncrossing your legs – at both the thigh and ankle – or moving to the edge of the chair and back, or side to side. Think of it as fidgeting to stay fit. </p>

<p>This particular point was addressed in a recent investigation, which recruited 90 participants (61 with no history of low back pain, 29 with) who were asked to sit for one hour, while data was collected on back muscle activity, spine posture and pain.  </p>

<p>The researchers concluded that sitting-induced back pain does not appear to be due to posture or muscle activity. Instead, it may be related directly to “micro-movement” – such as fidgeting while sitting (what we call “dynamic sitting postures”). Those who developed pain did not sit differently – but they did move less.  </p>

<h2 class="art-subtitle">Back to work</h2>

<p>So what do these findings mean for those of us working from home or sitting for long periods? Wherever you are sitting – at home or in an office – it is vital to keep moving regularly. And, while sitting itself does not actually damage the spinal structures directly, there are significant benefits from limiting uninterrupted sedentary time to around 20 minutes.</p>

<figure class="align-center ">
            <img alt="" src="https://images.theconversation.com/files/345539/original/file-20200703-33939-1sb14q8.jpg?ixlib=rb-1.1.0&amp;q=45&amp;auto=format&amp;w=754&amp;fit=clip" >
            <figcaption>
              <span class="caption">Yoga helps.</span>
              
            </figcaption>
          </figure>

<p>Equally important is the fact that prolonged sitting reduces blood flow to the brain and decreases cerebro-vascular function, which is associated with lower cognitive ability. Reduction in cerebral blood flow is offset when frequent short-duration walking breaks are included in a sitting period.</p>

<p>Here are ten tips courtesy of the US therapist Kelly Starrett to think about before you next sit down to work. </p>

<ol>
<li>Learn to breathe from your stomach.</li>
<li>Sit on the edge of your chair.</li>
<li>At home, sit on the floor some times instead of a chair or sofa.</li>
<li>Sit cross-legged when you can (but keep changing the position and leg regularly).</li>
<li>Get up from your chair every 20 minutes.</li>
<li>Stay hydrated to keep your body cool, and assist muscle and joint function.</li>
<li>Try “man-spreading” (stretching your legs outwards while sitting) which helps to maintain and improve hip function and mobility.</li>
<li>Stand up at your desk or elevate your workstation using items such as books or boxes at home.</li>
<li>Take the time to perform a full-range hip movement (using the legs for support) and brace the lower back when standing up and sitting down – this avoids placing stress on the lower back and distributes the movement throughout the entire body</li>
<li>Try yoga and pilates to supplement your exercise regime – both help to maintain and improve flexibility. </li>
</ol>

<p>The key message is that regular movement of any kind is important for your health – even when you are sitting down.</p>