<div>
<p>While some are citing the benefits of being able to work from home and rantine-benefits-positive-stay-at-home-order-stories">having time for self-care, the closures of recreational facilities and commercial gyms make physical distancing a barrier to physical activity for many. </p>

<p>In response, several health organizations and groups are emphasizing the importance of meeting physical activity guidelines. The Canadian Society for Exercise Physiology recommends 150 minutes of moderate-to-vigorous physical activity per week, which is roughly 30 minutes of exercise a day, five days a week. Assuming people are spending half an hour a day exercising, and then factoring in the 7.5 to eight hours of sleep the average adult gets</a>, that leaves 15.5 waking hours unaccounted for. </p>

<p>So, what are people doing in the other 97 per cent of the day they spend awake? If you’re like the average Canadian, then 9.5 hours of your day is spent sitting.</p>

<h2 class="art-subtitle">The science of sitting</h2>

<p>Sitting, a form of sedentary behaviour (along with lying down and reclining), is one of the most prevalent, habitual and “invisible” behaviours we perform. We sit in nearly every aspect of our lives from eating to commuting and working to screen time and more. </p>

<p>This is especially true of home-based sitting given the current stay-at-home recommendations. Netflix and other streaming services announced significant increases in traffic and new subscribers recently, while app downloads and weekly time spent on apps have also skyrocketed in the past months. </p>

<p>But why is sitting this much so bad? It may sound harmless, but chronic excessive levels of sitting have been associated with an increased risk of developing heart disease, Type 2 diabetes, hypertension and even some cancers. Even among young people, for whom chronic disease risk isn’t as immediately concerning, excessive sitting poses a potential harm through an increased risk of depression and anxiety. </p>

<p>Perhaps most concerning is that these increased risks are independent of physical activity levels — meaning even if you exercise regularly, you’re still placing yourself at risk for all of these diseases if you spend too much time sitting.</p>

<h2 class="art-subtitle">Tips to sit less</h2>

<p>So, what can be done to combat all the sitting we do? Put simply — just standing up. Merely standing up or walking for about five minutes for every 30 minutes of sitting can help reduce your risk of heart disease, cancer and even death. </p>



<p>Unfortunately, it’s not as easy as it sounds. As a health behaviour researcher at Western University, I help people to develop action plans to reduce their sitting. Because we are so used to sitting everywhere, all the time, we typically don’t mention sitting when describing activities we are doing. For example, we think of watching TV, not sitting down and watching TV. </p>

<p>It’s difficult enough to change a habit or behaviour when you know it’s happening. Things get harder when you also consider that nearly every environment is designed for sitting: couches, chairs, cars, offices, etc. However, there are things we can do to make “sitting less” easier. Here are some practical strategies that I’ve found to be useful for my participants to leave you in “good standing”:</p>

<p>• <strong>Shape your environment:</strong> Just like being physically active is easier with the right equipment, modifying your space for standing and moving will make it easier to do so. This can be done by stacking some books for a standing desk or creating a route to pace in the house while on chatting on your phone.</p>

<p>• <strong>Remind yourself you’re sitting:</strong> Because sitting is so habitual for most of us, we often need a reminder to break it up. Setting an alarm for every 30 minutes before sitting down, or simply putting a sticky note on your computer screen or desk of when you sat down can be a useful prompt to get up more often.</p>



<p>• <strong>Pair it up:</strong> A break from sitting isn’t necessarily a break from what you’re doing, such as working or watching TV. But if standing/moving distracts you from your task, then pair it with another healthy behaviour like drinking more water. Getting up to drink water will break up your sitting time, as will going to the washroom more often as a result. Plus, you’ll get all the <a href="https://www.cdc.gov/healthywater/drinking/nutrition/index.html">benefits of drinking more water too</a>. </p>

<p>• <strong>Go the distance:</strong> When it comes to breaking up sitting time, the more frequent the breaks, the better. Incidental movement — the moving we do while going about our day such as doing laundry or the steps we take while walking around our home — is an easy way to break up sitting time. Try tracking your steps, and setting a step goal (aim for 2,000 more this week!) to help you monitor your progress.</p>

<p>• <strong>Tell a friend:</strong> Keeping accountable with a housemate or friend can help keep you motivated. Most smartphones have a built-in activity tracker that can track your steps, with apps available to share this data with your social network. Competing for steps with a friend can put the “health” in “healthy competition!”</p>
  </div>