 <p>Though it’s recommended that we get a daily average of 60 minutes of physical activity, many of us struggle to find that much time. This might be one of the reasons high-intensity interval training (HIIT) workouts – which take just 15-30 minutes to complete – have become so popular. </p>

<p>Though HIIT workouts might be short, a growing body of research shows they’re just as effective as longer endurance workouts for our health and fitness.</p>

<p>There are many different versions of high-intensity workouts, including CrossFit and Tabata. But the latest trend is AMRAP, which stand for “as many reps (or rounds) as possible”. There’s little research looking specifically at the effects of AMRAP workouts. But based on what research shows about the effects of HIIT, it’s likely this short but adaptable form of exercise can provide similar health benefits.</p>

<p>AMRAP training is based on time. You work to complete as many repetitions or rounds of exercises as possible within a set time. For example, you could do ten press-ups, ten crunches and ten jump squats, repeated in that order for as many rounds as possible until time expires. Or to make things simpler, you could perform a single exercise (such as burpees) for as many repetitions as possible for 60 seconds before taking a rest and repeating. There’s no specific time requirement, and workouts can be adjusted according to fitness levels. However, most AMRAP workouts tend to be between five and 30 minutes long, with no rest period after each exercise.</p>

<p>Some Tabata workouts – which usually involve a person performing 20 seconds of intense exercise, followed by ten seconds of rest, repeated eight times – take as little as four minutes, but remarkably have been shown to improve a person’s aerobic fitness by as much as 18% following 24 exercise sessions over an eight-week training period. This is important because our level of fitness has a powerful protective effect against cardiovascular disease. In these studies, fitness is typically defined as the maximum amount of oxygen you can use during intense exercise – known as V̇O₂max.</p>

<figure class="align-center ">
            <img alt="Young woman doing press-ups" src="https://images.theconversation.com/files/349145/original/file-20200723-25-1e1w58x.jpg?ixlib=rb-1.1.0&amp;q=45&amp;auto=format&amp;w=754&amp;fit=clip" >
            <figcaption>
              <span class="caption">You might aim to perform as many press-ups as possible in one minute.</span>
            </figcaption>
          </figure>

<p>Though it’s seen a recent spike in popularity, AMRAP training isn’t new. This form of training has been used in high-intensity circuit training for decades – most recently popularised by strong evidence shows HIIT can improve blood pressure, blood sugar control and lower body fat.</p>

<p>Also, improvements in aerobic fitness following HIIT exercise are similar – or even greater than – those seen after typical endurance training, such as running or cycling, despite a significantly lower exercise volume. Aerobic fitness is important for our health and might even be more important than the total amount of exercise that we do.</p>

<h2 class="art-subtitle">Increase intensity</h2>

<p>The key reason HIIT seems to be so effective is because it rapidly uses muscle glycogen (stored carbohydrates) through a process known as glycogenolysis. Research shows that during HIIT performed on a cycling machine, it’s the rate of glycogenolysis that acts as a “signal” to the body to increase fitness, which in turn leads to improvements in health and performance. In short, the intensity of exercise is important.</p>

<p>Although it’s uncertain if a similar mechanism happens following AMRAP workouts, it’s reasonable to assume they might be similar, especially if the activity is performed at a high intensity. Indeed, CrossFit has been shown to improve aerobic fitness, anaerobic capacity and body composition (lowering body fat and increasing muscle) in people with varying fitness levels.</p>


<p>However, there are drawbacks to AMRAP-type workouts. The intensity of the exercise could make it difficult or unsuitable for many, particularly those who aren’t active, or have long-term medical conditions. Also, high-intensity AMRAP can be very physically challenging so it’s likely to feel unpleasant, which might make some people less likely to stick with this type of exercise. </p>

<p>Tabata-type workouts are shown to be less enjoyable to participants, and other approaches to HIIT cause greater displeasure compared with moderate-intensity continuous cycling. Just as with any workout, the benefits of AMRAP will only be seen if a person continues doing them.</p>

<p>But our research has found that reduced-exertion approaches to HIIT can reduce strong feelings of displeasure during workouts. This type of HIIT decreases the total time spent completing high intensity exercise, making it more tolerable. However, it’s uncertain if balancing volume and intensity during exercise brings the same positive health changes following HIIT.</p>

<p>Higher intensity exercise also raises concerns about injury risk. A recent review found the number of injuries sustained during CrossFit was quite high (between 19% and 74% of participants). Most injuries were to the shoulder or lower back. The challenge of working to a time limit during AMRAP could lead to poor technique, which may increase injury risk – particularly in those who are inexperienced.</p>

<p>Regular high-intensity workouts could also increase chances of developing rhabdomyolysis, a rare but dangerous condition where muscle damage increases calcium levels, although the risk remains low.</p>

<p>AMRAP training is highly versatile and can be adapted for a wide range of fitness levels and environments. For example, it can be done at home doing only body-weight exercises. The intensity of the activity can also be modified to make it more manageable, but this may not lead to significant fitness increases.</p>

<p>It may be a cliché but it’s true: the best exercise is the exercise you will do. AMRAP will be effective for some but it might not work for everyone. Good exercise technique, progressive overload, and sticking to a routine are important for success.</p>