<div>
<p>While reducing calorie intake is a proven way to reduce your weight, there’s no shortage of diets promising the same results but with more flexibility. One such popular diet is “If It Fits Your Macros” (IIFYM), which offers users less restriction in what they eat, while still guaranteeing results.</p>

<p>Rather than counting calories, IIFYM counts the daily macronutrients (fats, carbohydrates, and proteins) found in the foods and drinks we consume. Many people like the diet because it offers flexibility and allows them to consume any food as long as it fits into their daily macronutrient (“macro”) requirements.</p>

<p>However, there’s currently no scientific research that has specifically examined whether counting macros is as effective as other methods in achieving different weight goals. Past research has looked into the effects of reducing or manipulating individual macros for weight loss, such as comparing the effect of consuming a low-fat versus low-carbohydrate diet or comparing four diets containing different proportions of fat, carbohydrate and protein. Ultimately, researchers found no significant, long-term difference between the diets on how much weight they helped people lose) – and all are difficult to adhere to in the long term. </p>

<p>As such, this makes it difficult to know whether counting calories or macros is more useful when it comes to your different body weight goals.</p>

<h2 class="art-subtitle">Weight loss</h2>

<p>The basic principle to achieving weight loss is eat less energy than your body requires on a daily basis and you will lose weight. Any diet can lead to weight loss as long as this basic principle is applied. </p>

<p>The tricky part is establishing what our energy requirements really are. The most practical and accurate measure of this, indirect calorimetry (a measurement of the gases that we breathe from which energy expenditure can be estimated), is still not 100% accurate. And the prediction equations commonly used in dietary counselling and by online apps to set calorie intake goals for weight loss are even more inaccurate. This is especially so in those who are overweight or obese due to the equations being based on body weight, and not taking account of fat mass.</p>

<p>But whether you’re counting calories or macros, you still need this starting point to work from to keep within your targets. While our actual energy requirements are uncertain and can vary greatly depending on how active we are, our requirements for macronutrients are more certain, based on government guidelines.</p>

<p>An advantage of counting macros is that it ensures that some essential nutrients are incorporated into your diet, instead of focusing solely on calories. Counting calories takes no account of nutrients. And while it seems obvious that choosing wholesome nutritious sources of calories is better than processed, high-sugar and saturated fat foods, you could hypothetically eat seven chocolate bars (each worth 228 calories, a total of 1,596 calories) and still lose weight if your total energy expenditure is around 2,000 calories a day.</p>

<p>Macro calculations are estimated based on body weight, height and activity levels and can be adjusted to your weight goal. While fewer restrictions on what to eat may be a bonus for some on IIFYM, for others keeping track of macro intake and hitting those targets can be difficult and time consuming.</p>

<figure class="align-center ">
            <img alt="Young woman uses smartphone to track food calories." src="https://images.theconversation.com/files/356947/original/file-20200908-18-eujzz5.jpg?ixlib=rb-1.1.0&amp;q=45&amp;auto=format&amp;w=754&amp;fit=clip" >
            <figcaption>
              <span class="caption">Tracking both macros and calories can be time consuming.</span>
            </figcaption>
          </figure>

<p>Whatever you’re counting you’ll require an affinity for reading food labels and keeping a record of all foods and fluids consumed throughout the day. While there are numerous online nutritional databases and apps that help you track macros and calories, they may not always be accurate either. Plus there’s the added complication that we may not actually absorb all of the energy or nutrients that food labels list, making it even harder to meet specific targets.</p>

<p>Additionally, neither method will guarantee that you meet all of your other nutrient requirements. For example, as macros only focus on carbs, protein and fats, they may overlook the importance of other vitamins and minerals, such as vitamin A, which are essential for staying healthy and preventing deficiencies. Unless combined with dietary advice about making permanent changes to a healthy balanced diet, neither method is a long-term solution to weight loss or maintenance.</p>

<h2 class="art-subtitle">Muscle gain</h2>

<p>On the opposite end of the spectrum are people looking to gain weight to build muscle. Someone looking to gain muscle would need to increase their basic daily protein intake to around 1.2-1.7 grams of protein per kilogram of body weight for muscles to repair any micro-damage that occurs from resistance or strength training which is necessary for muscle growth. As well as protein, energy and carbohydrate needs must also be met to ensure the body has enough fuel available to work out. This is where keeping track of macros, instead of counting calories, could be useful to ensure all protein and carbohydrate requirements are met. </p>

<p>Timings of macros are also important for muscle growth. Research shows regular protein intake throughout the day and after exercise, rather than large single doses, is recommended for muscle growth and refuelling.</p>

<p>Ultimately, which method you choose for altering body weight and composition depends on your goals and how motivated and tech savvy you are. If you are keen to learn more about the nutrients in the food you are eating then counting macros may be for you. For those who find endless counting and monitoring tedious it may be easier to follow more general guidance for bulking up.</p>
</div>