<div>
 <p>When I noticed my 12-year-old son was spending about seven hours a day doing his school work online due to the COVID-19 pandemic, I immediately became concerned. As a researcher who focuses on how to get kids to be more physically active, I knew my son and his classmates were spending too much time sedentary.</p>

<p>Being physically active is good for everyone’s physical and mental health, including children of all ages and abilities.</p>

<p>Kids who are more physically active tend to get better grades and develop the self-confidence that can empower them to succeed later in life.</p>

<p>For people with disabilities, physical activity can help them gain independence. </p>

<h2 class="art-subtitle">A summer slide in physical activity</h2>

<p>The arrival of summer vacation might allay concerns parents have about their children being too sedentary. I remember summer vacation as a welcome break from sitting in school and being stuck indoors. However, the reverse may be true for many kids today. </p>

<p>In the U.S., a study of 18,170 young children found that the share of children who were obese rose from 8.9% to 11.5% between kindergarten and second grade. The increase generally occurred over the summer, not when kids were in school. </p>

<p>Researchers think a lack of structured summertime activities can cause kids to make unhealthy choices. This idea is bolstered by a review of 37 studies that found children were less active on weekends than on school days, and research showing that kids spend more time using screens in the summer than during the school year.</p>

<h2 class="art-subtitle">One hour a day – an elusive goal</h2>

<p>The Department of Health and Human Services recommends that school-aged children and adolescents spend at least a total of one hour each day running, biking or doing another physical activity. Yet, according to the Centers for Disease Control and Prevention, about 1 in 4 kids between the ages of 6 and 17 were meeting that recommendation prior to the pandemic.</p>

<p>Even children who participate in organized sports may not be obtaining the prescribed 60 minutes of activity per day. One study found that children in flag football leagues spent only 20 minutes exercising during team practices. This finding is fairly consistent across other sports, such as soccer and basketball, where no more than about half of practice time was spent exercising.</p>

<p>The level of physical activity plummets when kids reach middle school, and it doesn’t make much of a difference whether they’re on teams or not. A study in San Diego found that kids between 11 and 14 years old spent a total of seven minutes less on physical activity, as compared to children between 7 and 10 years old, during sport practices.</p>

<p>Meanwhile, children and adolescents spend as much as eight hours daily doing things like watching TV, using smartphones and playing video games.</p>

<h2 class="art-subtitle">School physical education – the pill not taken</h2>

<p>When it comes to promoting physical activity, researchers have referred to physical education as “the pill not taken.” Currently, only Oregon and the District of Columbia have policies that require schools to provide the nationally recommended amount of time for PE – 150 minutes weekly for elementary grades and 225 minutes for middle and high school students.
Also, more than half of the states have loopholes that let high school students skip PE. </p>

<p>Overall, most school systems were not doing enough to keep kids fit before COVID-19 ushered in months of makeshift remote learning. The CDC gave schools a grade of D- for their efforts on that front. </p>

<p>In short, the vast majority of kids need to spend more time being active both in school and at home. Additional time spent in PE class increases students’ ability to learn the skills to stay active as adults.</p>

<h2 class="art-subtitle">What kids need from PE</h2>

<p>Physical education provides kids with more than just exercise, which is why activities like marching band and even team sports are, in my view, a poor substitute.</p>

<p>In elementary school, PE should mainly support the development of fundamental motor skills, such as jumping, kicking, throwing and catching, which are essential for a wide range of activities, such as most team sports, dance and gymnastics. Children who have mastered these skills are more physically active than those who haven’t.</p>

<p>Middle and high school PE programs should focus on keeping kids motivated to stay active. Because adolescents are more motivated to be physically active when they feel like they’re in control of their learning, giving them a say in terms of what they do matters. Since different kids have different interests, the PE curriculum should span not only team sports, but also activities that require fewer participants, such as tennis and golf.</p>

<p>Students at all levels of instruction should have opportunities to develop their physical fitness, especially their aerobic endurance, muscular strength and flexibility.</p>

<h2 class="art-subtitle">What parents can do</h2>

<p>Dozens, maybe hundreds, of online resources are devoted to keeping kids active and fit when they aren’t in school. However, I’ve found that few are backed by research and that most were not developed by professional PE educators.</p>

<p>Rather than scour the internet for ideas, parents of elementary students should play games with their children that incorporate fundamental motor skills. Throwing and catching a beanbag, striking a balloon with a paddle and kicking a ball are all helpful.</p>

<p>Encouraging children to dance and do some basic tumbling will help them improve their balance.</p>

<p>Parents of middle and high school students should encourage their kids to try activities they might enjoy and continue into adulthood, such as running, hiking, biking and – when facilities are available – racquetball. Try to encourage them by participating yourself and being a physically active role model. </p>

<p>Whenever possible, parents should support their children’s activity interests by assisting with transportation, buying equipment and planning family outings to parks and local events like fun runs.</p>

<p>Parents should also help their children learn to track and manage their personal fitness. Wearable fitness trackers like Fitbits are a helpful tool. Kids can use these to set daily step goals and monitor progress.</p>

<p>Families also can regularly try new activities that make fitness fun. For example, to work on aerobic endurance, try jumping rope or dancing. Instead of using weights to build muscular strength, go kayaking or rock climbing, or use resistance bands at home. Yoga, pilates and tai chi are great for developing flexibility.</p>

<p>Just remember this: Physical activity is a behavior and physical fitness is a condition. Neither are synonymous with physical education but a good PE program will help bring about both.</p>
  </div>