 
 <p>There’s a thin line between working hard enough and working too hard. Pushing your body to reach new levels of fitness requires commitment, effort and a willingness to put yourself through intense, challenging workouts on a regular basis. </p>

<p>But more isn’t always better. Without the right balance of rest and recovery you could end up spiralling into a long-term fatigue condition called overtraining syndrome. The condition results in long-term reduced physical performance, and may be accompanied by other physiological and psychological symptoms (such as low mood or poor sleep) – though this isn’t always the case. It can take weeks, months and even years to recover from this condition.</p>

<p>Though mainly caused by excessive amounts of exercise, it can be accelerated by other life stress, such as working long hours, difficult social relationships, dieting and not getting enough sleep. Recent research has shown that up to 93% of athletes suffering from unexplained performance decline also report the presence of non-training stressors, so managing those stressors is important.</p>

<p>The frustrating thing about overtraining syndrome is that there’s no single measure or test that you can use to identify it. Research tells us that symptoms can vary wildly from one person to the next, meaning it can be a condition that’s hard to pinpoint. In fact, the only current, reliable method to assess if you have overtraining syndrome is to track how long it takes you to recover.</p>

<p>However, common symptoms include:</p>

<ul>
<li class="art-li">•Long-term decrease in sports performance,</li>
<li class="art-li">•Less motivation to exercise,</li>
<li class="art-li">•Low mood,</li>
<li class="art-li">•Muscle soreness, aches and pain,</li>
<li class="art-li">•Loss of good quality sleep,</li>
<li class="art-li">•General tiredness or fatigue.</li>
</ul>
<br>
<p>In reality, it’s very difficult to work hard enough to spiral into overtraining syndrome if you aren’t hitting the gym for hours each day. If you’ve ever felt tired or burned out but bounced back after a week or two, you probably weren’t overtraining, you probably just went a little too hard for a spell. </p>

<h2 class="art-subtitle">Overreaching</h2>

<p>A similar condition known as overreaching is also characterised by performance decline, but recovery takes several days to weeks to recover from. And feeling drained for a day or two after a tough workout is just a sign of fatigue and nothing to worry about. </p>

<p>Overreaching is often seen as a less severe form of overtraining syndrome, but because the symptoms are often the exact, the two are often confused. In fact, when under-performing, most average gym goers suffer from fatigue for days to weeks rather than months, suggesting acute fatigue or overreaching is much more of a realistic risk to the general population.</p>

<p>Endurance athletes appear to be most at risk of developing overtraining syndrome, with previous research showing as many as 60% of high-level runners could experience overtraining syndrome in their career. Swimming and cycling have reported similar figures, but those that participate in strength-based sports, such as weightlifting, appear to be at lower risk of overtraining syndrome, with only one or two cases observed in the published literature. It’s not entirely certain why, but it may be because endurance sports are easier to participate in while fatigued. </p>

<figure class="align-center ">
            <img alt="Four long-distance runners running." src="https://images.theconversation.com/files/357169/original/file-20200909-18-1td8sgp.jpg?ixlib=rb-1.1.0&amp;q=45&amp;auto=format&amp;w=754&amp;fit=clip">
          </figure>

<p>But even in high-level athletes who train for hours daily, only some of those will ever suffer from symptoms of overtraining syndrome. Hard and frequent training on a regular basis, coupled with poor sleep, high levels of stress and a low calorie, low-carb diet may all make someone more likely to develop overtraining syndrome.</p>

<p>If you think you might be suffering from the overtraining syndrome, the best and most important recovery tool is to manage your training. Take a break from challenging exercise and let your body heal and repair itself. Light activities, such as walking or stretching are fine, but anything that overloads your body should be stopped immediately, or else you may only prolong the time it takes to recover. Make sure you’re eating healthily (especially getting enough carbohydrates), and aim for plenty of undisturbed sleep each night. Though this is easier said than done, prioritising sleep and food will help you bounce back. </p>

<p>But for the average person who may find they’re experiencing a bit of extra fatigue from over-exercising, taking a couple of weeks to recover before getting back into your regular routine may be needed. Either way, it’s important to manage symptoms, whether you’ve suffered from overtraining syndrome or not.</p>