 <p>In 2017, world famous distance runner, Ron Hill, ended his record of 52 years and 39 days</a> of consecutive running by taking a day’s rest after feeling unwell during one of his runs.</p>

<p>Hill writes in his autobiography that he ran at least one mile a day, and tasked himself with training 13 times per week. His training was conducted without a coach, and was done on a trial and error basis. </p>

<p>Though successful – he even competed twice in the Olympics – there were occasions that he describes the symptoms of over-training. These included sore and heavy legs, increased susceptibility to colds and infections, and weight loss. Though Hill found a training regimen that helped him prepare for competition, he wondered if some of his substandard performances were a consequence of not taking any rest days. </p>

<p>When starting a new fitness regime, we’re often told it’s important to take “rest days” between workouts. The reason many recommend rest days is to allow the body’s muscles to recover from any damage they’ve sustained during workouts, and to allow them to grow. And numerous scientific studies show that rest days do indeed play an important role in helping us maintain good health and fitness.  </p>

<p>We usually define rest as a period of time without any training. For most people, this is usually about 24 hours between workouts. However, recovery is different, and could indicate a time span of several minutes to hours (such as taking a short break during training between rounds). Recovery could also indicate the time required to induce some form of physiological adaptation, such as the observed rapid increase in plasma volume, which could improve aerobic fitness. But how necessary are both rest and recovery as part of a training program? </p>

<h2 class="art-subtitle">Take a break</h2>

<p>Most studies indicate that rest and recovery between workouts are both necessary for helping the body adapt and recuperate from one’s last workouts. Exercise requires us to use our body’s energy stores (primarily carbohydrates) and fluids (in producing sweat), so rest and recovery give the body time to replenish these energy stores.</p>

<p>Several studies have shown that the body needs at least 24 hours to fully replace our muscle’s store of carbohydrates. Maintaining an adequate store of muscle glycogen (glycogen is the body’s store of carbohydrate), is important for training and maintaining stable blood sugar levels.</p>

<p>However, less time is required to recover our fluids. Numerous studies have found it takes only around one to two hours to replace our fluids lost as sweat during exercise. But our bodies still require several hours of rest following exercise to maintain hydration due to the continued production of urine.</p>

<p>Training may also damage our body’s tissues. Under some circumstances this damage can be beneficial, but is not an essential part of building muscle. But in order for muscle to recover and improve (known as physiological adaptation) they require several weeks of cycles of exercise and recovery. </p>

<p>Research shows our bodies require a longer rest period in order to build muscle tissue (protein synthesis). But given the turnover of protein for muscle, tendon and ligaments is between 0.4-1.2% a day, this shows there’s a constant exchange of protein in our body related to dietary intake, urinary nitrogen excretion and the added effect of exercise.</p>

<figure class="align-center ">
            <img alt="Woman sitting on the floor of gym with water bottle and kettlebell." src="https://images.theconversation.com/files/356044/original/file-20200902-20-1gf5wf5.jpg?ixlib=rb-1.1.0&amp;q=45&amp;auto=format&amp;w=754&amp;fit=clip">
            <figcaption>
              <span class="caption">Muscles require a longer rest period.</span>
            </figcaption>
          </figure>

<p>The hours just after the initial workout may actually be most important for making this happen. Researchers reported that a three-hour feeding pattern of whey protein was more effective at increasing protein synthesis than feeding every 1.5 or six hours over a 12-hour period.</p>

<p>Many other adaptations that occur as a consequence of training (such as increasing the activity of enzymes and glucose transporters, which are key in oxygen consumption and fuel use), require a period in excess of 12 hours before changes are detected. These changes are important, as when we increase our exercise intensity, we need to use glucose instead of fat to fuel our exercise. </p>

<p>Longer-term adaptations, such as increasing the number of blood vessels in our exercised muscles, or increasing the size of the heart, are a much longer process, requiring months of training and rest to observe any measurable change. Both adaptations are key to increasing our aerobic capacity.</p>

<p>The quality of rest has also been a source of much interest, and sleep deprivation has been used as a tool to examine the effects of disturbed rest on exercise performance and physical and psychological function. A wide-ranging review concluded that disturbed sleep may have a detrimental effect on performance, such as a reduced time to exhaustion – but they were clear that sleep deprivation had many negative effects on cognitive function.</p>

<p>Overwhelming evidence also shows rest days are also extremely important for preventing overtraining syndrome. Overtraining syndrome can cause fatigue, sleep loss, weight gain, depression – and may even result in decreased performance and may stall progress.</p>

<p>In general, it seems that one day’s rest per week is sound advice and is supported by the scientific evidence, especially when it comes to repairing tissues, building and adapting skeletal muscle, and restoring fuel reserves. It may also reduce mental stress. Although Hill set world records at distances between 10 and 16 miles, he is an exceptional example – and even admitted that trying to run every single day may have hindered his performance at the two Olympic games. Based on the evidence, taking a rest day seems to be as important for progress and fitness as exercise itself.</p>