<p>The most common site for pain in recreational runners is the knee. For some, especially older runners, the pain can be a symptom of osteoarthritis. But does running worsen knee pain and osteoarthritis?</p>

<p>A study from Canada shows that many people – including health professionals – believe running might be harmful to knee joints, particularly in people with knee osteoarthritis. One in two people believes that the repetitive loading associated with running, especially frequent or long-distance running, will speed up the deterioration caused by knee osteoarthritis and shorten the time to having the knee surgically replaced with an artificial joint. </p>

<p>But are these fears about running supported by science? Recreational exercise does not seem to be harmful to knee cartilage. In fact, exercise is important for cartilage health – the stimulus brings nutrients to the joints. And people who exercise moderately are less likely to have knee osteoarthritis. More specifically, recreational runners have far lower rates of knee osteoarthritis than non-runners. So you could say that <em>not running</em> might be bad for your knees. </p>

<p>However, high-volume or high-intensity running is associated with higher rates of knee osteoarthritis compared with recreational running, suggesting that there is probably a sweet spot which doesn’t involve being a couch potato or getting too competitive. </p>

<figure class="align-center ">
            <img alt="Exhausted runner" src="https://images.theconversation.com/files/354647/original/file-20200825-18-nft8vn.jpg?ixlib=rb-1.1.0&amp;q=45&amp;auto=format&amp;w=754&amp;fit=clip">
            <figcaption>
              <span class="caption">Don’t overdo it.</span>
            </figcaption>
          </figure>

<h2 class="art-subtitle">What if you already have knee pain or osteoarthritis?</h2>

<p>It is not clear whether continuing to run with knee pain or osteoarthritis is bad for your knees, and many researchers around the world are exploring this question. But continuing to run, if you can, will help achieve the many health benefits of regular physical activity, including preventing at least 35 chronic diseases, such as heart disease, stroke, type 2 diabetes and depression. In general, runners live three years longer than non-runners. And the benefits of running are independent of other things, such as age, sex, weight, alcohol and smoking In other words, if two people regularly smoked cigarettes or drank alcohol excessively, and one of them was a runner, the runner would still live longer than the non-runner.</p>

<p>Running is an activity that can be done outdoors in most parts of the world and requires minimal equipment. And health benefits can be achieved with as little as 50 minutes running a week. During the pandemic, the fact that it can be done alone without the help of others further increases its attractiveness and ensures people can continue to participate to stay healthy.</p>

<h2 class="art-subtitle">Three tips for managing running-related knee pain</h2>

<p>You can exercise safely by following simple rules.  </p>

<ol>
<li class="art-li"><p>•Reducing running volume or intensity (reduced speed, avoiding downhill) will reduce knee loads and can help reduce pain.</p></li>
<li class="art-li"><p>•Seeking help and guidance for therapeutic exercise, such as strengthening the knee and hip muscles, from a physiotherapist or other qualified professional, can reduce knee pain related to running and other activities, including in people with knee osteoarthritis.</p></li>
<li class="art-li"><p>•Carefully consider changing your running technique with guidance from a professional. Changing your running style to a forefoot strike instead of heel strike can reduce loads on the knees and running-related knee pain. However, it will increase loads on the ankle, posing risks to injure other joints and tissues. Increasing running cadence (step rate) or changing the position of your trunk can also reduce loads on the knee and may help reduce pain.</p></li>
</ol>
