 <div>
 <p>When it comes to weight loss, diet and exercise are usually thought of as the two key factors that will achieve results. However, sleep is an often-neglected lifestyle factor that also plays an important role. </p>

<p>The recommended sleep duration for adults is seven to nine hours a night, but many people often sleep for less than this. Research has shown that sleeping less than the recommended amount is linked to having greater body fat, increased risk of obesity, and can also influence how easily you lose weight on a calorie-controlled diet. </p>

<p>Typically, the goal for weight loss is usually to decrease body fat while retaining as much muscle mass as possible. Not obtaining the correct amount of sleep can determine how much fat is lost as well as how much muscle mass you retain while on a calorie restricted diet. </p>

<p>One study found that sleeping 5.5 hours each night over a two-week period while on a calorie-restricted diet resulted in less fat loss when compared to sleeping 8.5 hours each night. But it also resulted a greater loss of fat-free mass (including muscle). </p>

<p>Another study has shown similar results over an eight-week period when sleep was reduced by only one hour each night for five nights of the week. These results showed that even catch-up sleep at the weekend may not be enough to reverse the negative effects of sleep deprivation while on a calorie-controlled diet. </p>

<h2 class="art-subtitle">Metabolism, appetite, and sleep</h2>

<p>There are several reasons why shorter sleep may be associated with higher body weight and affect weight loss. These include changes in metabolism, appetite and food selection. </p>

<p>Sleep influences two important appetite hormones in our body – leptin and ghrelin. Leptin is a hormone that decreases appetite, so when leptin levels are high we usually feel fuller. On the other hand, ghrelin is a hormone that can stimulate appetite, and is often referred to as the “hunger hormone” because it’s thought to be responsible for the feeling of hunger.</p>

<p>One study found that sleep restriction increases levels of ghrelin and decreases leptin. Another study, which included a sample of 1,024 adults, also found that short sleep was associated with higher levels of ghrelin and lower levels of leptin. This combination could increase a person’s appetite, making calorie-restriction more difficult to adhere to, and may make a person more likely to overeat. </p>

<p>Consequently, increased food intake due to changes in appetite hormones may result in weight gain. This means that, in the long term, sleep deprivation may lead to weight gain due to these changes in appetite. So getting a good night’s sleep should be prioritised.</p>

<p>Along with changes in appetite hormones, reduced sleep has also been shown to impact on food selection and the way the brain perceives food. Researchers have found that the areas of the brain responsible for reward are more active in response to food after sleep loss (six nights of only four hours’ sleep) when compared to people who had good sleep (six nights of nine hours’ sleep). </p>

<p>This could possibly explain why sleep-deprived people snack more often and tend to choose carbohydrate-rich foods and sweet-tasting snacks, compared to those who get enough sleep.</p>

<figure class="align-center ">
            <img alt="Person's hands typing on keyboard while eating unhealthy snacks." src="https://images.theconversation.com/files/356522/original/file-20200904-22-zqjr2t.jpg?ixlib=rb-1.1.0&amp;q=45&amp;auto=format&amp;w=754&amp;fit=clip" >
            <figcaption>
              <span class="caption">Sleep deprivation may make you eat more unhealthy food during the day.</span>
            </figcaption>
          </figure>

<p>Sleep duration also influences metabolism, particularly glucose (sugar) metabolism. When food is eaten, our bodies release insulin, a hormone that helps to process the glucose in our blood. However, sleep loss can impair our bodies’ response to insulin, reducing its ability to uptake glucose. We may be able to recover from the occasional night of sleep loss, but in the long term this could lead to health conditions such as obesity and type 2 diabetes. </p>

<p>Our own research has shown that a single night of sleep restriction (only four hours’ sleep) is enough to impair the insulin response to glucose intake in healthy young men. Given that sleep-deprived people already tend to choose foods high in glucose due to increased appetite and reward-seeking behaviour, the impaired ability to process glucose can make things worse. </p>

<p>An excess of glucose (both from increased intake and a reduced ability to uptake into the tissues) could be converted to fatty acids and stored as fat. Collectively, this can accumulate over the long term, leading to weight gain.</p>

<p>However, physical activity may show promise as a countermeasure against the detrimental impact of poor sleep. Exercise has a levels of peptide YY, a hormone that is released from the gut, and is associated with the feeling of being satisfied and full. </p>

<p>After exercise, people tend to eat less, particularly when the energy expended by exercise is taken into account. However, it’s unknown if this still remains in the context of sleep restriction. </p>

<p>Research has also shown that exercise training may protect against the metabolic impairments that result from a lack of sleep, by improving the body’s response to insulin, leading to improved glucose control. </p>

<p>We have also shown the potential benefits of just a single session of exercise on glucose metabolism after sleep restriction. While this shows promise, studies are yet to determine the role of long-term physical activity in people with poor sleep. </p>

<p>It’s clear that sleep is important for losing weight. A lack of sleep can increase appetite by changing hormones, makes us more likely to eat unhealthy foods, and influences how body fat is lost while counting our calories. Sleep should therefore be considered as an essential alongside diet and physical activity as part of a healthy lifestyle.</p>
 </div>