 <p>Many people see stretching as an essential part of any exercise or workout regime. It helps us increase our flexibility and our range of movement. Many of us also stretch to loosen up before exercising, and to help recover after we’re finished. </p>

<p>Though stretching has long been a mainstay of nearly every workout routine, does it have as much of an effect on performance and recovery as we believe?</p>

<p>The reason we feel more flexible after stretching is because of an increase in the level of discomfort we are able to bear at the extremes of our range of movement. This is known as stretch tolerance.</p>

<p>It was long considered that static stretching – holding a limb at the edge of its range of movement, usually for up to a minute – was a requirement for any decent warm-up. It was thought that pushing this range of movement would temporarily increase flexibility, in theory helping to prevent injuries and improve performance during exercise. </p>

<p>Around the end of the last century, however, evidence emerged that static stretching could actually have negative effects on strength, power and speed. It’s widely been agreed since that static stretching should be avoided during a warm-up.</p>

<p>Dynamic stretching has instead become more popular during warm-ups. Dynamic stretching involves deliberately moving a limb repeatedly through its entire range of movement.</p>

<p>Dynamic stretching doesn’t impede performance the way static stretching does. In fact, it may even increase muscle strength while still providing the short-term increases in ﬂexibility offered by static stretching. Before doing any type of exercise, a bit of dynamic stretching is recommended.</p>

<p>It’s worth noting that static stretching does still increase range of movement. And any negative side effects may even be avoided if done properly. But static stretching a single muscle group for more than 90 seconds substantially increases the likelihood of worsened performance. Any static stretches done before a workout should be brief.</p>

<figure class="align-center ">
            <img alt="" src="https://images.theconversation.com/files/336693/original/file-20200521-102671-12dx6oe.jpg?ixlib=rb-1.1.0&amp;q=45&amp;auto=format&amp;w=754&amp;fit=clip" >
            <figcaption>
              <span class="caption">Dynamic stretching is preferred before a workout.</span>
              
            </figcaption>
          </figure>

<p>The opposite seems to be true for dynamic stretching. It appears that performing dynamic stretching for less than 90 seconds is far less likely to improve flexibility and performance than longer bouts. When dynamic stretching, give each muscle group attention and take your time.</p>

<h2 class="art-subtitle">After exercise</h2>

<p>Many people also like to stretch after exercising, usually with the aim of reducing muscle soreness and injury risk. </p>

<p>Delayed-onset muscle soreness is common, and usually follows exercise you’re not used to, or that’s particularly hard. The sensation of soreness is usually intensified when the muscle in question is lengthened. This tells us that the muscles’ inbuilt “stretch detectors” – called muscle spindles – are involved in producing that characteristic painful sensation. The nerve pathways linked to muscle spindles are closely related to neural pain pathways. This response might have evolved to allow muscles the time to recover.</p>

<p>Stretching to prevent muscle soreness has long been advocated. But evidence suggests that stretching just before and/or just after exercise actually has no effect on muscle soreness during the subsequent days. So stretching to try and avoid the inevitable painful follow-up to a heavy workout is almost certainly not going to get you anywhere. There is also currently no compelling evidence that stretching can help reduce injuries in activities with high injury rates.</p>

<p>Beyond static and dynamic stretching, other techniques have grown in popularity in recent years. </p>

<p>Ballistic stretching is similar to dynamic stretching, but incorporates bouncing movements to push the range of movement to the very extremes of its limits. Another type of stretching, called proprioceptive neuromuscular facilitation, or PNF, involves repeated contraction and relaxation of the target muscles in order to allow them to stretch. Many believe PNF enables a greater range of movement, but this effect only lasts for around five seconds after the end of the stretch. </p>

<p>All of these stretching methods will increase flexibility, but based on current evidence, static stretching is still more effective than either PNF or ballistic stretching at improving range of movement, and may even be slightly better than dynamic stretching.</p>

<p>But there’s really no need to over-complicate your stretching routine. Work the large muscle groups within their ranges of movement, and time things wisely so your stretches don’t detract from the rest of your exercise. While stretching on its own is unlikely to have much impact on your workout or recovery, a bit of stretching during your warm-up may help to gradually prepare your body for exercise.</p>

<p>That being said, stretching for the sake of improving flexibility still provides numerous health benefits, including improved circulation and reduced blood pressure. Public guidelines recommend doing flexibility exercises two or three times a week, incorporating both static and dynamic stretches.</p>

<p>If hammering out those stretches immediately after a workout is the most practical time to incorporate your flexibility training, it certainly isn’t going to do you any harm. And if you are worried about injuries, your best bet is to focus on a thorough warm-up, which may well include a healthy dose of dynamic stretching, too.</p>