<h2 class="art-subtitle">Workout Description</h2>
<p style="margin-bottom:5px">This is an intermediate muscle building workout for lifters who:</p>
<ol>
<li class="art-li">
Have experienced beginner gains and are confident they know how to build muscle.</li>
<li class="art-li">
Have a solid grasp of exercise form on the major compound movements.</li>
<li class="art-li">
Know how to set up an effective muscle building eating plan.</li>
</ol>
<p><strong>Overload</strong>. Overload is critical to the muscle building process. Push each set for the maximum number of reps, stopping that set either when you feel your form is slipping, or if you feel like you may fail on the next rep. Do not train to failure. The point is to stimulate growth, not annihilate your body and central nervous system.</p>
<p>Add weight to each exercise as frequently as possible, when it makes sense. I recommend using the same weight for every set of a given exercise, and when you are able to perform a comfortable number of reps on each set, add weight.</p>
<p><strong>Rep Ranges</strong>. Rep ranges are simply a guideline. It's is ok to go over them, or a hair under at times. Again, the magic is overload. Rep ranges are simply a tool.</p>
<p><strong>5 Minute Burn Periods</strong>. For each body part you will perform a 5 minute burn out period. These sets are brutal. Pick a weight that allows you to perform about 12-15 reps. Over a 5 minute period you perform as many reps as possible with that weight, starting and stopping sets as needed. Rest only long enough to catch your bearings and breathe, and then start knowing out more reps.</p>
<p>5 minute burn out periods are not about sets and reps. They are about finishing off an already fatigued muscle. Don't obsess (or even count)  over how many total sets you do. Instead, try to do as many reps as possible in 5 minutes using whatever rest periods you need to survive.</p>

<h2 class="art-subtitle">
4 Day Maximum Mass Workout Split</h2>
<ul>
<li class="art-li">
<strong>Day 1</strong> - Back and Biceps</li>
<li class="art-li">
<strong>Day 2</strong> - Chest and Triceps</li>
<li class="art-li">
<strong>Day 3</strong> - OFF</li>
<li class="art-li">
<strong>Day 4</strong> - Quads, Hamstrings and Calves</li>
<li class="art-li">
<strong>Day 5</strong> - Shoulders, Traps and Forearms</li>
<li class="art-li">
<strong>Day 6</strong> - OFF</li>
<li class="art-li">
<strong>Day 7</strong> - OFF</li>
</ul>
<table class="workoutTable1">
<tbody>
<tr>
<th colspan="3">
Day 1</th>
</tr>
<tr>
<td class="tableSubHead" colspan="3">
Back and Biceps</td>
</tr>
<tr>
<td>
<strong>Exercise</strong></td>
<td class="width20">
<strong>Sets</strong></td>
<td class="width20">
<strong>Reps</strong></td>
</tr>
<tr>
<td>
Deadlift</td>
<td>
2</td>
<td>
5</td>
</tr>
<tr>
<td>
One Arm Dumbbell Row</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
Wide Grip Pull Up or Lat Pull Down</td>
<td width="20%">
3</td>
<td width="20%">
10-12</td>
</tr>
<tr>
<td>
Barbell Row</td>
<td width="20%">
3</td>
<td width="20%">
8-12</td>
</tr>
<tr>
<td>
Seated Cable Row or Machine Row</td>
<td width="20%">
5 Minutes</td>
<td width="20%">
Burn</td>
</tr>
<tr>
<td>
EZ Bar Preacher Curl</td>
<td>
3</td>
<td>
10-12</td>
</tr>
<tr>
<td>
Concentration Curl</td>
<td>
3</td>
<td>
10-12</td>
</tr>
<tr>
<td>
Seated Dumbbell Curl</td>
<td>
5 Minutes</td>
<td>
Burn</td>
</tr>
</tbody>
</table>
<table class="workoutTable1">
<tbody>
<tr>
<th colspan="3">
Day 2</th>
</tr>
<tr>
<td class="tableSubHead" colspan="3">
Chest and Triceps</td>
</tr>
<tr>
<td>
<strong>Exercise</strong></td>
<td class="width20">
<strong>Sets</strong></td>
<td class="width20">
<strong>Reps</strong></td>
</tr>
<tr>
<td>
Bench Press</td>
<td>
3</td>
<td>
6-10</td>
</tr>
<tr>
<td>
Incline Dumbbell Bench Press</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
Chest Dip</td>
<td width="20%">
3</td>
<td width="20%">
AMRAP</td>
</tr>
<tr>
<td>
Pec Dec</td>
<td width="20%">
3</td>
<td width="20%">
12-15</td>
</tr>
<tr>
<td>
Machine Press or Dumbbell Bench Press</td>
<td width="20%">
5 Minutes</td>
<td width="20%">
Burn</td>
</tr>
<tr>
<td>
EZ Bar Skullcrusher</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
Two Arm Seated Dumbbell Extension</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
Cable Tricep Extension</td>
<td>
5 Minutes</td>
<td>
Burn</td>
</tr>
</tbody>
</table>
<table class="workoutTable1">
<tbody>
<tr>
<th colspan="3">
Day 4</th>
</tr>
<tr>
<td class="tableSubHead" colspan="3">
Quads, Hamstrings and Calves</td>
</tr>
<tr>
<td>
<strong>Exercise</strong></td>
<td class="width20">
<strong>Sets</strong></td>
<td class="width20">
<strong>Reps</strong></td>
</tr>
<tr>
<td>
Squat</td>
<td>
3</td>
<td>
6-10</td>
</tr>
<tr>
<td>
Leg Press</td>
<td>
3</td>
<td>
15-20</td>
</tr>
<tr>
<td>
Hack Squat or Dumbbell Lunge</td>
<td width="20%">
3</td>
<td width="20%">
8-12</td>
</tr>
<tr>
<td>
Leg Extension</td>
<td width="20%">
5 Minutes</td>
<td width="20%">
Burn</td>
</tr>
<tr>
<td>
Stiff Leg Deadlift</td>
<td width="20%">
3</td>
<td width="20%">
8-12</td>
</tr>
<tr>
<td>
Leg Curl</td>
<td>
5 Minutes</td>
<td>
Burn</td>
</tr>
<tr>
<td>
Standing Calf Raise</td>
<td>
3</td>
<td>
10-15</td>
</tr>
<tr>
<td>
Seated Calf Raise</td>
<td>
5 Minutes</td>
<td>
Burn</td>
</tr>
</tbody>
</table>
<table class="workoutTable1" style="margin-left: 32px">
<tbody>
<tr>
<th colspan="3">
Day 5</th>
</tr>
<tr>
<td class="tableSubHead" colspan="3">
Shoulders, Traps and Forearms</td>
</tr>
<tr>
<td>
<strong>Exercise</strong></td>
<td class="width20">
<strong>Sets</strong></td>
<td class="width20">
<strong>Reps</strong></td>
</tr>
<tr>
<td>
Seated Barbell Press</td>
<td>
3</td>
<td>
6-10</td>
</tr>
<tr>
<td>
Seated Arnold Press</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
Dumbbell Lateral Raise</td>
<td width="20%">
3</td>
<td width="20%">
10-15</td>
</tr>
<tr>
<td>
Hammer Strength Press or Smith Press</td>
<td width="20%">
5 Minutes</td>
<td width="20%">
Burn</td>
</tr>
<tr>
<td>
Upright Row</td>
<td width="20%">
3</td>
<td width="20%">
8-12</td>
</tr>
<tr>
<td>
Barbell Shrug or Dumbbell Shrug</td>
<td>
5 Minutes</td>
<td>
Burn</td>
</tr>
<tr>
<td>
Seated Barbell Wrist Curl</td>
<td>
3</td>
<td>
12-15</td>
</tr>
<tr>
<td>
Barbell Static Hold</td>
<td>
5 Minutes</td>
<td>
Burn</td>
</tr>
</tbody>
</table>