<h2 class="art-subtitle">Workout Description</h2>
<p>This workout is designed for people who have finished bulking and have some excess fat they'd like to lose. It combines heavy weight training with 3 days of cardio, and 1 day of rest. The choice of cardio is yours, whatever works for you. You can use low intensity early morning cardio or HIIT (high intensity interval training) in the evenings.</p>
<p>With this workout you get out what you put in. Your diet is more important that your workout. Make sure you're around 500 calories per day deficient.</p>
<table class="workoutTable3">
<tbody>
<tr>
<th colspan="3">
Monday - Chest and Triceps</th>
</tr>
<tr>
<td class="tableSubHead" colspan="3">
Chest</td>
</tr>
<tr>
<td>
<strong>Exercise</strong></td>
<td class="width20">
<strong>Sets</strong></td>
<td class="width20">
<strong>Reps</strong></td>
</tr>
<tr>
<td>
Dumbbell Bench Press</a></td>
<td>
4</td>
<td>
8, 8, 6, 6</td>
</tr>
<tr>
<td>
Incline Bench Press</a></td>
<td>
4</td>
<td>
8, 8, 6, 6</td>
</tr>
<tr>
<td>
Cable Crossovers</a></td>
<td>
4</td>
<td>
8</td>
</tr>
<tr>
<td class="tableSubHead" colspan="3">
Triceps</td>
</tr>
<tr>
<td>
<strong>Exercise</strong></td>
<td>
<strong>Sets</strong></td>
<td>
<strong>Reps</strong></td>
</tr>
<tr>
<td>
Close Grip Bench Press</a></td>
<td>
3</td>
<td>
8</td>
</tr>
<tr>
<td>
Lying Tricep Extension</a></td>
<td>
3</td>
<td>
8</td>
</tr>
<tr>
<td>
Rope Pulldowns</a></td>
<td>
3</td>
<td>
8</td>
</tr>
<tr>
<td class="tableSubHead" colspan="3">
Notes</td>
</tr>
<tr>
<td colspan="3">
Each week switch dumbbell bench press with barbell bench and incline bench with incline dumbbell press.</td>
</tr>
</tbody>
</table>
<table class="workoutTable3">
<tbody>
<tr>
<th colspan="3">
Tuesday - Abs and Cardio</th>
</tr>
<tr>
<td class="tableSubHead" colspan="3">
Workout Schedule</td>
</tr>
<tr>
<td>
<strong>Exercise</strong></td>
</tr>
<tr>
<td colspan="3">
20mins core strength exercises , followed by 1 hour of low intensity cardio or 45mins of HIIT</td>
</tr>
</tbody>
</table>
<table class="workoutTable3">
<tbody>
<tr>
<th colspan="3">
Wednesday - Back and Biceps</th>
</tr>
<tr>
<td class="tableSubHead" colspan="3">
Back</td>
</tr>
<tr>
<td>
<strong>Exercise</strong></td>
<td>
<strong>Sets</strong></td>
<td>
<strong>Reps</strong></td>
</tr>
<tr>
<td>
Wide Grip Pull Up</a>*</td>
<td>
4</td>
<td>
8 (slow)</td>
</tr>
<tr>
<td>
Close Grip Pull Down</a></td>
<td>
4</td>
<td>
8, 8, 6, 6</td>
</tr>
<tr>
<td>
Cable Row</a></td>
<td>
4</td>
<td>
8</td>
</tr>
<tr>
<td class="tableSubHead" colspan="3">
Biceps</td>
</tr>
<tr>
<td>
<strong>Exercise</strong></td>
<td>
<strong>Sets</strong></td>
<td>
<strong>Reps</strong></td>
</tr>
<tr>
<td>
Barbell Curl</a></td>
<td>
3</td>
<td>
8, 8, 6</td>
</tr>
<tr>
<td>
Incline Bench Dumbbell Curl</a></td>
<td>
3</td>
<td>
8</td>
</tr>
<tr>
<td>
Dumbbell Preacher Curl</a></td>
<td>
3</td>
<td>
8</td>
</tr>
<tr>
<td class="tableSubHead" colspan="3">
Notes</td>
</tr>
<tr>
<td colspan="3">
*Finish sets off with slow negatives if you cannot do 8. If you can't do pullups, replace with heavy lat pull downs.</td>
</tr>
</tbody>
</table>
<table class="workoutTable3">
<tbody>
<tr>
<th colspan="3">
Thursday - Abs and Cardio</th>
</tr>
<tr>
<td class="tableSubHead" colspan="3">
Workout Schedule</td>
</tr>
<tr>
<td>
<strong>Exercise</strong></td>
</tr>
<tr>
<td colspan="3">
20mins core strength exercises , followed by 1 hour of low intensity cardio or 45mins of HIIT</td>
</tr>
</tbody>
</table>
<table class="workoutTable3">
<tbody>
<tr>
<th colspan="3">
Friday - Legs and Shoulders</th>
</tr>
<tr>
<td class="tableSubHead" colspan="3">
Legs</td>
</tr>
<tr>
<td>
<strong>Exercise</strong></td>
<td class="width20">
<strong>Sets</strong></td>
<td class="width20">
<strong>Reps</strong></td>
</tr>
<tr>
<td>
Squat</a></td>
<td>
4</td>
<td>
8</td>
</tr>
<tr>
<td>
Stiff Legged Deadlift</a></td>
<td>
3</td>
<td>
8</td>
</tr>
<tr>
<td>
Leg Curl</a></td>
<td>
3</td>
<td>
8, 8, 6</td>
</tr>
<tr>
<td>
Leg Extension</a></td>
<td>
3</td>
<td>
8, 8, 6</td>
</tr>
<tr>
<td>
Standing Calf Raise</a></td>
<td>
4</td>
<td>
15, 12, 10, 8</td>
</tr>
<tr>
<td class="tableSubHead" colspan="3">
Shoulders</td>
</tr>
<tr>
<td>
<strong>Exercise</strong></td>
<td>
<strong>Sets</strong></td>
<td>
<strong>Reps</strong></td>
</tr>
<tr>
<td>
Military Press</a></td>
<td>
4</td>
<td>
8, 8, 6, 6</td>
</tr>
<tr>
<td>
Dumbbell Lateral Raise</a></td>
<td>
3</td>
<td>
8</td>
</tr>
<tr>
<td>
Bent Over Rev Fly</a></td>
<td>
3</td>
<td>
8</td>
</tr>
<tr>
<td class="tableSubHead" colspan="3">
Notes</td>
</tr>
<tr>
<td colspan="3">
None.</td>
</tr>
</tbody>
</table>
<table class="workoutTable3">
<tbody>
<tr>
<th colspan="3">
Saturday - Abs and Cardio</th>
</tr>
<tr>
<td class="tableSubHead" colspan="3">
Workout Schedule</td>
</tr>
<tr>
<td>
<strong>Exercise</strong></td>
</tr>
<tr>
<td colspan="3">
20mins core strength exercises , followed by 1 hour of low intensity cardio or 45mins of HIIT</td>
</tr>
</tbody>
</table>
<p class="rest_day">SUNDAY - REST DAY - NO TRAINING</p>