<h2 class="art-subtitle">Workout Description</h2>
<p>With all of the latest marketed fitness gadgets, programs and miracle pills in full swing it’s easy to get a bit flustered when it comes to your own plans to get in shape or get into better shape. The six-pack this and the ultimate toner that all promise to get you results in as little time as possible without any regard to true, honest reasoning.</p>
<p>The athletes and military of the Ancient Greeks possessed some of the most athletic, muscular and functional bodies in recorded history without the “help” of these quick fixes. Sure, they also didn’t have the endless supply of processed food and Xbox, but they did display some of the most impressive bodies capable of incredible athletic feats of strength, stamina and endurance.</p>
<p>What was their secret? How did they build these mythic bodies on comparatively little food, no supplements and not to mention the absence of a single weight room?</p>
<p>Relying on your own body weight for training purposes isn’t anything new; it has just unfairly been relegated to middle school gym classes and for those who want to get “toned.”</p>
<p>Bodyweight training, when an effective plan is followed, can produce serious results in both muscularity and fat loss. It can build muscle, strip fat and transform you into a functional machine. Don’t think so? Think bodyweight training is too easy, light and subsequently ineffective? Give the program below a try during a trip, a break from the gym or simply to shake things up a bit and try a little something new.</p>
<h3 class="art-subtitle"> Total Body Weight Blast</h3>
<ul>
<li class="art-li1"> •Perform each workout once or twice per week.</li>
<li class="art-li1"> •Perform each complex without rest between exercises. After each complex rest for one minute.</li>
<li class="art-li1"> •Try the entire program for at least four weeks or during times of travel or away from traditional equipment.</li>
<li class="art-li1"> •Complete a dynamic warm-up prior to each workout.</li>
<li class="art-li1"> •Optional: After each session complete either steady state or HIIT cardio of your choice.</li>
<li class="art-li1"> •Complexes are signified by numbers without rest. For example, perform 1A, 2A and 3A back-to-back-to-back without rest. After the complex is complete rest one minute.</li>
<li class="art-li1"> •Perform each complex for 2-5 rounds depending on training experience and fitness level. </li>
<li class="art-li1"> •Go for 10-20 reps per move challenging yourself each workout.</li>
<li class="art-li1"> •AMRAP = As Many Reps As Possible</li>
</ul>
<h5 class="art-subtitle"> Workout 1:</h5>
<ul>
<li class="art-li1"> 1A: Push-up</li>
<li class="art-li1"> 2A: Medium-grip pull-up</li>
<li class="art-li1"> 3A: Handstand or jackknife push-up</li>
<li class="art-li1"> 4A: Diamond (hands close) push-up</li>
<li class="art-li1"> 5A: Inverted rack curl</li>
</ul>
<ul>
<li class="art-li1"> 1B: Single-leg calf raise</li>
<li class="art-li1"> 2B: Jump squat</li>
<li class="art-li1"> 3B: Walking lunge</li>
<li class="art-li1"> 4B: Hanging leg raise</li>
<li class="art-li1"> 5B: Short all-out sprint outdoors or on treadmill</li>
</ul>
<p> <br />
</p><table class="workoutTable3">
<tbody>
<tr>
<th class="width60"> Exercise</th>
<th> Sets</th>
<th> Reps</th>
</tr>
<tr>
<td> <strong>Complex 1</strong></td>
<td> <t d=""></t></td>
<td>  </td>
</tr>
<tr>
<td> Push Up</td>
<td> 2-5</td>
<td> 10-20</td>
</tr>
<tr>
<td> Medium-Grip Pull Up</td>
<td> 2-5</td>
<td> 10-20</td>
</tr>
<tr>
<td> Handstand or Jackknife Push Up</td>
<td> 2-5</td>
<td> 10-20</td>
</tr>
<tr>
<td> Diamond Push Up</td>
<td> 2-5</td>
<td> 10-20</td>
</tr>
<tr>
<td> Inverted Rack Curl Up</td>
<td> 2-5</td>
<td> 10-20</td>
</tr>
<tr>
<td> <strong>Complex 2</strong></td>
<td> <t d=""></t></td>
<td>  </td>
</tr>
<tr>
<td> Single-Leg Calf Raise</td>
<td> 2-5</td>
<td> 10-20</td>
</tr>
<tr>
<td> Jump Squat</td>
<td> 2-5</td>
<td> 10-20</td>
</tr>
<tr>
<td> Walking Lunge</td>
<td> 2-5</td>
<td> 10-20</td>
</tr>
<tr>
<td> Hanging Leg Raise</td>
<td> 2-5</td>
<td> 10-20</td>
</tr>
<tr>
<td> Short All-Out Sprint Outdoors or on Treadmill</td>
<td> 2-5</td>
<td> Distance &amp; Duration varies according to fitness level &amp; experience.</td>
</tr>
</tbody>
</table>
<h5 class="art-subtitle"> Workout 2:</h5>
<ul>
<li class="art-li1"> 1A: Feet-elevated push-up</li>
<li class="art-li1"> 2A: Wide-grip inverted row</li>
<li class="art-li1"> 3A: Rack triceps press or parallel bar dips</li>
<li class="art-li1"> 4A: Shoulder-width reverse-grip pull-up</li>
<li class="art-li1"> 5A: Floor crunch or planks</li>
</ul>
<ul>
<li class="art-li1"> 1B: Box jump</li>
<li class="art-li1"> 2B: Bulgarian split squat</li>
<li class="art-li1"> 3B: Reverse lunge</li>
<li class="art-li1"> 4B: Bench step-up</li>
<li class="art-li1"> 5B: Short all-out sprint outdoors or on treadmill</li>
</ul>
<p> <br />
</p><table class="workoutTable3">
<tbody>
<tr>
<th class="width60"> Exercise</th>
<th> Sets</th>
<th> Reps</th>
</tr>
<tr>
<td> <strong>Complex 1</strong></td>
<td> <t d=""></t></td>
<td>  </td>
</tr>
<tr>
<td> Feet Elevated Push Up</td>
<td> 2-5</td>
<td> 10-20</td>
</tr>
<tr>
<td> Wide Grip Inverted Row</td>
<td> 2-5</td>
<td> 10-20</td>
</tr>
<tr>
<td> Rack Triceps Press or Parallel Bar Dips</td>
<td> 2-5</td>
<td> 10-20</td>
</tr>
<tr>
<td> Shoulder Width Reverse Grip Pull Up</td>
<td> 2-5</td>
<td> 10-20</td>
</tr>
<tr>
<td> Floor Crunch or Planks</td>
<td> 2-5</td>
<td> 10-20</td>
</tr>
<tr>
<td> <strong>Complex 2</strong></td>
<td> <t d=""></t></td>
<td>  </td>
</tr>
<tr>
<td> Box Jump</td>
<td> 2-5</td>
<td> 10-20</td>
</tr>
<tr>
<td> Bulgarian Split Squat</td>
<td> 2-5</td>
<td> 10-20</td>
</tr>
<tr>
<td> Reverse Lunge</td>
<td> 2-5</td>
<td> 10-20</td>
</tr>
<tr>
<td> Bench Step Up</td>
<td> 2-5</td>
<td> 10-20</td>
</tr>
<tr>
<td> Short All-Out Sprint Outdoors or on Treadmill</td>
<td> 2-5</td>
<td> Distance &amp; Duration varies according to fitness level &amp; experience.</td>
</tr>
</tbody>
</table>

<h3 class="art-subtitle"> Training notes on some of the more unique moves listed:</h3>
<p><strong>•Feet-elevated push-up</strong>: These can be performed with your feet elevated on a bench or chair while keeping your torso straight and your abs tight. Once you complete a set, you can immediately drop your feet to the floor and continue your set.</p>
<p><strong>•Wide-grip inverted row</strong>: These can be done while lying under a Smith machine or squat rack bar set about waist high. You can either set your feet on the ground (beginner) or on a bench (intermediate) while grasping the bar a little wider than shoulder width. Pull to your lower per region and keep your back and legs in line and your abs tight.</p>
<p><strong>•Jackknife push-up</strong>: What can be described as the beginner handstand push-up, the jackknife version has you plant your feet on the ground and get into a hip-only bent-over position with your hands on the ground and butt in the air (much like downward dog in yoga). Perform the move by bending your elbows and shoulder (like an upside-down shoulder press) without bending your knees or flexing your hips further.</p>
<p><strong>•Inverted rack curl</strong>: Getting in a similar position as the inverted row, only this time grab the bar with a reverse (palms facing you) shoulder-width grip. Keeping your body in line from your feet to your shoulders, “curl” yourself up to the bar. Adjust the height of the bar for difficulty level.</p>
<p><strong>•Rack triceps press</strong>: Adjust a Smith machine bar or a bar in a squat rack around waist height. Facing the bar grasp it with a shoulder-width overhand grip and step back from the bar until your body is in line and your arms are perpendicular to your body. Descend your body toward the bar until it is close to your forehead (much like a nosebreaker). Extend back to the straightened position.</p>
<p><strong>•Bulgarian split squat</strong>: Be sure to plant your foot far enough out in front of you so that your knee does not flow over your toe. Also, resist the urge for the trailing foot (the one on the bench) to help lift your body weight and never slam your knee to the floor. Utilize a pad or stop just an inch or two before your knee touches.</p>
<p><strong>•Box Jump</strong>: When performing box jumps never jump off the platform to the floor. Always step off to avoid too much knee stress. Also, if possible, be sure to you are using a padded or rubberized floor for joint safety.</p>
<p><strong>•Reverse lunge</strong>: Be sure that while lunging back take a long stride so that your front knee does not go past your foot. Also, if you are not accustomed to the reverse lunge take each rep slow and controlled and master the form and technique.</p>
<p><strong>•Short all-out sprint outdoors or on treadmill</strong>: The distance and duration with sprints can vary according to your fitness level and experience. If you are new to sprints, simply start with an intensity level, and time you can comfortably complete. Afterward, build from there and challenge yourself to increase speed and intensity.</p>