<h2 class="art-subtitle">Workout Description</h2>
<p><em>Brad Borland is a strength &amp; conditioning specialist, cancer survivor and the founder of WorkoutLab.</em></p>
<p>You don’t need to do cardio to lose body fat! At least not the traditional, slow, steady and boring kind. There’s more than one way to strip the extra baggage and reveal a more impressive muscular physique faster than you thought possible.</p>
<p>Does this look like your usual training day: Lift weights for an hour, perform boring cardio for 30 to 45 minutes, pray the fat burns off and repeat?</p>
<p>This can become a bit of a slow repetitive cycle yielding little to no results. So, what’s the solution? More cardio? Longer training sessions?</p>
<p>Let’s do the opposite. Let’s shorten your training time, pack your training with only quality tactics and finally get into some serious freaking shape!</p>
<h3 class="art-subtitle"> Enter Density Training</h3>
<p>The principle of density training is nothing new. Many other cleverly-named systems propose similar training tactics but the common thread remains the same: pack your training with the most effective techniques possible, in a short period with minimal wasted time.</p>
<p>We’ve all heard of nutrient density: low calorie but highly nutritious food. Training density works the same way: more bang in less time.</p>
<p>Below are several programs for different lengths of time utilizing some of the most effective and time efficient techniques to finally get that physique you have toiled over for so long. Not for the faint of heart, these programs WILL get you results; you just have to be willing to put in the discipline and intensity required.</p>
<h3 class="art-subtitle"> Density Training Cheat Sheet</h3>
<p>You will be utilizing supersets, tri-sets, giant sets and staggered sets to shore-up any wasted time. Resting between straight sets will be a thing of the past. These specialized complexes require little to no rest between sets performing them back-to-back keeping not only your heart rate elevated but also your muscles will have to work in overdrive.</p>
<p>Reps will vary for not only variety but also to work every system of the muscle being worked. Strength, power, mass and endurance will be taxed.</p>
<p>Mostly compound moves will be used for more of a total-body training experience. Multi-joint compound moves work more muscle in less time. Isolating each and every muscle individually will take too much time and is too inefficient.</p>
<p>Pay very close attention to time. If a series of supersets requires a rest period be sure to adhere to that specified time accurately. You shouldn’t have time to check your texts or chat about Call of Duty.</p>
<p>Always warm-up properly and practice proper form and technique. When in doubt about a weight or hitting your target reps the best bet is to go slightly lighter in weight and perfect your form. Don’t get sidelined by being injured.</p>
<p>The majority of these programs are designed with the busy gym and equipment availability in mind. There is nothing worse than trying to superset a workout having to run from one end of the gym to the other in hopes that your station is still available.</p>
<p>Choose which program is best for you either by time available or your level of experience. If you are just beginning, choose one of the short programs to get started. As time goes on and you have mastered the shorter programs, step up and challenge the next level.</p>
<p>Try these programs on for size for around four to six weeks and then take a short break, assess your progress and start back up if you like.</p>
<h3 class="art-subtitle"> The 20 Minute Half n’ Half</h3>
<p>Perform each session twice per week.</p>
<table class="workoutTable3" style="width: 600px; height: 171px;">
<tbody>
<tr>
<th colspan="4"> Session 1</th>
</tr>
<tr>
<td class="tableSubHead" colspan="4"> 20 Minute Half n' Half</td>
</tr>
<tr>
<td> <strong>Exercise</strong></td>
<td class="width20"> <strong>Warm Up Sets</strong></td>
<td class="width20"> <strong>Working Sets</strong></td>
<td class="width20"> <strong>Rest</strong></td>
</tr>
<tr>
<td> <u>Superset</u>: Flat bench dumbbell press and two-arm dumbbell row</td>
<td> 2x15</td>
<td> 3x8-12</td>
<td> 45</td>
</tr>
<tr>
<td> <u>Superset</u>Standing dumbbell side lateral raise and seated dumbbell press</td>
<td>  </td>
<td> 3x8-12</td>
<td> 30</td>
</tr>
<tr>
<td> <u>Superset</u>: Standing dumbbell curl and ne-arm overhead triceps extension</td>
<td>  </td>
<td> 3x8-12</td>
<td> 30</td>
</tr>
<tr>
<td> <u>Superset</u>: Lying leg raise and floor crunch</td>
<td>  </td>
<td> 3x20</td>
<td> 30</td>
</tr>
</tbody>
</table>
<table class="workoutTable3" style="width: 600px; height: 171px;">
<tbody>
<tr>
<th colspan="4"> Session 2</th>
</tr>
<tr>
<td class="tableSubHead" colspan="4"> 20 Minute Half n' Half</td>
</tr>
<tr>
<td> <strong>Exercise</strong></td>
<td class="width20"> <strong>Warm Up Sets</strong></td>
<td class="width20"> <strong>Working Sets</strong></td>
<td class="width20"> <strong>Rest</strong></td>
</tr>
<tr>
<td> <u>Superset</u>: One-leg calf raise and box or squat jump</td>
<td> 2x15</td>
<td> 3x8-12</td>
<td> 30</td>
</tr>
<tr>
<td> <u>Superset</u>: Barbell back squat and barbell stiff leg deadlift</td>
<td>  </td>
<td> 3x8-12</td>
<td> 60</td>
</tr>
<tr>
<td> <u>Superset</u>: Static barbell or dumbbell lunge and prisoner squat</td>
<td>  </td>
<td> 3x8-12</td>
<td> 60</td>
</tr>
<tr>
<td> <u>Superset</u>: Hanging leg raise and bent leg raise</td>
<td>  </td>
<td> 3x20</td>
<td> 30</td>
</tr>
</tbody>
</table>
<p><span style="font-family: 'Open Sans', Arial, sans-serif; font-size: 26px; font-weight: 700; line-height: 38.400001525878906px;">The 30 Minute Tri-Set Scorcher</span></p>
<p>Perform each session twice per week.</p>
<table class="workoutTable3" style="width: 600px; height: 171px;">
<tbody>
<tr>
<th colspan="4"> Session 1</th>
</tr>
<tr>
<td class="tableSubHead" colspan="4"> 30 Minute Tri-Set Scorcher</td>
</tr>
<tr>
<td> <strong>Exercise</strong></td>
<td class="width20"> <strong>Warm Up Sets</strong></td>
<td class="width20"> <strong>Working Sets</strong></td>
<td class="width20"> <strong>Rest</strong></td>
</tr>
<tr>
<td> <u>Tri-set</u>: Incline barbell bench press, Wide-grip pull-up and push-up</td>
<td> 2x15</td>
<td> 3x6-10</td>
<td> 60</td>
</tr>
<tr>
<td> <u>Tri-set</u>: Front plate raise, dumbbell upright row and bent-over dumbbell rear lateral raise</td>
<td>  </td>
<td> 3x6-10</td>
<td> 45</td>
</tr>
<tr>
<td> <u>Tri-set</u>: Barbell curl, parallel bar dip and reverse barbell curl</td>
<td>  </td>
<td> 3x6-10</td>
<td> 45</td>
</tr>
<tr>
<td> <u>Tri-set</u>: Hanging leg raise, floor crunch and lying leg raise</td>
<td>  </td>
<td> 3x20</td>
<td> 30</td>
</tr>
</tbody>
</table>
<table class="workoutTable3" style="width: 600px; height: 171px;">
<tbody>
<tr>
<th colspan="4"> Session 2</th>
</tr>
<tr>
<td class="tableSubHead" colspan="4"> 30 Minute Tri-Set Scorcher</td>
</tr>
<tr>
<td> <strong>Exercise</strong></td>
<td class="width20"> <strong>Warm Up Sets</strong></td>
<td class="width20"> <strong>Working Sets</strong></td>
<td class="width20"> <strong>Rest</strong></td>
</tr>
<tr>
<td> <u>Tri-set</u>: Squat jump, static lunge and one-leg calf raise</td>
<td> 2x15</td>
<td> 3x6-10</td>
<td> 60</td>
</tr>
<tr>
<td> <u>Tri-set</u>: Barbell front squat, reverse lunge and dumbbell stiff leg deadlift</td>
<td>  </td>
<td> 3x6-10</td>
<td> 60</td>
</tr>
<tr>
<td> <u>Tri-set</u>: Bench step-up, farmer’s walk and incline board crunch</td>
<td>  </td>
<td> 3x6-20</td>
<td> 60</td>
</tr>
</tbody>
</table>
<p><span style="font-family: 'Open Sans', Arial, sans-serif; font-size: 26px; font-weight: 700; line-height: 38.400001525878906px;">The 40 Minute Giant Killer</span></p>
<p>Perform each session twice per week.</p>
<table class="workoutTable3" style="width: 600px; height: 171px;">
<tbody>
<tr>
<th colspan="4"> Session 1</th>
</tr>
<tr>
<td class="tableSubHead" colspan="4"> 40 Minute Giant Killer</td>
</tr>
<tr>
<td> <strong>Exercise</strong></td>
<td class="width20"> <strong>Warm Up Sets</strong></td>
<td class="width20"> <strong>Working Sets</strong></td>
<td class="width20"> <strong>Rest</strong></td>
</tr>
<tr>
<td> <u>Giant set</u>: Feet-elevated push-up, close-grip pull-up, flat bench barbell press and bent-over barbell row</td>
<td> 2x15</td>
<td> 3x6-10</td>
<td> 60</td>
</tr>
<tr>
<td> <u>Giant set</u>: Seated dumbbell shoulder press, >seated dumbbell side lateral raise, bent-over dumbbell rear lateral raise, standing barbell military press</td>
<td>  </td>
<td> 3x6-10</td>
<td> 60</td>
</tr>
<tr>
<td> <u>Giant set</u>: Incline bench dumbbell curl, lying dumbbell nosebreaker,  dumbbell hammer curl and diamond push-up</td>
<td>  </td>
<td> 3x6-10</td>
<td> 60</td>
</tr>
<tr>
<td> <u>Giant set</u>: Floor crunch, hanging straight leg raise, hanging bent leg raise and bicycle crunch</td>
<td>  </td>
<td> 3x10</td>
<td> 30</td>
</tr>
</tbody>
</table>
<table class="workoutTable3" style="width: 600px; height: 171px;">
<tbody>
<tr>
<th colspan="4"> Session 2</th>
</tr>
<tr>
<td class="tableSubHead" colspan="4"> 40 Minute Giant Killer</td>
</tr>
<tr>
<td> <strong>Exercise</strong></td>
<td class="width20"> <strong>Warm Up Sets</strong></td>
<td class="width20"> <strong>Working Sets</strong></td>
<td class="width20"> <strong>Rest</strong></td>
</tr>
<tr>
<td> <u>Giant set</u>: Box or squat jump, bench step-up, one-leg calf raise and walking lunge</td>
<td> 2x15</td>
<td> 3x6-10</td>
<td> 60</td>
</tr>
<tr>
<td> <u>Giant set</u>: Barbell or dumbbell stiff leg deadlift, front or back barbell squat, static dumbbell reverse lunge and static dumbbell front lunge</td>
<td>  </td>
<td> 3x6-10</td>
<td> 60</td>
</tr>
<tr>
<td> <u>Giant set</u>: Burpees with jump, farmer’s walk, hanging leg raise (hold) and planks</td>
<td>  </td>
<td> 3x10</td>
<td> 60</td>
</tr>
</tbody>
</table>