<h2 class="art-subtitle">Workout Description</h2>
<p>You don’t need to follow the “latest craze” to get a good workout. The kettlebell workout can easily be substituted with a set of dumbbells for a high calorie burning routine.</p>
<p>We all fall prey to the latest fads in fitness. Because we get bored, are looking for an easy answer or just want to fit in, we think we need all the new toys to get fit.  TRX, kettlebells, resistance bands, etc. are all great pieces of equipment but unnecessary.</p>
<p>Obviously if you are a powerlifter, gymnast, etc. you will need more specialized equipment. But, if your budget or space is limited, I think the most versatile piece of equipment is your own body but if you want to expand on that a set of <a href="/exercises/dumbbell">dumbbells</a> will go a long way.  </p>
<p>Listed below are some simple cues to help you achieve the most effective movement.</p>
<p>For the <strong>two arm kettlebell swings</strong> you just hold both your dumbbells so they are touching, lengthwise, in front of your hips.  Squat slightly with knees wide and bring DBs between legs and then swing them up overhead with arms straight while opening up the hips.  Continue this move in a smooth and unbroken motion until you reach the prescribed number of swings.</p>
<p>For the <strong>one arm kettlebell snatch</strong>, hold the dumbbell by your side and with your arm straight you rotate the dumbbell up over your shoulder and end with your arm extended and the dumbbell in the frontal plane.</p>
<p><strong>Clean and press</strong> starts with the dumbbell held by your side.  Bring the dumbbell up to your shoulder and then press to overhead.</p>
<p><strong>Lunge pass through</strong> is a one leg lunge and pass the dumbbell under the leading leg to the opposite hand.</p>
<p><strong>Single arm swing</strong> is just like it sounds.  While holding only one dumbbell do a swing with that arm.</p>
<p><strong>Thrusters </strong>are done by holding both dumbbells at shoulder level.  Now squat until elbows touch knees and then stand while pushing dumbbells up to a shoulder press.</p>
<p>If you need more instruction you can find references to these kettlebell moves by doing an internet search.</p>
<p>Now the workout!</p>
<h3 class="art-subtitle">
Dumbbell HIIT Workout</h3>
<p>Complete three rounds of this sequence.</p>
<table class="workoutTable3">
<tbody>
<tr>
<th colspan="2">
Dumbbell HIIT Workout</th>
</tr>
<tr>
<td class="tableSubHead" colspan="2">
3 Rounds</td>
</tr>
<tr>
<td>
<strong>Exercise</strong></td>
<td class="width20">
<strong>Reps</strong></td>
</tr>
<tr>
<td>
Two Arm Dumbbell Swings</td>
<td>
20</td>
</tr>
<tr>
<td>
Right Arm Snatch</td>
<td>
10</td>
</tr>
<tr>
<td>
Left Arm Snatch</td>
<td>
10</td>
</tr>
<tr>
<td>
Two Arm Dumbbell Swings</td>
<td>
20</td>
</tr>
<tr>
<td>
Right Arm Clean and Press</td>
<td>
10</td>
</tr>
<tr>
<td>
Left Arm Clean and Press</td>
<td>
10</td>
</tr>
<tr>
<td>
Two Arm Dumbbell Swings</td>
<td>
20</td>
</tr>
<tr>
<td>
Right Single Arm Swings</td>
<td>
10</td>
</tr>
<tr>
<td>
Left Single Arm Swings</td>
<td>
10</td>
</tr>
<tr>
<td>
Two Arm Dumbbell Swings</td>
<td>
20</td>
</tr>
<tr>
<td>
Right Leg Lunge Pass Through</td>
<td>
10</td>
</tr>
<tr>
<td>
Left Leg Lunge Pass Through</td>
<td>
10</td>
</tr>
<tr>
<td>
Two Arm Dumbbell Swings</td>
<td>
20</td>
</tr>
<tr>
<td>
Thrusters</td>
<td>
10</td>
</tr>
<tr>
<td>
Two Arm Dumbbell Swings</td>
<td>
20</td>
</tr>
<tr>
<td>
Snatch Sit Ups</td>
<td>
25</td>
</tr>
<tr>
<td>
4-Count Scissor Kicks</td>
<td>
25</td>
</tr>
</tbody>
</table>