<p>The following workout, for those who only have access to a set of dumbbells, is a 5 day per week program.</p>
<p>It can be performed by those who work out at home in their home gym, travel frequently and need a go-to program they can do at a hotel gym, or anyone really who prefers to use dumbbells over other implements at the gym.</p>

<h2 class="art-subtitle">
5 Day Dumbbell Workout Split Overview</h2>
<p>The workout can be performed for up to 12 weeks.</p>
<p>After 12 weeks, you may want to consider increasing the volume within the workout, the weight of the dumbbells you are using, or look into facilities that offer more of a variety of weighted equipment.</p>
<p>The program calls for you to work out 5 days per week. What days you decide to work out on are completely up to you. Just ensure that you incorporate 2 rest/active recovery days into your weekly schedule.</p>
<p>The goal of the program is to help you build muscle. Of course, if you’d rather use it to help aid in fat loss, that is completely fine too. Just be sure to adjust your caloric intake accordingly.</p>
<p>Keep rest periods right around the 45 second mark for this workout program.</p>

<table class="workoutTable2">

<tbody>
<tr>
<th colspan="3">
Day 1: Chest, Shoulders, &amp; Triceps Dumbbell Workout
</th>
</tr>
<tr>
<th class="width60">
Exercise</th>
<th>
Sets</th>
<th>
Reps</th>
</tr>
<tr>
<td>
1. Dumbbell Bench Press</td>
<td>
5</td>
<td>
8-10</td>
</tr>
<tr>
<td>
2. Incline Dumbbell Bench Press</td>
<td>
4</td>
<td>
8-10</td>
</tr>
<tr>
<td>
3. Dumbbell Floor Press</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
4. Standing Dumbbell Press</td>
<td>
4</td>
<td>
8-10</td>
</tr>
<tr>
<td>
5. Dumbbell Lateral Raise</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
6. Dumbbell Tricep Kickback</td>
<td>
3</td>
<td>
8-12</td>
</tr>
</tbody>
</table>

<table class="workoutTable2">
<tbody>
<tr>
<th colspan="3">
Day 2: Legs &amp; Core Dumbbell Workout
</th>
</tr>
<tr>
<th class="width60">
Exercise</th>
<th>
Sets</th>
<th>
Reps</th>
</tr>
<tr>
<td>
1. Dumbbell Goblet Squat</td>
<td>
4</td>
<td>
8-10</td>
</tr>
<tr>
<td>
2. Dumbbell Stiff Leg Deadlift</td>
<td>
4</td>
<td>
8-10</td>
</tr>
<tr>
<td>
3. Dumbbell Rear Lunge</td>
<td>
4</td>
<td>
8-10 Each</td>
</tr>
<tr>
<td>
4. Dumbbell Frog Squat</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
5. Dumbbell Calf Raise</td>
<td>
4</td>
<td>
20</td>
</tr>
<tr>
<td>
6. Weighted Crunch</td>
<td>
3</td>
<td>
20</td>
</tr>
<tr>
<td>
7. Side Planks</td>
<td>
3</td>
<td>
20 Secs Each</td>
</tr>
</tbody>
</table>

<table class="workoutTable2">
<tbody>
<tr>
<th colspan="3">
Day 3: Back &amp; Biceps Dumbbell Workout
</th>
</tr>
<tr>
<th class="width60">
Exercise</th>
<th>
Sets</th>
<th>
Reps</th>
</tr>
<tr>
<td>
1. Dumbbell Bent Over Row</td>
<td>
4</td>
<td>
8-12</td>
</tr>
<tr>
<td>
2. Tripod Dumbbell Row</td>
<td>
4</td>
<td>
8-12 Each</td>
</tr>
<tr>
<td>
3. Dumbbell Pullover</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
4. Reverse Grip Dumbbell Row</td>
<td>
4</td>
<td>
8-12</td>
</tr>
<tr>
<td>
5. Dumbbell Bicep Curl</td>
<td>
3</td>
<td>
10-15</td>
</tr>
<tr>
<td>
6. Dumbbell Hammer Curl</td>
<td>
3</td>
<td>
10-15</td>
</tr>
</tbody>
</table>

<table class="workoutTable2" style="margin-left: 55px">
<tbody>
<tr>
<th colspan="3">
Day 4: Legs &amp; Core Dumbbell Workout
</th>
</tr>
<tr>
<th class="width60">
Exercise</th>
<th>
Sets</th>
<th>
Reps</th>
</tr>
<tr>
<td>
1. Dumbbell Squat</td>
<td>
4</td>
<td>
8-10</td>
</tr>
<tr>
<td>
2. Dumbbell Deadlift</td>
<td>
4</td>
<td>
8-10</td>
</tr>
<tr>
<td>
3. Dumbbell Split Squat</td>
<td>
3</td>
<td>
8-12 Each</td>
</tr>
<tr>
<td>
4. Dumbbell Hip Thrust</td>
<td>
4</td>
<td>
10-15</td>
</tr>
<tr>
<td>
5. Dumbbell Calf Raise</td>
<td>
4</td>
<td>
20</td>
</tr>
<tr>
<td>
6. Dumbbell Side Bends</td>
<td>
3</td>
<td>
15 Each</td>
</tr>
<tr>
<td>
7. Plank</td>
<td>
3</td>
<td>
20 Secs</td>
</tr>
</tbody>
</table>

<table class="workoutTable2">
<tbody>
<tr>
<th colspan="3">
Day 5: Complete Upper Body Dumbbell Workout</th>
</tr>
<tr>
<th class="width60">
Exercise</th>
<th>
Sets</th>
<th>
Reps</th>
</tr>
<tr>
<td>
1. One Arm Dumbbell Rows</td>
<td>
4</td>
<td>
8-10 Each</td>
</tr>
<tr>
<td>
2. Dumbbell Arnold Press</td>
<td>
4</td>
<td>
8-10</td>
</tr>
<tr>
<td>
3. Incline Dumbbell Bench Press</td>
<td>
4</td>
<td>
8-12</td>
</tr>
<tr>
<td>
4. Chest Supported Dumbbell Row</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
5. Dumbbell Pinwheel Curl</td>
<td>
2</td>
<td>
8-12</td>
</tr>
<tr>
<td>
6. Overhead Dumbbell Tricep Extension</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
7. Dumbbell Shrug</td>
<td>
3</td>
<td>
12-15</td>
</tr>
</tbody>
</table>