<h2 class="art-subtitle">Workout Description</h2>
<p>The two most popular excuses when it comes to not working out:</p>
<ol>
<li class="art-li1"> •I don’t have time to do it.</li>
<li class="art-li1"> •I can’t make it to the gym.</li>
</ol>
<p>Muscle &amp; Strength is about more than helping you getting in great shape. We also like to crush excuses and this workout is going to take care of both of those.</p>
<p>This program doesn’t take more than 20 minutes to perform and if your car just doesn’t happen to pull in to the gym parking lot, you can do this one at home! Awesome, right?</p>
<p>All you need for this workout is your body, water, a towel close by, a jump rope, and a kettlebell or dumbbell that is light enough that you can handle it relatively easily.</p>
<p>This program is short but will challenge your muscular endurance, coordination, athletic agility, and cardiovascular system.</p>
<p>In other words, it will burn, you’ll move a lot, get tired, and your heart will race.</p>
<h2 class="art-subtitle"> EMOM Training</h2>
<p>Since you only have 20 minutes it’s best to make the most out of each minute, right? That’s why for this workout we’re going to use Every Minute On the Minute (EMOM) Training.</p>
<p>If you’re not familiar with that term, it means you start your set or session at the beginning of each minute, complete whatever is required for you to do as quickly as possible, and rest for the remainder of that minute.</p>
<p>For example, let’s say you’re supposed to do 20 pushups. At the top of the minute you would do the pushups. If it takes you 25 seconds to do them, you’ll have 35 seconds left to rest and recover before you start training at the top of the next minute.</p>
<h2 class="art-subtitle"> The Exercises</h2>
<p>Below is a list of exercises we will use for this 20 minute workout.</p>
<p><strong><em>Kettlebell Swings:</em></strong> This is the most popular movement with kettlebells. It’s pretty basic and appears like it wouldn’t be very effective but if you use the right weight it will wear you out quickly. Your shoulders, forearms, legs, and core will feel the burn.</p>
<p>Hold the weight by the handle or top and start with it at arms’ length between your legs. Using your legs, shoulders, and core, swing it up until it passes shoulder height. Lower it under control to the starting position and repeat.</p>
<p><em><strong>Goblet Squat:</strong></em> You’ve probably seen these performed with a dumbbell but you can do these with your kettlebell as long as you hold it by the sides of the handle, also known as the “horns”. If you’re using a dumbbell hold it by one end on the sides.</p>
<p>For this exercise to be the most effective, you must squat all the way down with your thighs at least parallel with the floor. When you stand back up, flex your quads and squeeze your glutes at the top. Repeat.</p>
<p><em><strong>Jumping Rope:</strong></em> Seeing the jump rope in the list of items was probably a spoiler, right? If this is a talent you don’t feel you’re a master of, just do the best you can. The effort and trying your best is what matters here.</p>
<p><em><strong>8 Counts:</strong></em> You might have also heard these called “8 Count Body Builders”. These used to be as popular as burpees are now. It’s a total body exercise that will take some practice before you feel comfortable doing at full speed. If you’ve never done this before, here’s how it works.</p>
<p>Stand straight with feet forward and shoulder width apart. Arms should be at your sides.</p>
<ol>
<li class="art-li1"> Bend over and place your hands on the floor wider than shoulder width.</li>
<li class="art-li1"> Kick your legs back so your toes are on the floor and you’re in a push-up position.</li>
<li class="art-li1"> Drop down into a push-up.</li>
<li class="art-li1"> Push-up back to the top.</li>
<li class="art-li1"> Kick your feet out to the sides.</li>
<li class="art-li1"> Now bring them back together.</li>
<li class="art-li1"> Bring your feet back in so they are under your torso.</li>
<li class="art-li1"> Return to your standing position.</li>
</ol>
<p>That is one rep. You would repeat for as many reps as you can in the time permitted.</p>
<p><strong><em>Plank:</em></strong> Obviously you don’t move during a plank but this will force you to focus on keeping your core tight and stabilize your body without falling. So for a workout like this it will be both effective and beneficial.</p>
<p>Get down on the floor in a pushup position. Hold yourself up with your hands or forearms. Pull in your stomach and tighten your entire body. Hold this position as long as you can or for the time required.</p>
<h2 class="art-subtitle"> Phase 1: The First Five Minutes</h2>
<p>Start out by doing each of the exercises above following the EMOM guideline. This first phase is more for warming up and becoming familiar with the movements.</p>
<p>You’ll perform each exercise for 20 seconds while resting for the remaining 40 seconds of that minute. Keep in mind that during your rest periods you should be transitioning to the next exercise. Here’s how that first five minutes will go.</p>
<table class="workoutTable3">
<tbody>
<tr>
<th class="width60"> Exercise</th>
<th> Work</th>
<th> Rest</th>
</tr>
<tr>
<td> 1. Kettlebell Swings</td>
<td> 20 Secs</td>
<td> 40 Secs</td>
</tr>
<tr>
<td> 2. Goblet Squats</td>
<td> 20 Secs</td>
<td> 40 Secs</td>
</tr>
<tr>
<td> 3. Jump Rope</td>
<td> 20 Secs</td>
<td> 40 Secs</td>
</tr>
<tr>
<td> 4. 8 Counts</td>
<td> 20 Secs</td>
<td> 40 Secs</td>
</tr>
<tr>
<td> 5. Plank</td>
<td> 20 Secs</td>
<td> 40 Secs</td>
</tr>
</tbody>
</table>
<h2 class="art-subtitle"> Phase 2: The Next Five Minutes</h2>
<p>Now that you know what you’re doing, you should be ready to do more reps. Since you’ll be doing more work, that means your rest periods will decrease. This is the cardio component of this workout.</p>
<p>You’ll do 30 seconds of work and resting for 30 seconds. Here’s a summary of what that looks like.</p>
<table class="workoutTable3">
<tbody>
<tr>
<th class="width60"> Exercise</th>
<th> Work</th>
<th> Rest</th>
</tr>
<tr>
<td> 6. Kettlebell Swings</td>
<td> 30 Secs</td>
<td> 30 Secs</td>
</tr>
<tr>
<td> 7. Goblet Squats</td>
<td> 30 Secs</td>
<td> 30 Secs</td>
</tr>
<tr>
<td> 8. Jump Rope</td>
<td> 30 Secs</td>
<td> 30 Secs</td>
</tr>
<tr>
<td> 9. 8 Counts</td>
<td> 30 Secs</td>
<td> 30 Secs</td>
</tr>
<tr>
<td> 10. Plank</td>
<td> 30 Secs</td>
<td> 30 Secs</td>
</tr>
</tbody>
</table>
<h2 class="art-subtitle"> Phase 3: The Halfway Point</h2>
<p>You’re already halfway home. Good work. However this wouldn’t be much of a challenge if we stop there. Now the intensity goes up and the rest goes down again.</p>
<p>You’ll be doing 40 seconds of work and resting 20 seconds. Mentally you need to be locked in to this workout and nothing else.</p>
<table class="workoutTable3">
<tbody>
<tr>
<th class="width60"> Exercise</th>
<th> Work</th>
<th> Rest</th>
</tr>
<tr>
<td> 11. Kettlebell Swings</td>
<td> 40 Secs</td>
<td> 20 Secs</td>
</tr>
<tr>
<td> 12. Goblet Squats</td>
<td> 40 Secs</td>
<td> 20 Secs</td>
</tr>
<tr>
<td> 13. Jump Rope</td>
<td> 40 Secs</td>
<td> 20 Secs</td>
</tr>
<tr>
<td> 14. 8 Counts</td>
<td> 40 Secs</td>
<td> 20 Secs</td>
</tr>
<tr>
<td> 15. Plank</td>
<td> 40 Secs</td>
<td> 20 Secs</td>
</tr>
</tbody>
</table>
<h2 class="art-subtitle"> Phase 4: The Final Count Down</h2>
<p>This is the final phase but of course it’s the most challenging. You should be pushing yourself hard at this point. It will be tempting to stop and take a couple breaths in between reps. If you feel like you’re going to pass out, then you should stop. Otherwise, try to push yourself.</p>
<p>You’ll be working for 45 seconds and resting for only 15 seconds. That’s enough time to transition, take a deep breath or sip water, and go. Even though you don’t move during the plank, you’ll find it to be a challenge nonetheless.</p>
<table class="workoutTable3">
<tbody>
<tr>
<th class="width60"> Exercise</th>
<th> Work</th>
<th> Rest</th>
</tr>
<tr>
<td> 16. Kettlebell Swings</td>
<td> 45 Secs</td>
<td> 15 Secs</td>
</tr>
<tr>
<td> 17. Goblet Squats</td>
<td> 45 Secs</td>
<td> 15 Secs</td>
</tr>
<tr>
<td> 18. Jump Rope</td>
<td> 45 Secs</td>
<td> 15 Secs</td>
</tr>
<tr>
<td> 19. 8 Counts</td>
<td> 45 Secs</td>
<td> 15 Secs</td>
</tr>
<tr>
<td> 20. Plank</td>
<td> 45 Secs</td>
<td> 15 Secs</td>
</tr>
</tbody>
</table>
<h2 class="art-subtitle"> What to Do Next</h2>
<p>Obviously take a minute or two to take some deep breaths and recover before going on with your day.</p>
<p>There are several ways to challenge yourself to improve on this program. You can focus on doing more reps, improving the speed of the rope while skipping, or using a heavier weight for the first two movements.</p>
