<h2 class="art-subtitle">Workout Description</h2>
<p>•Military workouts are known to be more physically and mentally demanding than your average everyday simple routine.</p>
<p>•In basic training, the new recruits get their mind, body, and soul pushed to limits they are not used to.</p>
<p>•That’s why when you talk to most soldiers they will tell you they were in the best shape of their life during basic training.</p>
<p>•I know CrossFit renders great results, but before boxes started popping up, military style workouts were the style of workouts getting the job done.</p>
<p>•Military workouts are more performance-based, and are less focused on achieving an aesthetic look - like most programs you'll find online.</p>
<p>•With this program we will combine military style training with bodybuilding. The goal is to build a hybrid athlete that looks good and is able to perform at the highest level as well.</p>

<h2 class="art-subtitle">
Getting Started with the 30 Day Military Athlete Workout</h2>
<p>Each weight training day will begin with a ladder method superset of 2 exercises. One exercise will increase in reps and the other will decrease in reps until you've completed the ladder.</p>
<p>For example: When performing pull ups you will do 10 reps, followed by a set of dips that you will perform 1 rep, then go back to pull ups to do 9 reps, followed by dips again too for a set of 2. And you will continue this process until you get to 10 dips and 1 pull up. Try to rest as little as possible.</p>
<p>After you've finished the ladder superset, you’ll move on to 2 different giant sets and finish up with some burnout sets.</p>
<p>Each weight training day will work two muscle parts, followed by a 2 mile run where you’ll go as fast possible. There is also a cardio challenge day, an endurance &amp; bodyweight training day, and a total body AMRAP day.</p>
<h4 class="art-subtitle">
What Can You Achieve with this Program?</h4>
<p>I want you to be advised that is program is meant to be challenging to strengthen your mind, increase your fitness level overall, and give you the satisfaction that you were able to complete a challenging program, so let’s be happy to be uncomfortable.</p>
<h3 class="art-subtitle">
Workout 1: Chest &amp; Back</h3>
<table class="workoutTable3">
<tbody>
<tr>
<th class="width60">
Exercise</th>
<th>
Sets</th>
<th>
Reps</th>
</tr>
<tr>
<td>
1a. Pull Ups</td>
<td>
10</td>
<td>
10, 9, 8, 7, 6, 5, 4, 3, 2, 1</td>
</tr>
<tr>
<td>
1b. Dips</td>
<td>
10</td>
<td>
1, 2, 3, 4, 5, 6, 7, 8, 9, 10</td>
</tr>
<tr>
<td>
2a. Incline Dumbbell Bench Press (90 degrees)</td>
<td>
5</td>
<td>
10</td>
</tr>
<tr>
<td>
2b. Incline Dumbbell Bench Press (45 degrees)</td>
<td>
5</td>
<td>
10</td>
</tr>
<tr>
<td>
2c. Flat Bench Dumbbell Press</td>
<td>
5</td>
<td>
10</td>
</tr>
<tr>
<td>
2d. Dumbbell Chest Fly</td>
<td>
5</td>
<td>
8-12</td>
</tr>
<tr>
<td>
3a. Bent Over Row</td>
<td>
5</td>
<td>
10</td>
</tr>
<tr>
<td>
3b. 1 Arm Dumbbell Row</td>
<td>
5</td>
<td>
10 Each</td>
</tr>
<tr>
<td>
3c. Bent Over Dumbbell Rear Fly</td>
<td>
5</td>
<td>
10</td>
</tr>
<tr>
<td>
3d. Reverse Grip Bent Over Row</td>
<td>
5</td>
<td>
10</td>
</tr>
<tr>
<td>
4a. Decline Push Up</td>
<td>
3</td>
<td>
Failure</td>
</tr>
<tr>
<td>
4b. Push Up</td>
<td>
3</td>
<td>
Failure</td>
</tr>
<tr>
<td>
4c. Incline Push Up</td>
<td>
3</td>
<td>
Failure</td>
</tr>
<tr>
<td>
4d. Plank</td>
<td>
3</td>
<td>
30 Secs</td>
</tr>
<tr>
<td>
5a. Wide Grip Lat Pull Down</td>
<td>
3</td>
<td>
12-15</td>
</tr>
<tr>
<td>
5b. Reverse Grip Pull Down</td>
<td>
3</td>
<td>
12-15</td>
</tr>
<tr>
<td>
5c. Straight Arm Pull Down</td>
<td>
3</td>
<td>
12-15</td>
</tr>
<tr>
<td>
5d. Chin Ups</td>
<td>
3</td>
<td>
Failure</td>
</tr>
</tbody>
</table>
<p><em>Cardio:</em> Run 2 miles as fast as possible.</p>
<h3 class="art-subtitle">
Workout 2: Shoulders &amp; Legs</h3>
<table class="workoutTable3">
<tbody>
<tr>
<th class="width60">
Exercise</th>
<th>
Sets</th>
<th>
Reps</th>
</tr>
<tr>
<td>
1a. Barbell Push Press</td>
<td>
10</td>
<td>
1, 2, 3, 4, 5, 6, 7, 8, 9, 10</td>
</tr>
<tr>
<td>
1b. Burpees</td>
<td>
10</td>
<td>
10, 9, 8, 7, 6, 5, 4, 3, 2, 1</td>
</tr>
<tr>
<td>
2a. Seated Dumbbell Lateral Raise</td>
<td>
5</td>
<td>
10</td>
</tr>
<tr>
<td>
2b. Standing Dumbbell Lateral Raise</td>
<td>
5</td>
<td>
10</td>
</tr>
<tr>
<td>
2c. Seated Dumbbell Front Raise</td>
<td>
5</td>
<td>
10</td>
</tr>
<tr>
<td>
2d. Standing Dumbbell Front Raise</td>
<td>
5</td>
<td>
10</td>
</tr>
<tr>
<td>
3a. Weighted Jump Squat</td>
<td>
5</td>
<td>
10</td>
</tr>
<tr>
<td>
3b. Front Squats</td>
<td>
5</td>
<td>
10</td>
</tr>
<tr>
<td>
3c. Weighted Wall Sits</td>
<td>
5</td>
<td>
30 Secs</td>
</tr>
<tr>
<td>
3d. Wall Sits</td>
<td>
5</td>
<td>
30 Secs</td>
</tr>
<tr>
<td>
4a. Arnold Press</td>
<td>
3</td>
<td>
12-15</td>
</tr>
<tr>
<td>
4b. Wide Grip Upright Row</td>
<td>
3</td>
<td>
12-15</td>
</tr>
<tr>
<td>
4c. Shrugs</td>
<td>
3</td>
<td>
20</td>
</tr>
<tr>
<td>
5a. Dumbbell Sumo Deadlift</td>
<td>
3</td>
<td>
12-15</td>
</tr>
<tr>
<td>
5b. Leg Curls</td>
<td>
3</td>
<td>
12-15</td>
</tr>
<tr>
<td>
5c. Lunge Jumps</td>
<td>
3</td>
<td>
12-15 Each</td>
</tr>
</tbody>
</table>
<p><em>Cardio:</em> 7 rounds of HIIT performing 30 secs walking, 1 min jogging, and 30 seconds sprinting</p>
<h3 class="art-subtitle">
Workout 3: Arms</h3>
<table class="workoutTable3">
<tbody>
<tr>
<th class="width60">
Exercise</th>
<th>
Sets</th>
<th>
Reps</th>
</tr>
<tr>
<td>
1a. Barbell Curl</td>
<td>
10</td>
<td>
1, 2, 3, 4, 5, 6, 7, 8, 9, 10</td>
</tr>
<tr>
<td>
1b. Diamond Push Up</td>
<td>
10</td>
<td>
10, 9, 8, 7, 6, 5, 4, 3, 2, 1</td>
</tr>
<tr>
<td>
2a. Incline Dumbbell Curl</td>
<td>
5</td>
<td>
10</td>
</tr>
<tr>
<td>
2b. Seated Curl</td>
<td>
5</td>
<td>
10</td>
</tr>
<tr>
<td>
2c. Standing Curl</td>
<td>
5</td>
<td>
10</td>
</tr>
<tr>
<td>
2d. Leaning Curl</td>
<td>
5</td>
<td>
10</td>
</tr>
<tr>
<td>
3a. Incline Skullcrusher</td>
<td>
5</td>
<td>
10</td>
</tr>
<tr>
<td>
3b. Skullcursher</td>
<td>
5</td>
<td>
10</td>
</tr>
<tr>
<td>
3c. Close Grip Press</td>
<td>
5</td>
<td>
10</td>
</tr>
<tr>
<td>
3d. Bench Dips</td>
<td>
5</td>
<td>
20</td>
</tr>
<tr>
<td>
4a. Hammer Curls</td>
<td>
3</td>
<td>
12</td>
</tr>
<tr>
<td>
4b. Machine Preacher Curls</td>
<td>
3</td>
<td>
12</td>
</tr>
<tr>
<td>
4c. Push Ups</td>
<td>
3</td>
<td>
10</td>
</tr>
<tr>
<td>
5a. Tricep Cable Pushdown</td>
<td>
3</td>
<td>
20</td>
</tr>
<tr>
<td>
5b. Reverse Grip Tricep Cable Pushdown</td>
<td>
3</td>
<td>
20</td>
</tr>
<tr>
<td>
5c. Overhead Cable Extension</td>
<td>
3</td>
<td>
10</td>
</tr>
</tbody>
</table>
<p><em>Cardio:</em> Run 2 miles as fast as possible.</p>
<h3 class="art-subtitle">
<br />
Workout 4: Cardio Challenge</h3>
<table class="workoutTable3">
<tbody>
<tr>
<th class="width60">
Exercise</th>
<th>
Sets</th>
<th>
Reps</th>
</tr>
<tr>
<td>
1a. Burpees</td>
<td>
20</td>
<td>
20-1</td>
</tr>
<tr>
<td>
1b. Jump Rope</td>
<td>
20</td>
<td>
100</td>
</tr>
</tbody>
</table>
<p>In this challenge, you'll perform a burpee and jump rope circuit. Start with 20 burpees and work your way down to 1. Between each set of burpees, perform 100 jumps using a jump rope.</p>
<h3 class="art-subtitle">
<br />
Workout 5: Total Body AMRAP</h3>
<table class="workoutTable3">
<tbody>
<tr>
<th class="width60">
Exercise</th>
<th>
Sets</th>
<th>
Reps</th>
</tr>
<tr>
<td>
1a. Push Ups</td>
<td>
10</td>
<td>
1, 2, 3, 4, 5, 6, 7, 8, 9, 10</td>
</tr>
<tr>
<td>
1b. Barbell Thrusters</td>
<td>
10</td>
<td>
10, 9, 8, 7, 6, 5, 4, 3, 2, 1</td>
</tr>
<tr>
<td>
2a. Bench Press</td>
<td>
10 Mins</td>
<td>
10</td>
</tr>
<tr>
<td>
2b. Pull Ups</td>
<td>
10 Mins</td>
<td>
7</td>
</tr>
<tr>
<td>
2c. Elevated Push Up</td>
<td>
10 Mins</td>
<td>
10</td>
</tr>
<tr>
<td>
2d. 1 Arm Row</td>
<td>
10 Mins</td>
<td>
10 Each</td>
</tr>
<tr>
<td>
3a. Dumbbell Shoulder Press</td>
<td>
10 Mins</td>
<td>
10</td>
</tr>
<tr>
<td>
3b. Back Squats</td>
<td>
10 Mins</td>
<td>
10</td>
</tr>
<tr>
<td>
3c. Lateral to Front Raises</td>
<td>
10 Mins</td>
<td>
10</td>
</tr>
<tr>
<td>
3d. Rear Lunge</td>
<td>
10 Mins</td>
<td>
10 Each</td>
</tr>
<tr>
<td>
4a. Barbell Curl</td>
<td>
10 Mins</td>
<td>
10</td>
</tr>
<tr>
<td>
4b. Machine Tricep Dips</td>
<td>
10 Mins</td>
<td>
10</td>
</tr>
<tr>
<td>
4c. Hammer Curls</td>
<td>
10 Mins</td>
<td>
10</td>
</tr>
<tr>
<td>
4d. Kick Backs</td>
<td>
10 Mins</td>
<td>
10</td>
</tr>
</tbody>
</table>
<p><em>Note:</em> For the 10 Min giant sets, perform each exercise in a circuit fashion for the entire 10 minutes. The goal is to perform as many quality reps as possible in the 10 min period.</p>
<h3 class="art-subtitle">
Workout 6: Endurance &amp; Abs</h3>
<table class="workoutTable3">
<tbody>
<tr>
<th class="width60">
Exercise</th>
<th>
Sets</th>
<th>
Reps</th>
</tr>
<tr>
<td>
1a. Jog</td>
<td>
5</td>
<td>
10 Mins</td>
</tr>
<tr>
<td>
1b. Toes to Bar</td>
<td>
5</td>
<td>
10</td>
</tr>
<tr>
<td>
1c. Sit Ups</td>
<td>
5</td>
<td>
20</td>
</tr>
<tr>
<td>
1d. Leg Raises</td>
<td>
5</td>
<td>
30</td>
</tr>
<tr>
<td>
1e. Mountain Climber</td>
<td>
5</td>
<td>
40</td>
</tr>
</tbody>
</table>
<p><em>Note:</em> Perform the workout in a circuit fashion, using the ab training as your rest period from the jog.</p>
<h4 class="art-subtitle">
Final Notes</h4>
<p>•This workout program is very intense and taxing on the body, so only do this program for 30 days.</p>
<p>•Then once completed, move on to another program and come back to this workout when you feel you need to take it to the next level again.</p>
<p>•Let’s report to duty and finish this Military Athlete Trainer.</p>