<h2 class="art-subtitle">Workout Description</h2>
<p>Normally when the word boot camp is used in fitness circles it conjures visions of group exercise classes mimicking the style and cadence of actual military boot camp.</p>
<p>This isn’t about that.</p>
<p>The rigors of actual boot camp are oftentimes heralded with fear, admiration, and thoughts of intense training requirements. It’s void of spandex, exercise regressions and high fives with smiles.</p>
<p>Below is a vigorous 12 week military boot camp style workout program designed to kick your butt a little and get you in some serious shape.</p>
<p>Of course you’re not actually in basic training but try this out for the entire 12 weeks and you’ll only be better for it.</p>

<h4 class="art-subtitle">
Weeks 1-4</h4>
<p>Perform your workouts four times per week with no more than two days consecutively. For example, perform workout A, then B then take a rest day, then do workout A and then B again then take another rest day or two. You can go with Monday, Tuesday, Thursday and Friday with Wednesday and the weekend off.</p>
<h4 class="art-subtitle">
Workout A</h4>
<table class="workoutTable3">
<tbody>
<tr>
<th class="width60">
Exercise</th>
<th>
Warm Up</th>
<th>
Working Sets/Rounds</th>
</tr>
<tr>
<td>
1a. Pushups</td>
<td>
20 jumping jacks</td>
<td>
3-4 rounds of 10-20 reps</td>
</tr>
<tr>
<td>
1b. Inverted Rows</td>
<td>
-</td>
<td>
3-4 rounds of 10-20 reps</td>
</tr>
<tr>
<td>
1c. Leg Lifts</td>
<td>
-</td>
<td>
3-4 rounds of 10-20 reps</td>
</tr>
<tr>
<td>
2a. Box Jump</td>
<td>
20 steps of walking lunge</td>
<td>
3-4 rounds of 10-20 reps</td>
</tr>
<tr>
<td>
2b. Reverse Lunge</td>
<td>
-</td>
<td>
3-4 rounds of 10-20 reps</td>
</tr>
<tr>
<td>
2c. Prisoner Squat</td>
<td>
-</td>
<td>
3-4 rounds of 10-20 reps</td>
</tr>
<tr>
<td>
3a. Diamond Pushup</td>
<td>
-</td>
<td>
3-4 rounds of 10-20 reps</td>
</tr>
<tr>
<td>
3b. Floor Crunch</td>
<td>
-</td>
<td>
3-4 rounds of 10-20 reps</td>
</tr>
<tr>
<td>
3c. Plank</td>
<td>
-</td>
<td>
3-4 rounds of 30 seconds</td>
</tr>
<tr>
<td>
4. 1 mile run</td>
<td>
3 min warm up</td>
<td>
comfortable pace</td>
</tr>
</tbody>
</table>
<h4 class="art-subtitle">
Workout B</h4>
<table class="workoutTable3">
<tbody>
<tr>
<th class="width60">
Exercise</th>
<th>
Warm Up</th>
<th>
Working Sets/Rounds</th>
</tr>
<tr>
<td>
1a. Front Squat</td>
<td>
2 x 10</td>
<td>
3 x 12</td>
</tr>
<tr>
<td>
1b. Dumbbell Stiff Leg Deadlift</td>
<td>
2 x 10</td>
<td>
3 x 12</td>
</tr>
<tr>
<td>
2a. Bench Press</td>
<td>
2 x 10</td>
<td>
3 x 8</td>
</tr>
<tr>
<td>
2b. Dumbbell Row</td>
<td>
2 x 10</td>
<td>
3 x 8</td>
</tr>
<tr>
<td>
3a. Kettlebell Swing</td>
<td>
-</td>
<td>
3 x 12</td>
</tr>
<tr>
<td>
3b. Overhead Press</td>
<td>
-</td>
<td>
3 x 12</td>
</tr>
<tr>
<td>
4. 1 mile run</td>
<td>
3 min warm up</td>
<td>
comfortable pace</td>
</tr>
</tbody>
</table>
<h4 class="art-subtitle">
Weeks 5-8</h4>
<p>Perform your workouts four times per week with no more than two days consecutively. For example, perform workout A, then B then take a rest day, then do workout A and then B again then take another rest day or two. You can go with Monday, Tuesday, Thursday and Friday with Wednesday and the weekend off.</p>
<h4 class="art-subtitle">
Workout A</h4>
<table class="workoutTable3">
<tbody>
<tr>
<th class="width60">
Exercise</th>
<th>
Warm Up</th>
<th>
Working Sets/Rounds</th>
</tr>
<tr>
<td>
1a. Feet- Elevated Pushups</td>
<td>
20 jumping jacks</td>
<td>
3-4 rounds of 10-20 reps</td>
</tr>
<tr>
<td>
1b. Chin Up</td>
<td>
-</td>
<td>
3-4 rounds of 10-20 reps</td>
</tr>
<tr>
<td>
1c. Leg Lifts</td>
<td>
-</td>
<td>
3-4 rounds of 10-20 reps</td>
</tr>
<tr>
<td>
2a. Box Jump</td>
<td>
20 steps of walking lunge</td>
<td>
3-4 rounds of 10-20 reps</td>
</tr>
<tr>
<td>
2b. Walking Lunge</td>
<td>
-</td>
<td>
3-4 rounds of 10-20 reps</td>
</tr>
<tr>
<td>
2c. Calf Jump</td>
<td>
-</td>
<td>
3-4 rounds of 10-20 reps</td>
</tr>
<tr>
<td>
3a. Diamond Pushup</td>
<td>
-</td>
<td>
3-4 rounds of 10-20 reps</td>
</tr>
<tr>
<td>
3b. Sit Up</td>
<td>
-</td>
<td>
3-4 rounds of 10-20 reps</td>
</tr>
<tr>
<td>
3c. Plank</td>
<td>
-</td>
<td>
3-4 rounds of 30 seconds</td>
</tr>
<tr>
<td>
4. 1.5 mile run</td>
<td>
3 min warm up</td>
<td>
comfortable pace</td>
</tr>
</tbody>
</table>
<h4 class="art-subtitle">
Workout B</h4>
<table class="workoutTable3">
<tbody>
<tr>
<th class="width60">
Exercise</th>
<th>
Warm Up</th>
<th>
Working Sets/Rounds</th>
</tr>
<tr>
<td>
1a. Squat</td>
<td>
2 x 10</td>
<td>
3 x 12</td>
</tr>
<tr>
<td>
1b. Romanian Deadlift</td>
<td>
2 x 10</td>
<td>
3 x 12</td>
</tr>
<tr>
<td>
2a. Dumbbell Bench Press</td>
<td>
2 x 10</td>
<td>
3 x 8</td>
</tr>
<tr>
<td>
2b. Barbell Row</td>
<td>
2 x 10</td>
<td>
3 x 8</td>
</tr>
<tr>
<td>
3a. Kettlebell Press</td>
<td>
-</td>
<td>
3 x 12</td>
</tr>
<tr>
<td>
3b. Dumbbell Upright Row</td>
<td>
-</td>
<td>
3 x 12</td>
</tr>
<tr>
<td>
4. 1.5 mile run</td>
<td>
3 min warm up</td>
<td>
comfortable pace</td>
</tr>
</tbody>
</table>
<h4 class="art-subtitle">
Weeks 9-12</h4>
<p>Perform your workouts four times per week with no more than two days consecutively. For example, perform workout A, then B then take a rest day, then do workout A and then B again then take another rest day or two. For example, you can go with Monday, Tuesday, Thursday and Friday with Wednesday and the weekend off.</p>
<h6 class="art-subtitle">
Workout A</h6>
<table class="workoutTable3">
<tbody>
<tr>
<th class="width60">
Exercise</th>
<th>
Warm Up</th>
<th>
Working Sets/Rounds</th>
</tr>
<tr>
<td>
1a. Plyo Pushups</td>
<td>
20 jumping jacks</td>
<td>
3-4 rounds of 10-20 reps</td>
</tr>
<tr>
<td>
1b. Pull Up</td>
<td>
-</td>
<td>
3-4 rounds of 10-20 reps</td>
</tr>
<tr>
<td>
1c. Decline Sit Up</td>
<td>
-</td>
<td>
3-4 rounds of 10-20 reps</td>
</tr>
<tr>
<td>
2a. Walking Lunge</td>
<td>
-</td>
<td>
3-4 rounds of 10-20 reps</td>
</tr>
<tr>
<td>
2b. Squat Jump</td>
<td>
-</td>
<td>
3-4 rounds of 10-20 reps</td>
</tr>
<tr>
<td>
2c. Reverse Lunge</td>
<td>
-</td>
<td>
3-4 rounds of 10-20 reps</td>
</tr>
<tr>
<td>
3a. Push Up on Swiss Ball</td>
<td>
-</td>
<td>
3-4 rounds of 10-20 reps</td>
</tr>
<tr>
<td>
3b. Sit Up</td>
<td>
-</td>
<td>
3-4 rounds of 10-20 reps</td>
</tr>
<tr>
<td>
3c. Plank</td>
<td>
-</td>
<td>
3-4 rounds of 30 seconds</td>
</tr>
<tr>
<td>
4. 2 mile run</td>
<td>
3 min warm up</td>
<td>
comfortable pace</td>
</tr>
</tbody>
</table>
<h4 class="art-subtitle">
Workout B</h4>
<table class="workoutTable3">
<tbody>
<tr>
<th class="width60">
Exercise</th>
<th>
Warm Up</th>
<th>
Working Sets/Rounds</th>
</tr>
<tr>
<td>
1a. Goblet Squat</td>
<td>
2 x 10</td>
<td>
3 x 12</td>
</tr>
<tr>
<td>
1b. Kettlebell Romanian Deadlift</td>
<td>
2 x 10</td>
<td>
3 x 12</td>
</tr>
<tr>
<td>
2a. Incline Dumbbell Bench Press</td>
<td>
2 x 10</td>
<td>
3 x 8</td>
</tr>
<tr>
<td>
2b. Kettlebell Row</td>
<td>
2 x 10</td>
<td>
3 x 8</td>
</tr>
<tr>
<td>
3a. Single Arm Kettlebell Press</td>
<td>
-</td>
<td>
3 x 12</td>
</tr>
<tr>
<td>
3b. Dumbbell Shrug</td>
<td>
-</td>
<td>
3 x 12</td>
</tr>
<tr>
<td>
4. 2 mile run</td>
<td>
3 min warm up</td>
<td>
comfortable pace</td>
</tr>
</tbody>
</table>
<h4 class="art-subtitle">
Workout Notes:</h4>
<p>Perform all exercises with a letter (ex. a, b, c) as a superset or circuit.</p>
<p>Be sure to take 60 seconds of rest after each superset and circuit.</p>
<p>If you have any other questions, please leave them in the comments!</p>