<p>The PHUL workout is based around the basic principles of strength and size.  This 4 day program will allow you to maximize results on both fronts in an easy adaptable routine built off the following principles:</p>
<p><strong>Frequency</strong>. Studies have shown muscle protein synthesis (MPS) to be elevated for up to 48 hours after training. That would make it ideal for you to hit each muscle more frequently than a typical once per week split. The PHUL program is designed to hit each muscle group twice within a week.</p>
<p><strong>Compounds</strong>. The PHUL program focuses on the big compound movements for optimal progression. While isolation movements are included in this program as well, the main goal is to increase performance on the main lifts, as well as pack on pounds of muscle.</p>
<p><strong>Power</strong>. This program uses 2 of it's 4 working days to focus on pure strength training. The key to getting stronger and bigger is to utilize progressive overload and time under tension. These 2 days will see that you'll be able to use more weight on your hypertrophy days.</p>
<p><strong>Hypertrophy</strong>. In addition to 2 power days, your other 2 days on the PHUL program will focus on hypertrophy (bodybuilding) style training. This way, not only will you be seeing strength increases but you'll be building size as well.</p>


<h2 class="art-subtitle">
PHUL Notes:</h2>
<ol>
<li class="art-li">
<strong>Sets and Reps</strong> - When first beginning this program it is suggested to start with a lower amount of total volume until you become accustomed to the workload.</li>
<li class="art-li">
<strong>Failure</strong> - Failure is a tool that should not be abused. All sets should be completed with at least 1 rep "left in the tank." Meaning you should struggle to complete your heavier sets, but not to the point where you're unable to get your goal reps.</li>
<li class="art-li">
<strong>Exercise Selection</strong> - Main compounds should remain unchanged, however substitutions can be made for like exercises if desired.</li>
<li class="art-li">
<strong>Abdominals</strong> - Ab work can be done at the end of training or on off days.</li>
</ol>
<h2 class="art-subtitle">
PHUL Schedule:</h2>
<ul>
<li class="art-li">
<strong>Day 1</strong>: Upper Power</li>
<li class="art-li">
<strong>Day 2</strong>: Lower Power</li>
<li class="art-li">
<strong>Day 3</strong>: Off</li>
<li class="art-li">
<strong>Day 4</strong>: Upper Hypertrophy</li>
<li class="art-li">
<strong>Day 5</strong>: Lower Hypertrophy</li>
<li class="art-li">
<strong>Day 6</strong>: Off</li>
<li class="art-li">
<strong>Day 7</strong>: Off</li>
</ul>
<table class="workoutTable">
<tbody>
<tr>
<th colspan="3">
Day 1</th>
</tr>
<tr>
<td class="tableSubHead" colspan="3">
Upper Power</td>
</tr>
<tr>
<td>
<strong>Exercise</strong></td>
<td class="width20">
<strong>Sets</strong></td>
<td class="width20">
<strong>Reps</strong></td>
</tr>
<tr>
<td>
Barbell Bench Press</td>
<td>
3-4</td>
<td>
3-5</td>
</tr>
<tr>
<td>
Incline Dumbbell Bench Press</td>
<td>
3-4</td>
<td>
6-10</td>
</tr>
<tr>
<td>
Bent Over Row</td>
<td width="20%">
3-4</td>
<td width="20%">
3-5</td>
</tr>
<tr>
<td>
Lat Pull Down</td>
<td width="20%">
3-4</td>
<td width="20%">
6-10</td>
</tr>
<tr>
<td>
Overhead Press</td>
<td width="20%">
2-3</td>
<td width="20%">
5-8</td>
</tr>
<tr>
<td>
Barbell Curl</td>
<td>
2-3</td>
<td>
6-10</td>
</tr>
<tr>
<td>
Skullcrusher</td>
<td>
2-3</td>
<td>
6-10</td>
</tr>
</tbody>
</table>
<table class="workoutTable">
<tbody>
<tr>
<th colspan="3">
Day 2</th>
</tr>
<tr>
<td class="tableSubHead" colspan="3">
Lower Power</td>
</tr>
<tr>
<td>
<strong>Exercise</strong></td>
<td class="width20">
<strong>Sets</strong></td>
<td class="width20">
<strong>Reps</strong></td>
</tr>
<tr>
<td>
Squat</td>
<td>
3-4</td>
<td>
3-5</td>
</tr>
<tr>
<td>
Deadlift</td>
<td>
3-4</td>
<td>
3-5</td>
</tr>
<tr>
<td>
Leg Press</td>
<td width="20%">
3-5</td>
<td width="20%">
10-15</td>
</tr>
<tr>
<td>
Leg Curl</td>
<td width="20%">
3-4</td>
<td width="20%">
6-10</td>
</tr>
<tr>
<td>
Calf Exercise</td>
<td width="20%">
4</td>
<td width="20%">
6-10</td>
</tr>
</tbody>
</table>
<table class="workoutTable">
<tbody>
<tr>
<th colspan="3">
Day 4</th>
</tr>
<tr>
<td class="tableSubHead" colspan="3">
Upper Hypertrophy</td>
</tr>
<tr>
<td>
<strong>Exercise</strong></td>
<td class="width20">
<strong>Sets</strong></td>
<td class="width20">
<strong>Reps</strong></td>
</tr>
<tr>
<td>
Incline Barbell Bench Press</td>
<td>
3-4</td>
<td>
8-12</td>
</tr>
<tr>
<td>
Flat Bench Dumbbell Flye</td>
<td>
3-4</td>
<td>
8-12</td>
</tr>
<tr>
<td>
Seated Cable Row</td>
<td width="20%">
3-4</td>
<td width="20%">
8-12</td>
</tr>
<tr>
<td>
One Arm Dumbbell Row</td>
<td width="20%">
3-4</td>
<td width="20%">
8-12</td>
</tr>
<tr>
<td>
Dumbbell Lateral Raise</td>
<td width="20%">
3-4</td>
<td width="20%">
8-12</td>
</tr>
<tr>
<td>
Seated Incline Dumbbell Curl</td>
<td>
3-4</td>
<td>
8-12</td>
</tr>
<tr>
<td>
Cable Tricep Extension</td>
<td>
3-4</td>
<td>
8-12</td>
</tr>
</tbody>
</table>
<table class="workoutTable">
<tbody>
<tr>
<th colspan="3">
Day 5</th>
</tr>
<tr>
<td class="tableSubHead" colspan="3">
Lower Hypertrophy</td>
</tr>
<tr>
<td>
<strong>Exercise</strong></td>
<td class="width20">
<strong>Sets</strong></td>
<td class="width20">
<strong>Reps</strong></td>
</tr>
<tr>
<td>
Front Squat</td>
<td>
3-4</td>
<td>
8-12</td>
</tr>
<tr>
<td>
Barbell Lunge</td>
<td>
3-4</td>
<td>
8-12</td>
</tr>
<tr>
<td>
Leg Extension</td>
<td width="20%">
3-4</td>
<td width="20%">
10-15</td>
</tr>
<tr>
<td>
Leg Curl</td>
<td width="20%">
3-4</td>
<td width="20%">
10-15</td>
</tr>
<tr>
<td>
Seated Calf Raise</td>
<td width="20%">
3-4</td>
<td width="20%">
8-12</td>
</tr>
<tr>
<td>
Calf Press</td>
<td>
3-4</td>
<td>
8-12</td>
</tr>
</tbody>
</table>