<p>Each workout starts out with a compound lift using a 15 rep goal over 5 sets. If you exceed the rep goal by 0-3 reps then add 2.5-5lbs to the working weight the next time you perform the exercise. If you exceed the rep goal by 4+ reps then add 5-10lbs to the working weight.</p>
<p>Starting out with a heavy compound lift will is a great way to increase central nervous system (CNS) activity, improve strength, and gain confidence moving heavy loads. When picking a start weight for this lift I would recommend using your 5-6 rep max (RM).</p>
<p>After the 5 sets of the heavy compound lift you’re going to perform a back-off set in which you decrease the working weight by 20% (round to the nearly 2.5 or 5lbs) and try to perform as many quality reps as possibly (AMQRAP). This set is less taxing on the CNS and allows for some extra volume on the main compound lift of the day, which is helpful for muscle growth and reinforcing proper form. Proportionally increase the working weight of AMQRAP set by 2.5-10lbs every time you increase the weight during the 15 rep goal sets.</p>
<p>After the main compound movement of the day you’re going to perform rest-pause/bulldozer sets for the remainder of the workout. You will be resting 15 to 60 seconds between each set of an exercise and 2 to 3 minutes between each exercise.</p>
<p>The accessory work will begin with compound exercises using moderate loads and will conclude will isolation, pump-inducing exercises using relatively low loads. It’s important that you keep track of your timing in between sets – not only to optimize muscle growth</a> but also to prevent you from being in the gym forever. I program my accessory work with high volumes and rest-pause because I believe it’s an effective way to trigger muscle growth in a short period of time while allowing me to leave the gym with a nice pump.</p>
<p>The exercise selection I lay out in the routine below is by no means set in stone, but I encourage you to be wise if and how you decide to make substitutions. For example, substituting conventional deadlift for sumo deadlift is completely reasonable but substituting chin-ups for another curl exercise is not advisable.  Once you pick your exercises stick with them until you stop progressing; there’s no reason to “confuse” your muscles if you’re adding reps and/or weight to the bar every time you perform an exercise.</p>
<p>If you’re used to low volume routines this routine will initially make you quite sore – you can either power through the soreness or gradually increase the volume over time. For example, instead of a 50 rep goal over 5 sets with shrugs you could aim for a 30 rep goal over 3 sets the 1st week, 40 reps over 4 sets the 2nd, and 50 reps over 5 sets the 3rd week.</p>

<h3 class="art-subtitle"> Push/Pull/Legs Workout Schedule</h3>
<ul>
<li style="font-size: 13px"> Early-intermediate lifters should perform the routine in an every-other-day manner – Push A/Rest/Pull A/Rest/Legs A/Rest/Push B/Rest/Pull B/ Rest/Legs B/Rest/Repeat</li>
<li style="font-size: 13px"> Intermediate lifters should perform the routine in a 3-on/1-off manner – Push A/Pull A/Legs A/Rest/Push B/ Pull B/Legs B/Rest/Repeat</li>
<li style="font-size: 13px"> Advanced lifters should perform the routine in a 6-on/1-off manner – Push A/Pull A/Legs A/Push B/ Pull B/Legs B/Rest/Repeat</li>
</ul>
<table class="workoutTable2">
<tbody>
<tr>
<th colspan="4"> Push Workout A</th>
</tr>
<tr>
<td class="tableSubHead" colspan="4"> Chest, Shoulders &amp; Triceps</td>
</tr>
<tr>
<td> <strong>Exercise</strong></td>
<td class="width20"> <strong>Sets</strong></td>
<td class="width20"> <strong>Rep Goal Total</strong></td>
<td class="width20"> <strong>Rest</strong></td>
</tr>
<tr>
<td> Flat Barbell Bench Press</a></td>
<td> 5</td>
<td> 15</td>
<td> 90-120 sec</td>
</tr>
<tr>
<td> Flat Barbell Bench Press<br> (Use 20% less weight than your previous working sets)</td>
<td> 1</td>
<td> AMQRAP</td>
<td> N/A</td>
</tr>
<tr>
<td> Seated Behind the Neck Press</a></td>
<td> 3</td>
<td> 25</td>
<td> 60 sec</td>
</tr>
<tr>
<td> (Weighted) Tricep Dips</a></td>
<td> 3</td>
<td> 30</td>
<td> 60 sec</td>
</tr>
<tr>
<td> Standing Cable Crossovers</a></td>
<td> 5</td>
<td> 50</td>
<td> 30 sec</td>
</tr>
<tr>
<td> Seated Tricep Extensions</a> (Dumbbell, Rope, or EZ Bar)</td>
<td> 5</td>
<td> 50</td>
<td> 30 sec</td>
</tr>
<tr>
<td> Seated Dumbbell Lateral Raises</a></td>
<td> 5</td>
<td> 50</td>
<td> 15 sec</td>
</tr>
</tbody>
</table>
<table class="workoutTable2">
<tbody>
<tr>
<th colspan="4"> Pull Workout A</th>
</tr>
<tr>
<td class="tableSubHead" colspan="4"> Back, Traps &amp; Biceps</td>
</tr>
<tr>
<td> <strong>Exercise</strong></td>
<td class="width20"> <strong>Sets</strong></td>
<td class="width20"> <strong>Rep Goal Total</strong></td>
<td class="width20"> <strong>Rest</strong></td>
</tr>
<tr>
<td> Barbell Conventional Deadlift</a></td>
<td> 5</td>
<td> 15</td>
<td> 90-120 sec</td>
</tr>
<tr>
<td> Barbell Conventional Deadlift <br> (Use 20% less weight than your previous working sets)</td>
<td> 1</td>
<td> AMQRAP</td>
<td> N/A</td>
</tr>
<tr>
<td> (Weighted) Chin-ups</a></td>
<td> 3</td>
<td> 25</td>
<td> 60 sec</td>
</tr>
<tr>
<td> Chest Supported Rows</a></td>
<td> 3</td>
<td> 30</td>
<td> 60 sec</td>
</tr>
<tr>
<td> Shrugs</a> (Dumbbell, Barbell, or Trap Bar)</td>
<td> 5</td>
<td> 50</td>
<td> 30 sec</td>
</tr>
<tr>
<td> Standing Barbell Curls</a></td>
<td> 5</td>
<td> 50</td>
<td> 30 sec</td>
</tr>
<tr>
<td> Standing Cable Reverse Fly</a></td>
<td> 5</td>
<td> 50</td>
<td> 15 sec</td>
</tr>
</tbody>
</table>
<table class="workoutTable2">
<tbody>
<tr>
<th colspan="4"> Legs Workout A</th>
</tr>
<tr>
<td class="tableSubHead" colspan="4"> Quads, Hamstrings &amp; Calves</td>
</tr>
<tr>
<td> <strong>Exercise</strong></td>
<td class="width20"> <strong>Sets</strong></td>
<td class="width20"> <strong>Rep Goal Total</strong></td>
<td class="width20"> <strong>Rest</strong></td>
</tr>
<tr>
<td> Barbell Back Squat</td>
<td> 5</td>
<td> 15</td>
<td> 90-120 sec</td>
</tr>
<tr>
<td> Barbell Back Squat <br> (Use 20% less weight than your previous working sets)</td>
<td> 1</td>
<td> AMQRAP</td>
<td> N/A</td>
</tr>
<tr>
<td> Barbell Good Mornings</td>
<td> 3</td>
<td> 25</td>
<td> 60 sec</td>
</tr>
<tr>
<td> Leg Press</td>
<td> 3</td>
<td> 30</td>
<td> 60 sec</td>
</tr>
<tr>
<td> Reverse Hyperextension</td>
<td> 5</td>
<td> 50</td>
<td> 30 sec</td>
</tr>
<tr>
<td> Leg Curl (Seated or Lying)</td>
<td> 5</td>
<td> 50</td>
<td> 30 sec</td>
</tr>
<tr>
<td> Calf Raise (Seated or Standing)</td>
<td> 5</td>
<td> 50</td>
<td> 15 sec</td>
</tr>
</tbody>
</table>
<table class="workoutTable2">
<tbody>
<tr>
<th colspan="4"> Push Workout B</th>
</tr>
<tr>
<td class="tableSubHead" colspan="4"> Chest, Shoulders &amp; Triceps</td>
</tr>
<tr>
<td> <strong>Exercise</strong></td>
<td class="width20"> <strong>Sets</strong></td>
<td class="width20"> <strong>Rep Goal Total</strong></td>
<td class="width20"> <strong>Rest</strong></td>
</tr>
<tr>
<td> Standing Overhead Press</td>
<td> 5</td>
<td> 15</td>
<td> 90-120 sec</td>
</tr>
<tr>
<td> Standing Overhead Press <br> (Use 20% less weight than your previous working sets)</td>
<td> 1</td>
<td> AMQRAP</td>
<td> N/A</td>
</tr>
<tr>
<td> Incline Bench Press (Dumbbell or Barbell)</td>
<td> 3</td>
<td> 25</td>
<td> 60 sec</td>
</tr>
<tr>
<td> Close Grip Bench Press</td>
<td> 3</td>
<td> 30</td>
<td> 60 sec</td>
</tr>
<tr>
<td> Seated Machine Fly</td>
<td> 5</td>
<td> 50</td>
<td> 30 sec</td>
</tr>
<tr>
<td> Standing Tricep Pushdown (Rope, V-bar, or Straight Bar)</td>
<td> 5</td>
<td> 50</td>
<td> 30 sec</td>
</tr>
<tr>
<td> Standing Cable Lateral Raises</td>
<td> 5</td>
<td> 50</td>
<td> 15 sec</td>
</tr>
</tbody>
</table>
<table class="workoutTable2">
<tbody>
<tr>
<th colspan="4"> Pull Workout B</th>
</tr>
<tr>
<td class="tableSubHead" colspan="4"> Back, Traps &amp; Biceps</td>
</tr>
<tr>
<td> <strong>Exercise</strong></td>
<td class="width20"> <strong>Sets</strong></td>
<td class="width20"> <strong>Rep Goal Total</strong></td>
<td class="width20"> <strong>Rest</strong></td>
</tr>
<tr>
<td> Barbell Snatch Grip Deadlift</td>
<td> 5</td>
<td> 15</td>
<td> 90-120</td>
</tr>
<tr>
<td> Barbell Snatch Grip Deadlift <br> (Use 20% less weight than your previous working sets)</td>
<td> 1</td>
<td> AMQRAP</td>
<td> N/A</td>
</tr>
<tr>
<td> Barbell Rows</td>
<td> 3</td>
<td> 25</td>
<td> 60 sec</td>
</tr>
<tr>
<td> (Weighted) Pull-ups</td>
<td> 3</td>
<td> 30</td>
<td> 60 sec</td>
</tr>
<tr>
<td> 1-arm Rows (Dumbbell or Barbell)</td>
<td> 5</td>
<td> 50</td>
<td> 30 sec</td>
</tr>
<tr>
<td> Incline Dumbbell Curl</td>
<td> 5</td>
<td> 50</td>
<td> 30 sec</td>
</tr>
<tr>
<td> Seated Machine Reverse Fly</td>
<td> 5</td>
<td> 50</td>
<td> 15 sec</td>
</tr>
</tbody>
</table>
<table class="workoutTable2">
<tbody>
<tr>
<th colspan="4"> Legs Workout B</th>
</tr>
<tr>
<td class="tableSubHead" colspan="4"> Quads, Hamstrings &amp; Calves</td>
</tr>
<tr>
<td> <strong>Exercise</strong></td>
<td class="width20"> <strong>Sets</strong></td>
<td class="width20"> <strong>Rep Goal Total</strong></td>
<td class="width20"> <strong>Rest</strong></td>
</tr>
<tr>
<td> Barbell Front Squat</td>
<td> 5</td>
<td> 15</td>
<td> 90-120 sec</td>
</tr>
<tr>
<td> Barbell Front Squat <br> (Use 20% less weight than your previous working sets)</td>
<td> 1</td>
<td> AMQRAP</td>
<td> N/A</td>
</tr>
<tr>
<td> Barbell Romanian Deadlifts</td>
<td> 3</td>
<td> 25</td>
<td> 60 sec</td>
</tr>
<tr>
<td> Barbell Hip Thrusts</td>
<td> 3</td>
<td> 30</td>
<td> 60 sec</td>
</tr>
<tr>
<td> Dumbbell Lunges</td>
<td> 5</td>
<td> 50</td>
<td> 30 sec</td>
</tr>
<tr>
<td> Seated Leg Extensions</td>
<td> 5</td>
<td> 50</td>
<td> 30 sec</td>
</tr>
<tr>
<td> Hanging Leg Raises</td>
<td> 5</td>
<td> 50</td>
<td> 15 sec</td>
</tr>
</tbody>
</table>