<h2 class="art-subtitle">Workout Description</h2>
<table class="workoutTable3">
<tbody>
<tr>
<th class="width30"> Day</th>
<th class="width70"> Workout</th>
</tr>
<tr>
<td> Monday</td>
<td> Workout 1: Chest &amp; Back + 5-Minute Ripped Solution</td>
</tr>
<tr>
<td> Tuesday</td>
<td> Cardio/Cross-Training</td>
</tr>
<tr>
<td> Wednesday</td>
<td> Workout 2: Legs</td>
</tr>
<tr>
<td> Thursday</td>
<td> Rest or Cardio/Cross-Training</td>
</tr>
<tr>
<td> Friday</td>
<td> Workout 3: Shoulders &amp; Arms + 5-Minute Ripped Solution</td>
</tr>
<tr>
<td> Saturday</td>
<td> 5-min Ripped Solution + Core Work</td>
</tr>
<tr>
<td> Sunday</td>
<td> Rest or 5-min Ripped Solution + Core Work (optional)</td>
</tr>
</tbody>
</table>
<h4 class="art-subtitle"> 5 Minute Ripped Solution</h4>
 <p>The 5-minute Ripped Solution is based on research conducted at the German Sport University which showed that just 4 sets of 30 second all-out performance promoted more anabolic processes than 130 minutes of endurance training, due to higher increases of growth hormone, testosterone, and the T/C ratio (testosterone to cortisol ratio). Research shows that short, intense workouts like this can increase exercise performance, insulin sensitivity (so you’re your body can process sugar more efficiently) and fat burning.</p>
<table class="workoutTable3">
<tbody>
<tr>
<th class="width30"> Time (secs.)</th>
<th class="width40"> Exercise</th>
<th class="width40"> Exertion Level (1-10)</th>
</tr>
<tr>
<td> 0-30</td>
<td> Jump Squats</td>
<td> 10</td>
</tr>
<tr>
<td> 30-90</td>
<td> Walk Around/Recover</td>
<td> 2-3</td>
</tr>
<tr>
<td> 90-120</td>
<td> Burpees</td>
<td> 10</td>
</tr>
<tr>
<td> 120-180</td>
<td> Walk Around/Recover</td>
<td> 2-3</td>
</tr>
<tr>
<td> 180-210</td>
<td> Mountain Climbers</td>
<td> 10</td>
</tr>
<tr>
<td> 210-270</td>
<td> Walk Around/Recover</td>
<td> 2-3</td>
</tr>
<tr>
<td> 270-300</td>
<td> Jumping Lunges</td>
<td> 10</td>
</tr>
</tbody>
</table>
<p><strong>•How:</strong> Make sure you are fully warmed up before you attempt this brutal interval. This is an all-out 30-second interval followed by a full minute of rest. To get the most out of this protocol you must give each exercise 100% and repeat it for 4 total sets.</p>
<p>I recommend beginners start with 2 minutes of rest between all-out sets and gradually progress to 1-minute rest periods. If you do this properly, and give it everything you have, you will feel like you got the wind knocked out of you. Yes, it’s only 5 minutes but it’s brutal and it works.</p>
<p><strong>•When:</strong> Perform the 5-minute Ripped Solution right after your weight training sessions to tap into your fat stores for that extra calorie burn. You’ll notice that I didn’t add this to leg day. Your wheels will be fried from hitting them with squats, lunges, etc., and you’ll need them to reach the necessary intensity required to reap the benefits of this brief and intense protocol.</p>
<p>If you’re strapped for time and can’t fit in a whole workout, hit the 5-minute Ripped Solution. Trying the solution on rest days along with some core work is also a good option, as I’ve suggested in the weekly workout schedule.</p>
<h4 class="art-subtitle"> Workouts</h4>
<table class="workoutTable3">
<tbody>
<tr>
<th class="width60"> Workout 1: Chest &amp; Back</th>
<th> Sets</th>
<th> Reps</th>
</tr>
<tr>
<td> 1A. Incline Dumbbell Press</td>
<td> 3-4</td>
<td> 6-8</td>
</tr>
<tr>
<td> 1B. Chin-Ups</td>
<td> 3-4</td>
<td> 6-8</td>
</tr>
<tr>
<td> 2A. Flat Dumbbell Fly</td>
<td> 2-3</td>
<td> 10-12</td>
</tr>
<tr>
<td> 2B. Lat Pulldowns</td>
<td> 2-3</td>
<td> 10-12</td>
</tr>
<tr>
<td> 3A. Seated Cable Rows</td>
<td> 2-3</td>
<td> 10-12</td>
</tr>
<tr>
<td> 3B. Push-Ups</td>
<td> 1</td>
<td> Max</td>
</tr>
</tbody>
</table>
<table class="workoutTable3">
<tbody>
<tr>
<th class="width60"> Workout 2: Legs</th>
<th> Sets</th>
<th> Reps</th>
</tr>
<tr>
<td> 1A. Barbell Squats</td>
<td> 3-4</td>
<td> 6-8</td>
</tr>
<tr>
<td> 1B. Dumbbell Lunges</td>
<td> 3-4</td>
<td> 6-8</td>
</tr>
<tr>
<td> 2A. Lying Hamstring Curls</td>
<td> 2-3</td>
<td> 10-12</td>
</tr>
<tr>
<td> 2B. Leg Press</td>
<td> 2-3</td>
<td> 10-12</td>
</tr>
<tr>
<td> 2C. Standing Calf Raises</td>
<td> 2-3</td>
<td> 12-15</td>
</tr>
</tbody>
</table>
<table class="workoutTable3">
<tbody>
<tr>
<th class="width60"> Workout 3: Shoulders &amp; Arms</th>
<th> Sets</th>
<th> Reps</th>
</tr>
<tr>
<td> 1A. Dumbbell Shoulder Press</td>
<td> 3-4</td>
<td> 6-8</td>
</tr>
<tr>
<td> 1B. Lateral Dumbbell Raise</td>
<td> 3-4</td>
<td> 6-8</td>
</tr>
<tr>
<td> 2A. Triceps Pushdown</td>
<td> 2-3</td>
<td> 10-12</td>
</tr>
<tr>
<td> 2B. Barbell Curl</td>
<td> 2-3</td>
<td> 10-12</td>
</tr>
<tr>
<td> 3A. Dips</td>
<td> 2-3</td>
<td> 12-15</td>
</tr>
<tr>
<td> 3B. Alternating Dumbbell Curls</td>
<td> 2-3</td>
<td> 12-15</td>
</tr>
</tbody>
</table>