<h2 class="art-subtitle">Workout Description</h2>
<p style="margin-bottom:10px;">SPLASH training is a training routine constructed with two goals in mind:</p>
<ol>
<li class="art-li1"> •Increasing strength</li>
<li class="art-li1"> •Maximizing muscle gains</li>
</ol>
<p>SPLASH uses a variety of the best, proven, tried and true training methods and brings them all into one happy medium. SPLASH uses a mixture of linear progression, periodization, bodybuilding-style training, and much more, It brings all of these principles into the picture!</p>
<p><strong>•Frequency</strong>. SPLASH allows you to hit every muscle group 2-3 times per week. Studies show the advantages of this style training for a natural to be far more successful than a typical one muscle group per week “bro-split.”</p>
<p><strong>•Strength</strong>. SPLASH is excellent for increasing power, as it utilizes progressive overload. You will workout your bench and squat 3 times per week, and deadlift twice.</p>
<p><strong>•Hypertrophy</strong>. Alongside the effective strength building techniques involved, the high volume and high frequency incorporated into SPLASH are also effective methods of building muscle.</p>

<h3 class="art-subtitle"> Splash routine split</h3>
<ul>
<li class="art-li1"> <strong>Day 1</strong> - Heavy Upper Body</li>
<li class="art-li1"> <strong>Day 2</strong> - Heavy Legs (Squats, thighs)</li>
<li class="art-li1"> <strong>Day 3</strong> - Off</li>
<li class="art-li1"> <strong>Day 4</strong> - Moderate Upper Body (Bench/Arm-dominant)</li>
<li class="art-li1"> <strong>Day 5</strong> - Heavy Back/Legs (Deadlifts, barbell row, hamstrings, squats)</li>
<li class="art-li1"> <strong>Day 6</strong> - Light Upper Body (Shoulders/arms)</li>
<li class="art-li1"> <strong>Day 7</strong> - Squats</li>
</ul>
<p><u>Notes</u>:</p>
<ul>
<li class="art-li1"> •SPLASH is intended for experienced weight lifters</li>
<li class="art-li1"> •Knowing your 1RM is a MUST for this routine</li>
<li class="art-li1"> •Proper stretching / ensuring the best possible recovery is essential</li>
<li class="art-li1"> •Nutrition will make or break you. Make sure it’s on point.</li>
<li class="art-li1"> •Choosing exercise variants is O.K., but allow bigger, compound movements to be unchanged (DO NOT remove *’d - starred exercises)</li>
<li class="art-li1"> •Abs/cardio can be done anytime - goal dependent</li>
<li class="art-li1"> •Traps/rear delt should be performed every Upper day (exercises of your choice)</li>
<li class="art-li1"> •Perform calf work as felt needed</li>
</ul>
<table class="workoutTable">
<tbody>
<tr>
<th colspan="3"> Day 1</th>
</tr>
<tr>
<td class="tableSubHead" colspan="3"> Heavy Upper Body</td>
</tr>
<tr>
<td> <strong>Exercise</strong></td>
<td class="width20"> <strong>Sets</strong></td>
<td class="width20"> <strong>Reps</strong></td>
</tr>
<tr>
<td> * Bench Press (With 85% 1RM, increase weight only after successful completion of 6x3)</td>
<td> 6</td>
<td> 3</td>
</tr>
<tr>
    <td> * Barbell Row <br>(Weight should remain the same for all 5 sets, do not move up in weight until a full 5x5 is completed with given weight)</td>
<td> 5</td>
<td> 3-5</td>
</tr>
<tr>
<td> * Standing Overhead Press (Same principle as above)</td>
<td> 4</td>
<td> 6</td>
</tr>
<tr>
<td> Dumbbell Curl (Or bicep exercise of your choice)</td>
<td> 2-3</td>
<td> 8-12</td>
</tr>
<tr>
<td> Tricep Pushdown (Or tricep exercise of your choice)</td>
<td> 2-3</td>
<td> 8-12</td>
</tr>
<tr>
<td> Side Raise (Or shoulder exercise of your choice)</td>
<td> 2-3</td>
<td> 8-12</td>
</tr>
</tbody>
</table>
<table class="workoutTable">
<tbody>
<tr>
<th colspan="3"> Day 2</th>
</tr>
<tr>
<td class="tableSubHead" colspan="3"> Heavy Legs (Power Squats, Quad Dominant Day)</td>
</tr>
<tr>
<td> <strong>Exercise</strong></td>
<td class="width20"> <strong>Sets</strong></td>
<td class="width20"> <strong>Reps</strong></td>
</tr>
<tr>
<td> * Squat (With 85% 1RM)</td>
<td> 6</td>
<td> 3</td>
</tr>
<tr>
<td> * Deadlift <br>(Weight should remain the same for all 3 sets, do not move up in weight until a full 3x10 is completed with given weight)</td>
<td> 3</td>
<td> 10</td>
</tr>
<tr>
<td> * Front Squat (Same principle as above)</td>
<td> 3</td>
<td> 8</td>
</tr>
<tr>
<td> Barbell Lunge</td>
<td> 3</td>
<td> 10-12</td>
</tr>
<tr>
<td> Leg Press</td>
<td> 2</td>
<td> 8-12</td>
</tr>
</tbody>
</table>
<table class="workoutTable" style="margin-right:55px;">
<tbody>
<tr>
<th colspan="3"> Day 4</th>
</tr>
<tr>
<td class="tableSubHead" colspan="3"> Day 4 - Moderate Upper Body (Bench/Arm Dominant)</td>
</tr>
<tr>
<td> <strong>Exercise</strong></td>
<td class="width20"> <strong>Sets</strong></td>
<td class="width20"> <strong>Reps</strong></td>
</tr>
<tr>
<td> * Bench Press (With 76% 1RM, SPLASH principle)</td>
<td> 4</td>
<td> 5</td>
</tr>
<tr>
<td> * Barbell Curl (SPLASH principle)</td>
<td> 3</td>
<td> 8</td>
</tr>
<tr>
<td> * Close Grip Bench Press (SPLASH principle)</td>
<td> 4</td>
<td> 10</td>
</tr>
<tr>
<td>  </td>
<td>  </td>
<td>  </td>
</tr>
<tr>
<td> <em>Superset:</em></td>
<td>  </td>
<td>  </td>
</tr>
<tr>
<td> Concentration/Preacher Curl</td>
<td> 3</td>
<td> 10-12</td>
</tr>
<tr>
<td> Tricep Pushdown</td>
<td> 3</td>
<td> 10-15</td>
</tr>
<tr>
<td>  </td>
<td>  </td>
<td>  </td>
</tr>
<tr>
<td> Hammer Curl (Last set is a burnout set)</td>
<td> 2</td>
<td> 6-8</td>
</tr>
<tr>
<td> French Press/Skull Crusher (Last set is a burnout set)</td>
<td> 2</td>
<td> 10-12</td>
</tr>
<tr>
<td> Dips</td>
<td> 2-3</td>
<td>  </td>
</tr>
</tbody>
</table>
<table class="workoutTable" style="margin-right:55px; margin-bottom:100px">
<tbody>
<tr>
<th colspan="3"> Day 5</th>
</tr>
<tr>
<td class="tableSubHead" colspan="3"> Day 5 - Heavy Back/Legs (Deadlifts, Back, Hamstrings, Squats)</td>
</tr>
<tr>
<td> <strong>Exercise</strong></td>
<td class="width20"> <strong>Sets</strong></td>
<td class="width20"> <strong>Reps</strong></td>
</tr>
<tr>
<td> * Deadlift (SPLASH principle)</td>
<td> 5</td>
<td> 5</td>
</tr>
<tr>
<td> * Squats (With 65% 1RM, SPLASH principle)</td>
<td> 4</td>
<td> 12</td>
</tr>
<tr>
<td> Hamstring Curl</td>
<td> 2-3</td>
<td> 8-12</td>
</tr>
<tr>
<td> Lat Pulldown (Pulling movement first)</td>
<td> 4</td>
<td> 8-12</td>
</tr>
<tr>
<td> Dumbbell Rows</td>
<td> 3</td>
<td> 6-8</td>
</tr>
<tr>
<td> Cable Rows/Pulldowns (Horizontal rowing movement)</td>
<td> 3-4</td>
<td> 10-12</td>
</tr>
<tr>
<td> Pull Ups</td>
<td> 2-3</td>
<td>  </td>
</tr>
</tbody>
</table>
<table class="workoutTable" style="margin-right:55px;">
<tbody>
<tr>
<th colspan="3"> Day 6</th>
</tr>
<tr>
<td class="tableSubHead" colspan="3"> Day 6 -  Light Upper Body (Shoulders, Arms, Calves &amp; Assistance)</td>
</tr>
<tr>
<td> <strong>Exercise</strong></td>
<td class="width20"> <strong>Sets</strong></td>
<td class="width20"> <strong>Reps</strong></td>
</tr>
<tr>
<td> * Bench Press (With 65% 1RM, SPLASH principle)</td>
<td> 4</td>
<td> 12</td>
</tr>
<tr>
<td> * Seated Military Press (SPLASH Principle)</td>
<td> 5</td>
<td> 5</td>
</tr>
<tr>
<td> Upright Rows (Wide grip)</td>
<td> 3</td>
<td> 8-10</td>
</tr>
<tr>
<td> Side Raise supersetted with Front Raise</td>
<td> 3</td>
<td> 8-12</td>
</tr>
<tr>
<td> * Barbell Curl (SPLASH principle)</td>
<td> 3</td>
<td> 10</td>
</tr>
<tr>
<td> Skullcrushers</td>
<td> 2-3</td>
<td> 10-12</td>
</tr>
<tr>
<td> Arm superset of your choice (If you have it in the tank)</td>
<td>  </td>
<td>  </td>
</tr>
</tbody>
</table>
<table class="workoutTable" style="margin-right:150px;margin-bottom:150px">
<tbody>
<tr>
<th colspan="3"> Day 7</th>
</tr>
<tr>
<td class="tableSubHead" colspan="3"> Squats</td>
</tr>
<tr>
<td> <strong>Exercise</strong></td>
<td class="width20"> <strong>Sets</strong></td>
<td class="width20"> <strong>Reps</strong></td>
</tr>
<tr>
<td> * Squats (With 80% 1RM, SPLASH principle)</td>
<td> 4</td>
<td> 5</td>
</tr>
<tr>
<td> Leg Extensions (Drop set)</td>
<td> 5</td>
<td> 6-12</td>
</tr>
</tbody>
</table>

<h2 class="art-subtitle"> SPLASH Frequently Asked Questions</h2>
<h5 class="art-subtitle"> What is the SPLASH principle?</h5>
<p>SPLASH principle, if you haven’t caught on, is applied to only the “big” exercises. The principle, when applied, means one will not increase the weight for that specific movement until the set/rep scheme has been 100% completed. <em>It’s used in 5x5, 4x6, etc. so pay attention!</em> So if you cannot complete an entire set, you repeat with the same weight next week.</p>
<h5 class="art-subtitle"> After completing an entire “SPLASH SET” how much should I increase by?</h5>
<p>A SPLASH set is any set where the SPLASH Principle is applied. After completing any SPLASH set, weight increase is entirely individual. Most trainees will be able to jump up 10+lbs following their first first week of SPLASH (assuming it’s there first SPLASH cycle). More experienced users may have to settle with 5lb increases.</p>
<p>*<u>Note</u>: If the last SPLASH Set was a struggle, it’s recommended to repeat the same SPLASH Set at least once.</p>
<h5 class="art-subtitle"> How long can I run the SPLASH program?</h5>
<p>SPLASH is meant to be run in 6 week cycles. How you handle the time in between cycles is personally up to the user. SPLASH should either consist of 6 weeks on, deload, repeat, OR 6 weeks on, max out week, deload, repeat. It’s only suggested experienced users to run for the duration of 6+ weeks.</p>