<h2 class="art-subtitle">Workout Description</h2>
<p>•While the world changes in many different ways over the years, there has been a common theme over the course of the last half-century.</p>
<p>•Many people want to look like the leading man in Hollywood and commit a lot of time to studying the training practices of these epic stars.</p>
<p>•Nowadays, the most popular guy is without a doubt Dwayne “The Rock” Johnson. His clips on Instagram are liked and shared by the millions…and millions…of The Rock’s fans.</p>
<p>•Our parents and others of the previous generation looked up to Arnold Schwarzenegger and Sylvester Stallone. The Terminator and Rocky movies showcase how their physiques were well ahead of their time.</p>
<p>•While Arnold and Sly played a crucial role in the fitness movement, they weren’t the first.</p>
<p>•There was one guy that was around before them who competed as a bodybuilder and then went on to become one of the most popular men in Hollywood and that man was the great Steve Reeves.</p>

<h2 class="art-subtitle"> Who Was Steve Reeves?</h2>
<p>Steve Reeves (1926-2000) had an Italian heritage but was born in Montana. After the death of his father, Reeves and his mother moved to California when he was 10 years old. His interest in training and building muscle was sparked in high school, and he started training at Yarick’s gym in Oakland.</p>
<p>His pursuit of bodybuilding would be interrupted by his joining of the Army and serving in the Philippines during World War 2.</p>
<p>He would return to the states and immediately started preparing for the 1947 AAU Mr. America competition. After winning that event, Reeves would start pursuing acting.</p>
<p>His pursuit was off to a great start after being selected for the lead role in “Samson and Delilah” in 1948 but would ultimately decline the role. The reason? Reeves would have to lose 15 pounds for the role and he felt that would affect his placings in bodybuilding shows.</p>
<p>That decision might have appeared foolish at the time but Reeves was set to win the Mr. Universe competition and would ultimately do so in 1950. Since the Olympia didn’t start until 1965, this meant that at the time, Reeves was considered the #1 bodybuilder in the world.</p>
<p>Reeves would go on to reach global acclaim for his work in Italian movies including 1957’s “Hercules” and 1959’s “Hercules Unchained.” His full-time acting career would continue until a shoulder injury while filming a stunt would force him to stop in the late 1960’s.</p>
<h4 class="art-subtitle"> Steve Reeves’ Body of Work</h4>
<p>One of the reasons, if not the main reason, behind Reeves’ success was his physique. As we explore how he trained and ate, keep in mind that a lot of the training and nutrition information we know now wasn’t known or easily accessible in the 1940s and 50s.</p>
<p>So while we may question the strategies now, Reeves was considered ahead of his time and fitness was still a subculture that wasn’t nearly as popular as it is nowadays.</p>
<h2 class="art-subtitle"> Steve Reeves’ Training Principles</h2>
<p>Reeves was never shy to share his experience and knowledge with anyone who was interested.</p>
<p>There were three principles that he always practiced and preached when asked about how to improve one’s body.</p>
<h4 class="art-subtitle"> 1. Steve Reeves’ Attention to Recovery</h4>
<p>While training is what most athletes and trainees paid attention to, Reeves would always emphasize that the recovery, both between sets and after workouts, was what allowed you to perform at your best when you did train. His recovery times were as follows.</p>
<ul>
<li class="art-li1"> 45-60 seconds rest between sets.</li>
<li class="art-li1"> 2 minutes rest between exercises within a workout.</li>
<li class="art-li1"> 1 day rest between workouts. Reeves never advocated training two days in a row.</li>
</ul>
<h4 class="art-subtitle"> 2. Steve Reeves Worked Legs Closer to the End His Workout</h4>
<p>As you will see in the workouts further down in this article, Reeves followed a full-body training split. He would always put leg exercises in the middle or close to end of those routines because the thighs have the largest muscles in the body – the quads, hamstrings, and glutes.</p>
<p>He felt training these areas first would fatigue him to the point he couldn’t maximize his upper body training. Reeves also believed that focusing on lower body work after upper body helped his stamina and conditioning. Normally his workouts would conclude with arm work.</p>
<h4 class="art-subtitle"> 3. Steve Reeves Set a Goal for Each Workout</h4>
<p>Reeves believed that to achieve long-term goals, you needed smaller goals to help you improve along the way. So he would set different goals including time limits, weight used, and reps performed to help him maximize his training.</p>
<p>He always kept a low profile in the weight room and would seldom talk to others because he felt distractions would affect his results and training.</p>
<h2 class="art-subtitle"> The Steve Reeves Inspired Workouts</h2>
<p>The training program that follows is Reeves’ most popular and was written by him in 1951. Obviously he didn’t perform the same routine every time he trained but this was considered his favorite program to follow.</p>
<p>He believed that training the entire body in one workout with a day off after maximized recovery. You will also notice that the only equipment he used were barbells, dumbbells, and his body. Machines were rare in those days and very few gyms had what we would now call basic machines available. They would grow in popularity starting in the late 1960’s into 1970.</p>
<table class="workoutTable2" style="margin-right:120px">
<tbody>
<tr>
<th colspan="3">
<h4 class="art-subtitle"> Steve Reeves’ Monday Workout</h4>
</th>
</tr>
<tr>
<th class="width60"> Exercise</th>
<th> Sets</th>
<th> Reps</th>
</tr>
<tr>
<td> 1. Military Press</td>
<td> 3</td>
<td> 8-12</td>
</tr>
<tr>
<td> 2. Bent Over Barbell Row</td>
<td> 3</td>
<td> 8-12</td>
</tr>
<tr>
<td> 3. Barbell Bench Press</td>
<td> 3</td>
<td> 8-12</td>
</tr>
<tr>
<td> 4. Standing Calf Raise</td>
<td> 3</td>
<td> 8-12</td>
</tr>
<tr>
<td> 5. Ab Crunch</td>
<td> 3</td>
<td> 8-12</td>
</tr>
<tr>
<td> 6. Squat</td>
<td> 3</td>
<td> 8-12</td>
</tr>
<tr>
<td> 7. ATG Squat</td>
<td> 3</td>
<td> 8-12</td>
</tr>
<tr>
<td> 8. Romanian Deadlift</td>
<td> 3</td>
<td> 8-12</td>
</tr>
<tr>
<td> 9. Barbell Curl</td>
<td> 3</td>
<td> 8-12</td>
</tr>
<tr>
<td> 10. French Press</td>
<td> 3</td>
<td> 8-12</td>
</tr>
</tbody>
</table>
<table class="workoutTable2" style="margin-right:120px">
<tbody>
<tr>
<th colspan="3">
<h4 class="art-subtitle"> Steve Reeves’ Wednesday Workout</h4>
</th>
</tr>
<tr>
<th class="width60"> Exercise</th>
<th> Sets</th>
<th> Reps</th>
</tr>
<tr>
<td> 1. Deadlift</td>
<td> 3</td>
<td> 12</td>
</tr>
<tr>
<td> 2. Dumbbell Military Press</td>
<td> 3</td>
<td> 12</td>
</tr>
<tr>
<td> 3. Dips</td>
<td> 3</td>
<td> 12</td>
</tr>
<tr>
<td> 4. Alternate Dumbbell Curl</td>
<td> 3</td>
<td> 12 Each</td>
</tr>
<tr>
<td> 5. Seated Calf Raise</td>
<td> 3</td>
<td> 12</td>
</tr>
<tr>
<td> 6. Lying Tricep Extension</td>
<td> 3</td>
<td> 12</td>
</tr>
<tr>
<td> 7. Pull Ups</td>
<td> 3</td>
<td> 12</td>
</tr>
<tr>
<td> 8. Front Squats</td>
<td> 3</td>
<td> 12</td>
</tr>
<tr>
<td> 9. Hyperextensions</td>
<td> 3</td>
<td> 12</td>
</tr>
<tr>
<td> 10. Dumbbell Lunge</td>
<td> 3</td>
<td> 12</td>
</tr>
<tr>
<td> 11. Hanging Leg Raise</td>
<td> 3</td>
<td> 12</td>
</tr>
</tbody>
</table>
<table class="workoutTable2" style="margin-right:10px">
<tbody>
<tr>
<th colspan="3">
<h4 class="art-subtitle"> Steve Reeves’ Friday Workout</h4>
</th>
</tr>
<tr>
<th class="width60"> Exercise</th>
<th> Sets</th>
<th> Reps</th>
</tr>
<tr>
<td> 1. Deadlift</td>
<td> 3</td>
<td> 8-12</td>
</tr>
<tr>
<td> 2. One Arm Dumbbell Row</td>
<td> 3</td>
<td> 8-12</td>
</tr>
<tr>
<td> 3. Upright Row</td>
<td> 2</td>
<td> 12</td>
</tr>
<tr>
<td> 4. Incline Bench Press</td>
<td> 3</td>
<td> 8-12</td>
</tr>
<tr>
<td> 5. Standing Calf Raise</td>
<td> 3</td>
<td> 12</td>
</tr>
<tr>
<td> 6. Front Squat</td>
<td> 2</td>
<td> 12</td>
</tr>
<tr>
<td> 7. Nordic Hamstring Curl</td>
<td> 3</td>
<td> 8-12</td>
</tr>
<tr>
<td> 8. Sit Ups</td>
<td> 3</td>
<td> 12</td>
</tr>
<tr>
<td> 9. Dumbbell Lunge</td>
<td> 2</td>
<td> 8-12</td>
</tr>
<tr>
<td> 10. Lying Tricep Extension</td>
<td> 2</td>
<td> 8</td>
</tr>
<tr>
<td> 11. Concentration Curl</td>
<td> 3</td>
<td> 8-12</td>
</tr>
</tbody>
</table>
<h4 class="art-subtitle"> Steve Reeves’ Thoughts on Cardio</h4>
<p>You might be wondering about what kind of cardiovascular or aerobic program Reeves did. He didn’t.</p>
<p>According to his book <em>Building the Classic Physique – the Natural Way</em>, he simply cut rest time between sets and trained harder when he felt the need to get leaner.</p>
<h2 class="art-subtitle"> Steve Reeves’ Nutrition &amp; Diet</h2>
<p>Reeves knew the importance of nutrition and how it would help his performance and physique. He believed in using a 20% protein, 20% fat, 60% carbs diet because he felt that he had more energy to train with the high carbs.</p>
<p>Also, he would follow this plan by eating only three times a day which is quite different than many of the 5-6 meal plans we see today.</p>
<h4 class="art-subtitle"> Supplements Steve Reeves Took</h4>
<p>Remember what I said about machines for training. Well, supplements fall into this same category. There simply wasn’t that much known or available outside of the vitamin and protein powder.</p>
<p>Reeves relied on food and the protein powder in his shake for his performance needs. As for steroids, Reeves always spoke out against them and claimed to never use them when he was competing.</p>
<h2 class="art-subtitle"> Steve Reeves’ Physique Itself</h2>
<p>So what did all of this mean for Reeves in terms of results? How did his physique look? Reeves stood 6’1” and weighed 215 pounds.</p>
<p>He always wanted to make sure that his physique wasn’t just large but pleasing to the eye in terms of shape. So he felt there were specific standards of how the physique should look.</p>
<p>For example, Reeves felt one of your thighs should be half the size of your chest, your waist should be twice the size of your neck, and the neck, upper arm, and calf should all be equal. As it pertains to Reeves’ physique, he was very close to his standards and his waist was actually smaller than what he promotes. At his peak his measurements were as follows:</p>
<ul style="margin-bottom:30px">
<li class="art-li1"> Weight: 215 lbs</li>
<li class="art-li1"> Upper Arm, Calves, Neck – 18.5 inches each</li>
<li class="art-li1"> Thighs – 27 inches</li>
<li class="art-li1"> Chest – 54 inches</li>
<li class="art-li1"> Waist – 30 inches</li>
</ul>
<h2 class="art-subtitle"> Conclusion</h2>
<p>•While many of Reeves’ philosophies might seem archaic now, there is no doubt that his physique was well ahead of his time then and could be considered impressive even today.</p>
<p>•Reeves’ body of work inspired many of the people who would go on to inspire us years later.</p>
<p>•There is no doubt that he left his mark and impacted the fitness world in many ways that are still noticeable today.</p>