<p>And no matter where you are in your fitness journey, this article will show you how to get closer to the muscular, yet chiseled physique Chris Hemsworth has when playing Thor.</p>
<p>When Chris originally accepted the role of Thor, he was a skinny Australian dude with a surfer type body. He was definitely “beach ready”, but nothing even remotely close to what you would call jacked.</p>
<p>His enormous size transformation is a result of hard work, sweat, lots of iron and eating like a ravenous animal.</p>
<p>If you are into getting big, let’s see what it’ll take to pack on muscle like Hemsworth, so you too can have arms worthy of wielding Mjolnir and battling the Incredible Hulk.</p>
<p><iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/ue80QwXMRHg?rel=0" width="560"></iframe></p>

<h2 class="art-subtitle">
Introduction to the Thor Ragnarok Inspired Workout</h2>
<p>Chris more than likely trains 5-6 days a week for 1-2 hours a day and his workouts are as intense as it gets.</p>
<p>If you want results, you need to put in an enormous amount of effort. Period.</p>
<p>As I already said, this workout is not for the weak willed, so there are couple of things to keep in mind before starting (no matter how experienced you are).</p>
<p><em><strong>1. Start slow:</strong></em> Start slow and work yourself up to the full workout. There is no point in getting injured.</p>
<p><em><strong>2. Take days off if you need to:</strong></em> This workout can put a huge amount of strain on your muscles. Good news is that you most likely have more time than Chris had (He had to get jacked in 6 months). Even if it takes you a little longer, it will still be extremely impressive.</p>
<p><em><strong>3. Chris had a personal trainer:</strong></em> Thor’s workouts (which this workout is based loosely off of) were handcrafted by Duffy Gaver and Luke Zocchi (more recently), who both also kept Chris motivated when his spirits were low.</p>
<p><em><strong>4. Chris most likely had no other distractions:</strong></em> His life revolved around executing his workouts (and possibly shooting another movie). Getting in the shape for Thor is part of his job as an actor.</p>
<p>Average people like us are usually constrained by other obligations: work, family, friends, and others. So, you may want to consider adapting this Thor Ragnarok inspired workout to better fit your schedule.</p>
<p><em><strong>5. Chris had very powerful "why":</strong></em> Chris Hemsworth’s portrayal of Thor is now immortalized in several motion pictures for millions of people to see. This by itself can serve as an extremely potent source of motivation, don't you think?</p>
<p>If he bailed out or put in half-assed effort, he would go down in the cinematic history as a tiny Thor, get ridiculed on the internet, lose his face, never be hired as an actor again… maybe not as tragic, but you get my point - his career was depending on it.</p>
<p>Having a very strong “why” can fuel your motivation like nothing else. Make sure you know why you're embarking on this journey of making yourself huge, so you can bounce back from any setbacks that wait for you along the way.</p>
<h2 class="art-subtitle">
The Thor Ragnarok Inspired Workout Program</h2>
<p>OK, are you ready to put on some serious mass, whilst maintaining this lean and chiseled look? If yes, then let's dive deep into the nitty gritty of this Thor Ragnarok inspired workout program, so you too can get jacked enough to battle against the Incredible Hulk and Hela (the Queen of the Dead).</p>
<p>As mentioned, this isn't Chris Hemsworth's actual workout. It is a Thor inspired workout based on a combination of both of his trainers' workout philosophies.</p>
<p>Rest for 30-60 seconds after each exercise. Abs are meant to be performed as a circuit with no rest between exercises. Chris Hemsworth is also very active outside of the gym, including his days off. Be sure to incorporate some light active recovery work on your days off as well to maximize your results.</p>
<table class="workoutTable3">
<tbody>
<tr>
<th colspan="3">
Chris Hemsworth Thor Workout Monday = Chest/Back/Abs</th>
</tr>
<tr>
<th class="width60">
Exercise</th>
<th>
Sets</th>
<th>
Reps</th>
</tr>
<tr>
<td>
1. Barbell Bench Press</td>
<td>
5</td>
<td>
12, 12, 10, 8, 6</td>
</tr>
<tr>
<td>
2. Dumbbell Fly</td>
<td>
4</td>
<td>
12</td>
</tr>
<tr>
<td>
3. Bent-over Row</td>
<td>
4</td>
<td>
12</td>
</tr>
<tr>
<td>
4. Hammer Strength Row</td>
<td>
4</td>
<td>
12</td>
</tr>
<tr>
<td>
5. Weighted Pullup</td>
<td>
5</td>
<td>
15, 12, 10, 10, 8</td>
</tr>
<tr>
<td>
6. Weighted Dip</td>
<td>
5</td>
<td>
15, 12, 10, 10, 8</td>
</tr>
<tr>
<td>
7a. Plank</td>
<td>
1-3</td>
<td>
60 seconds</td>
</tr>
<tr>
<td>
7b. Cable Crunch</td>
<td>
1-3</td>
<td>
12-15</td>
</tr>
<tr>
<td>
7c. Sit Up</td>
<td>
1-3</td>
<td>
12-15</td>
</tr>
<tr>
<td>
7d. Reverse Crunch</td>
<td>
1-3</td>
<td>
12-15</td>
</tr>
<tr>
<td>
7e. Hanging Leg Raise</td>
<td>
1-3</td>
<td>
12-15</td>
</tr>
<tr>
<td>
7f. Oblique Crunch</td>
<td>
1-3</td>
<td>
12-15 each side</td>
</tr>
</tbody>
</table>
<p>For cardio, perform rounds of cardio boxing (15 total minutes on bag, 15 total minutes on pads, 15 total minutes of jump rope) or 45 minutes of cardio of choice.</p>

<table class="workoutTable3">
<tbody>
<tr>
<th colspan="3">
Chris Hemsworth Thor Workout Tuesday = Legs</th>
</tr>
<tr>
<th class="width60">
Exercise</th>
<th>
Sets</th>
<th>
Reps</th>
</tr>
<tr>
<td>
1. Barbell Squat</td>
<td>
5</td>
<td>
10, 8, 8, 6, 4</td>
</tr>
<tr>
<td>
2. Stiff-Legged Deadlift</td>
<td>
4</td>
<td>
12</td>
</tr>
<tr>
<td>
3. Hamstring Curls</td>
<td>
3</td>
<td>
20</td>
</tr>
<tr>
<td>
4. Leg Extension</td>
<td>
3</td>
<td>
20</td>
</tr>
<tr>
<td>
5. Seated Leg Curl</td>
<td>
3</td>
<td>
20</td>
</tr>
</tbody>
</table>
<p>For cardio, Chris Hemsworth likes to surf. If you can't go surfing, perform cardio of choice.</p>

<table class="workoutTable3">
<tbody>
<tr>
<th colspan="3">
Chris Hemsworth Thor Workout Wednesday = Abs &amp; Arms</th>
</tr>
<tr>
<th class="width60">
Exercise</th>
<th>
Sets</th>
<th>
Reps</th>
</tr>
<tr>
<td>
1. Weighted Chin Up</td>
<td>
5</td>
<td>
15, 12, 10, 10, 8</td>
</tr>
<tr>
<td>
2. Barbell Curls</td>
<td>
3</td>
<td>
10</td>
</tr>
<tr>
<td>
3. Hammer Curls</td>
<td>
3</td>
<td>
10</td>
</tr>
<tr>
<td>
4. Cable Tricep Extension</td>
<td>
3</td>
<td>
10</td>
</tr>
<tr>
<td>
5. Barbell French Press</td>
<td>
3</td>
<td>
10</td>
</tr>
<tr>
<td>
6a. Plank</td>
<td>
1-3</td>
<td>
60 seconds</td>
</tr>
<tr>
<td>
6b. Cable Crunch</td>
<td>
1-3</td>
<td>
12-15</td>
</tr>
<tr>
<td>
6c. Sit Up</td>
<td>
1-3</td>
<td>
12-15</td>
</tr>
<tr>
<td>
6d. Reverse Crunch</td>
<td>
1-3</td>
<td>
12-15</td>
</tr>
<tr>
<td>
6e. Hanging Leg Raise</td>
<td>
1-3</td>
<td>
12-15</td>
</tr>
<tr>
<td>
6f. Oblique Crunch</td>
<td>
1-3</td>
<td>
12-15 each side</td>
</tr>
</tbody>
</table>
<p>For Cardio, perform HIIT circuits on the stationary bike (or preferred HIIT).</p>

<table class="workoutTable3">
<tbody>
<tr>
<th colspan="3">
Chris Hemsworth Thor Workout Thursday = Chest/Shoulders/Back</th>
</tr>
<tr>
<th class="width60">
Exercise</th>
<th>
Sets</th>
<th>
Reps</th>
</tr>
<tr>
<td>
1. Barbell Bench Press</td>
<td>
5</td>
<td>
12, 12, 10, 8, 6</td>
</tr>
<tr>
<td>
2. Dumbbell Fly</td>
<td>
4</td>
<td>
12</td>
</tr>
<tr>
<td>
3. Bent-over Row</td>
<td>
4</td>
<td>
12</td>
</tr>
<tr>
<td>
4. Bent-over Lateral Raise</td>
<td>
3</td>
<td>
15</td>
</tr>
<tr>
<td>
5. Dumbbell Shoulder Press</td>
<td>
5</td>
<td>
15, 12, 10, 10, 8</td>
</tr>
<tr>
<td>
6. Lateral Raise</td>
<td>
4</td>
<td>
12</td>
</tr>
<tr>
<td>
7. Front Raise</td>
<td>
4</td>
<td>
12</td>
</tr>
</tbody>
</table>
<p>For cardio, perform rounds of cardio boxing (15 total minutes on bag, 15 total minutes on pads, 15 total minutes of jump rope) or 45 minutes of cardio of choice.</p>

<table class="workoutTable3">
<tbody>
<tr>
<th colspan="3">
Chris Hemsworth Thor Workout Friday = Legs &amp; Abs</th>
</tr>
<tr>
<th class="width60">
Exercise</th>
<th>
Sets</th>
<th>
Reps</th>
</tr>
<tr>
<td>
1. Barbell Squat</td>
<td>
5</td>
<td>
10, 8, 8, 6, 4</td>
</tr>
<tr>
<td>
2. Stiff-Legged Deadlift</td>
<td>
4</td>
<td>
12</td>
</tr>
<tr>
<td>
3. Hamstring Curls</td>
<td>
3</td>
<td>
20</td>
</tr>
<tr>
<td>
4. Leg Extension</td>
<td>
3</td>
<td>
20</td>
</tr>
<tr>
<td>
5. Seated Leg Curl</td>
<td>
3</td>
<td>
20</td>
</tr>
<tr>
<td>
6a. Plank</td>
<td>
1-3</td>
<td>
60 seconds</td>
</tr>
<tr>
<td>
6b. Cable Crunch</td>
<td>
1-3</td>
<td>
12-15</td>
</tr>
<tr>
<td>
6c. Sit Up</td>
<td>
1-3</td>
<td>
12-15</td>
</tr>
<tr>
<td>
6d. Reverse Crunch</td>
<td>
1-3</td>
<td>
12-15</td>
</tr>
<tr>
<td>
6e. Hanging Leg Raise</td>
<td>
1-3</td>
<td>
12-15</td>
</tr>
<tr>
<td>
6f. Oblique Crunch</td>
<td>
1-3</td>
<td>
12-15 each side</td>
</tr>
</tbody>
</table>
<p>For Cardio, perform HIIT circuits on the stationary bike (or preferred HIIT).</p>

<h2 class="art-subtitle">
Chris Hemsworth Thor Inspired Diet</h2>
<p>Here is a quick break down what you need to eat to become worthy of being called Thor:</p>
<h2 class="art-subtitle">
Protein</h2>
<ul>
<li class="art-li">
    •Whole eggs</li>
<li class="art-li">
    •Chicken</li>
<li class="art-li">
    •Fish</li>
<li class="art-li">
    •Steak</li>
<li class="art-li">
    •Plant-based protein powder</li>
<li class="art-li">
    •Veal</li>
<li class="art-li">
    •Rabbit</li>
<li class="art-li">
    •Whey protein shakes</li>
</ul>
<h2 class="art-subtitle">
Carbs</h2>
<ul>
<li class="art-li">
    •Broccoli, spinach, and other green vegetables</li>
<li class="art-li">
    •Sweet potatoes</li>
<li class="art-li">
    •Brown rice</li>
<li class="art-li">
    •Steel-cut oatmeal</li>
<li class="art-li">
    •Quinoa</li>
<li class="art-li">
    •Berries</li>
</ul>
<p>For carbs, the Thor diet centered around eating things that you find growing in the earth, not processed and put in a box.</p>
<h2 class="art-subtitle">
Fats</h2>
<ul>
<li class="art-li">
    •Grass fed butter</li>
<li class="art-li">
    •Coconut oil</li>
<li class="art-li">
    •Avocado</li>
<li class="art-li">
    •Nuts</li>
</ul>
<p>Chris's diet while preparing for the role of Thor is as strict as anyone trying to gain lean muscle mass should be. But exactly how many calories a day was he consuming to get himself from a relatively good looking beach boy to a god of thunder?</p>
<p>It was 3500 calories a day (minimum).</p>
<p>You should obviously also adjust this based on your personal weight and height. To find your daily calorie needs, use this bmr calculator. Then, to bulk like the Asgardian, add ~500 calories to that number to create a calorie surplus.</p>
<p>As you can see above, those calories are not coming from fast foods either. To keep your body performing at its best and fat at a minimum, get your calories from fresh fruits, veggies, lean meats, proteins and carbs.</p>
<h2 class="art-subtitle">
Mindset Like Thor: God of Thunder</h2>
<p>So far we covered the training program and nutrition. What about the psychological aspect? Having a mindset to become Thor is all too important and you probably won't get too far if you don't get that on point.</p>
<p>Most likely, you don’t have a trainer to do this, so remember:</p>
<ol>
<li class="art-li">
    •It’s not going to be easy.</li>
<li class="art-li">
    •You’re going to want to quit.</li>
<li class="art-li">
    •There are no shortcuts.</li>
<li class="art-li">
    •You will feel amazing when you look in the mirror and see the man you wanted to be.</li>
</ol>
<p>All self-improvement begins in the mind. Listen to yourself making excuse, then stay strong &amp; push through.</p>
<h2 class="art-subtitle">
Final Notes on the Thor Ragnarok Inspired Workout Program</h2>
<p>•Perform this Thor Ragnarok inspired routine consistently and you’ll be looking swole like Chris Hemsworth in no time.</p>
<p>•The recommended duration for this program is 12 weeks, but you can run it for up to 6 months at a time. Just listen to your body and take some time to deload as needed.</p>
<p>•Thor: Ragnarok hits theaters on November 3, 2017. Be sure to check out the man who inspired this workout in action on the silver screen as he is pit against the Hulk in an intergalactic battle and tries to save Asgard, all while preventing Ragnarok from happening.</p>
<h4 class="art-subtitle">
Extra Things You Should Keep in Mind:</h4>
<p>•If you are feeling sore, drained, and unmotivated, take a day off.</p>
<p>•Listen to your body, it will tell you when you’ve crossed the line and you should take some time off from training.</p>
<p>•Sleep 8-10 hours a night - if you're putting in all this work but neglecting sleep, you are doing it wrong!</p>
<p>•Do you have what it takes to get a superhero physique like Chris Hemsworth’s portrayal of Thor?</p>