<h2 class="art-subtitle">Workout Description</h2>
<p><em>The Accelarated Results 7 (AR-7) Program was developed by personal trainer Eric Laciste. More information about him and his training can be found on his personal website: ericlaciste.com</em></p>
<p>Jason Momoa’s resume is growing. With (literally) big roles such as Khal Drogo in Game of Thrones and the 2013 remake of Conan the Barbarian Jason is also set to lead in the upcoming DC adventure Aquaman.</p>
<p>With such iconic and demanding roles he has to be in top shape – and I mean crazy good shape since all of the roles mentioned have him with his shirt off most, if not all of his screen time.</p>
<p>In order to do the roles justice, Momoa had to pack on the mass, and quickly. He added 25 pounds to his frame in short order – not an easy feat for even the sometimes catered-to Hollywood type. But he did it.  </p>
<h2 class="art-subtitle"> Enter AR – 7</h2>
<p>Accelerated Results 7 (AR – 7) was the key to Momoa’s success.</p>
<p>This unique program will get anyone in superior shape, fast. Utilizing low reps, low weight and little rest it flies in the face of most weightlifting doctrines. Because of the high tempo, fast pace you will start to feel the burn much sooner as your main goal will be to reach muscular failure.</p>
<p>Simply start with 7 sets of 7 reps with 7 seconds of rest between each set for a predetermined circuit of exercises. Next follow the same sequence with the number 6 (6 sets, 6 reps, 6 seconds of rest). Finally, go for 5 on everything as your final round. Rest 1 to 2 minute between each round.</p>
<p>Another advantage of the AR – 7 program is that you can perform 2 to 3 workouts per day without too much fatigue since you aren’t logging in super heavy weights over and over putting wear and tear on your joints. </p>
<p>Momoa started out performing just one workout per day for each body part. After a few weeks he adapted and started ultimately performing 2 and 3 workouts in one day. Do you think you have what it takes?</p>
<h2 class="art-subtitle"> The Jason Momoa AR – 7 Sample Workout</h2>
<table class="workoutTable3" style="left:100px">
<tbody>
<tr>
<th class="width40"> Chest (Monday)</th>
<th> Sets/Reps</th>
</tr>
<tr>
<td> Flat Bench Press</td>
<td rowspan="5">
<p>Do 3 rounds with 1-2 minutes of rest in between each round:</p>
<ul>
<li class="art-li1"> 1st round 7 sets of 7 reps, with 7 seconds rest of each exercise</li>
<li class="art-li1"> 2nd round 6 sets of 6 reps, with 6 seconds rest of each exercise</li>
<li class="art-li1"> 3rd round 5 sets of 5 reps, with 5 seconds rest of each exercise</li>
</ul>
</td>
</tr>
<tr>
<td> Incline Bench Press</td>
</tr>
<tr>
<td> Incline Bench Dumbbell Press</td>
</tr>
<tr>
<td> Plate Push-Up</td>
</tr>
<tr>
<td> Chest Dips</td>
</tr>
</tbody>
</table>
<table class="workoutTable3" style="left:100px">
<tbody>
<tr>
<th class="width40"> Back (Tuesday)</th>
<th> Sets/Reps</th>
</tr>
<tr>
<td> Medium-Grip Pull-Up</td>
<td rowspan="5">
<p>Do 3 rounds with 1-2 minutes of rest in between each round:</p>
<ul>
<li class="art-li1"> 1st round 7 sets of 7 reps, with 7 seconds rest of each exercise</li>
<li class="art-li1"> 2nd round 6 sets of 6 reps, with 6 seconds rest of each exercise</li>
<li class="art-li1"> 3rd round 5 sets of 5 reps, with 5 seconds rest of each exercise</li>
</ul>
</td>
</tr>
<tr>
<td> Reverse-Grip Chin-Up</td>
</tr>
<tr>
<td> Close-Grip Pull-Up</td>
</tr>
<tr>
<td> Seated Pulley Row</td>
</tr>
<tr>
<td> Reverse-Grip BB Bent-Over Row</td>
</tr>
</tbody>
</table>
<table class="workoutTable3" style="left:100px">
<tbody>
<tr>
<th class="width40"> Legs (Wednesday)</th>
<th> Sets/Reps</th>
</tr>
<tr>
<td> Bodyweight Squat</td>
<td rowspan="5">
<p>Do 3 rounds with 1-2 minutes of rest in between each round:</p>
<ul>
<li class="art-li1"> 1st round 7 sets of 7 reps, with 7 seconds rest of each exercise</li>
<li class="art-li1"> 2nd round 6 sets of 6 reps, with 6 seconds rest of each exercise</li>
<li class="art-li1"> 3rd round 5 sets of 5 reps, with 5 seconds rest of each exercise</li>
</ul>
</td>
</tr>
<tr>
<td> Stiff-Legged Deadlift</td>
</tr>
<tr>
<td> Barbell Back Squat</td>
</tr>
<tr>
<td> Bodyweight Jump Squat</td>
</tr>
</tbody>
</table>
<table class="workoutTable3" style="left:100px">
<tbody>
<tr>
<th class="width40"> Core (Thursday)</th>
<th> Sets/Reps</th>
</tr>
<tr>
<td> Medicine Ball Slam</td>
<td rowspan="5">
<p>Do 3 rounds with 1-2 minutes of rest in between each round:</p>
<ul>
<li class="art-li1"> 1st round 7 sets of 7 reps, with 7 seconds rest of each exercise</li>
<li class="art-li1"> 2nd round 6 sets of 6 reps, with 6 seconds rest of each exercise</li>
<li class="art-li1"> 3rd round 5 sets of 5 reps, with 5 seconds rest of each exercise</li>
</ul>
</td>
</tr>
<tr>
<td> Kettlebell Swing</td>
</tr>
<tr>
<td> Burpee</td>
</tr>
<tr>
<td> Leap Frog</td>
</tr>
<tr>
<td> 40-yd Sprint</td>
</tr>
</tbody>
</table>
<table class="workoutTable3" style="left:100px">
<tbody>
<tr>
<th class="width40"> Shoulders &amp; Arms (Friday)</th>
<th> Sets/Reps</th>
</tr>
<tr>
<td> Barbell Military Press</td>
<td rowspan="5">
<p>Do 3 rounds with 1-2 minutes of rest in between each round:</p>
<ul>
<li class="art-li1"> 1st round 7 sets of 7 reps, with 7 seconds rest of each exercise</li>
<li class="art-li1"> 2nd round 6 sets of 6 reps, with 6 seconds rest of each exercise</li>
<li class="art-li1"> 3rd round 5 sets of 5 reps, with 5 seconds rest of each exercise</li>
</ul>
</td>
</tr>
<tr>
<td> Bodyweight Dip</td>
</tr>
<tr>
<td> Diamond Push-Up</td>
</tr>
<tr>
<td> Dumbbell Curls</td>
</tr>
<tr>
<td> Dumbbell Triceps Extensions</td>
</tr>
</tbody>
</table>
<p><strong>Note:</strong> After each training session Momoa would jump on the treadmill for varied times to trim off the last bit of fat.</p>