<h2 class="art-subtitle">Workout Description</h2>
<p>It’s that time again and we’re back for another edition of Hollywood Muscle.</p>
<p>Hollywood Muscle is a monthly installment where the M&amp;S team revisits some of the most iconic physiques in the history of film and media.</p>
<p>On the docket for today is none other than Zac Efron.</p>
<p>Efron has gone from teen heartthrob to developing one of the most aesthetically appeasing physiques over the years.</p>
<p>Today, we’re going to dive into his transition and provide an inspired workout that you can utilize to build your own physique.</p>
<h2 class="art-subtitle">
Zac Efron Mini-Biography</h2>
<p>Zac Efron is really a millennial icon. Having started his acting career in school theater class he went on to guest star in several television series including <em>Firefly</em>, <em>ER</em>, and <em>The Guardian</em>. Inevitably this lead to his first full-time role in the second season of <em>Summerland</em>.</p>
<p>That sort of initial success and his on-screen charisma lead to his breakout role in Disney Channel’s <em>High School Musical</em>. He became instantly recognizable among the teenage and younger crowd who are now entering their various stages of adulthood now.</p>
<p>The <em>High School Musical</em> Trilogy really laid the foundation for Efron’s career and he’s had steady work ever since in a variety of roles as he’s diversified himself in Hollywood.</p>
<p>The most iconic, for our purposes, is his role as Matt Brody in <em>Baywatch</em>. For the role, Efron seemingly transformed his body into the quintessential Men’s Physique Competitor’s body type. It was the most shredded the world had ever seen him.</p>
<p>Since, he’s become a fitspiration for a lot of people with his Instagram workout posts and his YouTube series “Gym Time”.</p>
<p><iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/lLSDe9Oyk9Q" width="560"></iframe></p>
<h2 class="art-subtitle">
Zac Efron Workout Philosophy</h2>
<p>To prepare for <em>Baywatch</em>, Efron teamed with Hollywood trainer Patrick Murphy. Patrick has helped prepare a variety of Hollywood celebrities for roles. His client list not only includes Zac Efron, but also the likes of Olivia Wilde, Keanu Reeves, Efron’s <em>Baywatch</em> co-star, Alexandra Daddario, and many more.</p>
<p>You can even purchase some of the direct philosophies he used with Zac from his website. These include smart programing broken up into different phases along with macronutrition information to help you achieve the perfect beach body.</p>
<p>He’s also provided several media outlets information and guidelines behind Efron’s training. That information along with Zac’s workout content from his platforms will help us mold the outline for this inspired workout template.</p>
<p>Based on all things we’re able to get our hands on about the way Zac Efron trains, it is very apparent that he enjoys maximizing his time in the gym by including numerous circuits and supersets.</p>
<p>Below we will try to put this information together to give you an idea on what you can do at the gym to help improve your physique over the next 12 weeks.</p>
<h2 class="art-subtitle">
Zac Efron Inspired Workout Overview</h2>
<p>The following workout routine is inspired by the way Zac Efron trains and the content on the web about Efron’s training. It is not the actual workout he has performed and isn’t a representation of Patrick Murphy’s programs either.</p>
<p>It has, however, been put together with sound training principles and includes a lot of examples of the supersets he might incorporate on specific training days.</p>
<p>The workout can be performed for 12 weeks. During those 12 weeks you will perform the workouts in a 3 days on 1 day off fashion, starting over with the first workout listed after your rest day. This sort of training frequency will help you build lean muscle mass.</p>
<p>Keep your rest periods relatively short throughout each workout. 45-60 seconds in between supersets should do the trick.</p>
<p>Letters represent that the exercise is part of a pairing that forms a superset and/or circuit. Perform all of the exercises of the pairing prior to taking your rest period.</p>
<p>After each workout, perform 20 minutes of a cardio of your choice. It doesn’t have to be too strenuous and it should be something you enjoy doing as this will make you consistent in performing it.</p>
<p>Weight selection will be highly individualized. You will want to select a weight that challenges you during both exercises.</p>
<h4 class="art-subtitle">
Zac Efron Inspired Workout: Back and Biceps</h4>
<table class="workoutTable3">
<tbody>
<tr>
<th class="width60">
Exercise</th>
<th>
Sets</th>
<th>
Reps</th>
</tr>
<tr>
<td>
A1. Dumbbell Pullover</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
A2. One Arm Dumbbell Row</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
B1. Pull Up</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
B2. Seated Cable Row</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
C1. Lat Pull Down</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
C2. Inverted Row</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
D1. Chin Up</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
D2. Drag Curl</td>
<td>
3</td>
<td>
8-12</td>
</tr>
</tbody>
</table>
<h4 class="art-subtitle">
Zac Efron Inspired Workout: Legs and Core</h4>
<table class="workoutTable3">
<tbody>
<tr>
<th class="width60">
Exercise</th>
<th>
Sets</th>
<th>
Reps</th>
</tr>
<tr>
<td>
A1. Hack Squat</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
A2. Bodyweight Jump Squats</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
B1. Leg Curl</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
B2. Exercise Ball Leg Curl</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
C1. Walking Lunge</td>
<td>
3</td>
<td>
8-12 Each</td>
</tr>
<tr>
<td>
C2. Romanian Deadlifts</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
D1. Seated Calf Raise</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
D2. Standing Calf Raise</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
E1. Sit Up</td>
<td>
5</td>
<td>
15</td>
</tr>
<tr>
<td>
E2. Oblique Crunch</td>
<td>
5</td>
<td>
12-15 Each</td>
</tr>
<tr>
<td>
E3. Lying Floor Leg Raise</td>
<td>
5</td>
<td>
15</td>
</tr>
<tr>
<td>
E4. Plank</td>
<td>
5</td>
<td>
Timed Failure</td>
</tr>
</tbody>
</table>
<h4 class="art-subtitle">
Zac Efron Inspired Workout: Chest, Shoulders and Arms</h4>
<table class="workoutTable3">
<tbody>
<tr>
<th class="width60">
Exercise</th>
<th>
Sets</th>
<th>
Reps</th>
</tr>
<tr>
<td>
A1. Dumbbell Floor Press</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
A2. Push Up</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
B1. Incline Bench Press</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
B2. Lateral Raise</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
C1. Standing Overhead Press</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
C2. Band Pull Apart</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
D1. Machine Fly</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
D2. Push Up</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
E1. Triceps Dip</td>
<td>
3</td>
<td>
8-12</td>
</tr>
<tr>
<td>
E2. Hammer Curl</td>
<td>
3</td>
<td>
8-12</td>
</tr>
</tbody>
</table>