<p>Back in 1976, Sylvester Stallone began to inspire generations to become fit to fight.</p>
<p>The original <em>Rocky Saga</em> inspired my parents’ generation to train, and then inspired all the 90s babies as our parents busted out the old VHSes (plural?) to show us the greatest fictional boxer in history.</p>
<p>And we’ve relived that source of motivation for decades with every passing “Rocky Weekend” marathon. The only saga that seems to get more airtime is <em>Harry Potter</em>; no complaints from me on either front.</p>
<p>But in 2015, Sly took the next step in inspiring future generations to work hard when he casted Michael B. Jordan in his spinoff saga, <em>Creed</em>.</p>
<p>Michael B. Jordan, who at that time folks might’ve only associated with <em>Friday Night Lights</em> and <em>Fantastic Four</em> (or <em>The Wire</em> for you OG MBJ fans), brought an insane physique to the role that made literally any guy watching the first <em>Creed</em> say to themselves, “I want to look like that! I really need to start working out.”</p>
<p>Since, Michael B Jordan has continued to inspire the fitness community – most recently with his role as Killmonger in <em>Black Panther</em>.</p>
<p>Michael B Jordan returns to theaters as Adonis Creed this Thanksgiving. And his physique will surely be everyone’s 2019 New Year’s Resolution goals.</p>
<p>Let’s be honest, that’s why you're probably here. So, let me be your Rocky as we get you fit with this Creed inspired workout program.</p>
<h2 class="art-subtitle"> Introduction to the Creed Inspired Workout</h2>
<p>The principles behind this program and the actual training will be centered more so on the fictional character Adonis Creed, as opposed to Michael B Jordan.</p>
<p>We’ve delved deep into the training of Michael B. Jordan fairly recently on Muscle &amp; Strength in the Michael B Jordan inspired workout program. His training is admirable and that article is definitely worth the read if you’re interested in learning more about the actor.</p>
<p>However, for the purposes of this training piece, I want you to envision yourself preparing for the role. I want you to basically become Adonis Creed. It’s a trick a lot of actors use themselves when preparing for movie roles – especially the physical component of it.</p>
<p>The more you can connect to the role, the easier it is to buy into the lifestyle of the character. For Adonis Creed, that’s balancing his boxing career, training/prepping, and his social life.</p>
<p>That’s not to say it’s too far from Michael B Jordan’s lifestyle. If anything, we’ve learned the man is fully committed to the fitness lifestyle and actually enjoys boxing as a form of training himself. That’s probably why his portrayal of the character is so epic.</p>
<p>So, let’s begin by breaking down some of Adonis Creed’s training principles.</p>
<h4 class="art-subtitle"> Adonis Creed Commits to a Balanced Training Approach</h4>
<p>You see a lot of guys in the gym who are scared to look at a treadmill because they might lose a little bit of muscle.</p>
<p>However, if you want to be in prime "boxing" shape – you’re going to want to focus on more than simply weight training. Don’t get me wrong, if you only have time to commit to certain aspects of this program, weight training should be the top priority. That’s why it’s the prime focus of the Creed inspired workout program.</p>
<p>But, to get to the level of conditioning Donny has in the movie, you’ve got to perform some sort of conditioning exercises.</p>
<p>In his training montages, I’m sure you’ll see a mixture of things – calisthenics, jogging, sprinting, shadow boxing, sparring, heavy bag work, jump roping. You get the picture. Balboa’s training protocol for Creed infuses multiple forms of training to help the contender get shredded.</p>
<h4 class="art-subtitle"> Creed Has a Mentor, Coach, and Motivator</h4>
<p>Adonis Creed has Rocky Balboa in his corner. Rocky has been through every aspect that it takes to get in the ring. And he helps Creed by mentoring him, coaching him, and giving him the external motivation he needs to push through every training session.</p>
<p>If you don’t know what you’re doing, it might be worth getting a coach or team for your own corner.</p>
<p>Weight lifting is tricky. It can be highly individualized and results will always vary. The program laid out below is a good template, but it never hurts to have a personal trainer help you with your own exercise selection based on your needs and movement patterns.</p>
<p>Same for boxing training. If you want to partake in boxing as your form of conditioning to really buy into the whole Creed role, it’d be worth looking for boxing instructors in your area. It’s a great form of exercise, but likely not one you can fully embrace from watching Youtube videos and reading articles.</p>
<p>And, of course, if you lack motivation – having someone who’s a great motivator helping you along the way will pay off in the long run.</p>
<h4 class="art-subtitle"> Creed Has an End Goal to Strive For</h4>
<p>Creed is preparing for fights in the movie. He has to be in shape, or he’ll be completely embarrassed and left bloody on the ground.</p>
<p>You don’t need to get in the ring anytime soon – and unless you have serious goals to box, I wouldn’t recommend it (this program isn’t intended to be used for that reason).</p>
<p>But, it is important to set a goal and strive to reach that goal. What is your goal for performing this program? How will you measure that goal? Is it a realistic goal to achieve during the 8 weeks of this program? What will you do after you’ve accomplished that goal?</p>
<p>Answering those questions honestly may make or break your results with the following program.</p>
<h2 class="art-subtitle"> The Adonis Creed Inspired Workout Program</h2>
<p>Below is an 8 week workout program inspired by the fictional character Adonis Creed portrayed by Michael B. Jordan.</p>
<p>It isn’t the actual workout program Michael B. Jordan used to prepare for the role of Creed, nor is it the actual program Rocky put Adonis Creed through during the movies.</p>
<p>It’s simply a fun program created to help you achieve your goals by putting you in the shoes of the fictional character to help keep you motivated during the next 8 weeks.</p>
<p>The program follows a push/pull/legs split (not in that order) with Sunday being your day for rest and recovery. The beginning of the week will focus more on building strength, while the latter half of the week will incorporate more bodyweight movements and accessory work to help you build muscle.</p>
<p>Each workout day should also include some form of cardiovascular training and/or boxing circuit training. The workouts themselves are pretty intense, so if you lack the time to recover properly, these conditioning sessions should be low impact.</p>
<p>Rest periods on the strength based days should be longer and fall within the 3-5 minute range. On accessory exercises following your strength lifts and on muscle building days keep rest shorter limiting yourself to just 30-60 seconds.</p>
<p>Cue the training montage...</p>
<p><iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/-NH1A6CLIrY?rel=0" width="560"></iframe></p>
<h4 class="art-subtitle"> Adonis Creed Workout Day 1: Pull Strength Workout</h4>
<p><em>Warm Up:</em> Stretch, SMR, Perform 5-10 Mins of Jump Roping.</p>
<table class="workoutTable3"
<tbody>
<tr>
<th class="width60"> Exercise</th>
<th> Sets</th>
<th> Reps</th>
</tr>
<tr>
<td> 1. Deadlift</td>
<td> 4</td>
<td> 3-5</td>
</tr>
<tr>
<td> 2. Bent Over Row</td>
<td> 4</td>
<td> 5</td>
</tr>
<tr>
<td> 3. Weighted Chin Up</td>
<td> 3</td>
<td> 6</td>
</tr>
<tr>
<td> 4. Dumbbell Row</td>
<td> 3</td>
<td> 8</td>
</tr>
<tr>
<td> 5. Face Pull</td>
<td> 3</td>
<td> 12</td>
</tr>
<tr>
<td> 6. Barbell Curl</td>
<td> 4</td>
<td> 10</td>
</tr>
</tbody>
</table>
<p><em>Cardio:</em> Perform cardio intervals for 15-45 minutes. If you’re trying to go the true Creed route, do some heavy bag intervals, speed bag intervals, or sparring.</p>
<h4 class="art-subtitle"> Adonis Creed Workout Day 2: Push Strength Workout</h4>
<p><em>Warm Up:</em> Stretch, SMR, Perform 5-10 Mins of Jump Roping.</p>
<table class="workoutTable3"
<tbody>
<tr>
<th class="width60"> Exercise</th>
<th> Sets</th>
<th> Reps</th>
</tr>
<tr>
<td> 1. Bench Press</td>
<td> 4</td>
<td> 3-5</td>
</tr>
<tr>
<td> 2. Seated Military Press</td>
<td> 4</td>
<td> 5</td>
</tr>
<tr>
<td> 3. Weighted Dips</td>
<td> 3</td>
<td> 6</td>
</tr>
<tr>
<td> 4. Pec Dec Fly</td>
<td> 3</td>
<td> 12</td>
</tr>
<tr>
<td> 5. Lateral Raise</td>
<td> 3</td>
<td> 12</td>
</tr>
<tr>
<td> 6. Tricep Rope Extension</td>
<td> 4</td>
<td> 12</td>
</tr>
</tbody>
</table>
<p><em>Cardio:</em> Perform cardio intervals for 15-45 minutes. If you’re trying to go the true Creed route, do some heavy bag intervals, speed bag intervals, or sparring.</p>
<h4 class="art-subtitle"> Adonis Creed Workout Day 3: Legs Strength Workout</h4>
<p><em>Warm Up:</em> Stretch, SMR, Perform 5-10 Mins of Jump Roping.</p>
<table class="workoutTable3"
<tbody>
<tr>
<th class="width60"> Exercise</th>
<th> Sets</th>
<th> Reps</th>
</tr>
<tr>
<td> 1. Barbell Squat</td>
<td> 4</td>
<td> 3-5</td>
</tr>
<tr>
<td> 2. Dumbbell Stiff Leg Deadlift</td>
<td> 4</td>
<td> 5</td>
</tr>
<tr>
<td> 3. Leg Press</td>
<td> 3</td>
<td> 6</td>
</tr>
<tr>
<td> 4. Hip Thrust</td>
<td> 3</td>
<td> 8</td>
</tr>
<tr>
<td> 5. Leg Extension</td>
<td> 3</td>
<td> 12</td>
</tr>
<tr>
<td> 6. Standing Calf Raise</td>
<td> 4</td>
<td> 15</td>
</tr>
</tbody>
</table>
<p><em>Cardio:</em> Perform cardio intervals for 15-45 minutes. If you’re trying to go the true Creed route, do some heavy bag intervals, speed bag intervals, or sparring.</p>
<h4 class="art-subtitle"> Adonis Creed Workout Day 4: Push Muscle Building Workout</h4>
<p><em>Warm Up:</em> Stretch, SMR, Jog 1-2 Miles.</p>
<table class="workoutTable3"
<tbody>
<tr>
<th class="width60"> Exercise</th>
<th> Sets</th>
<th> Reps</th>
</tr>
<tr>
<td> 1. Standing Dumbbell Shoulder Press</td>
<td> 4</td>
<td> 8</td>
</tr>
<tr>
<td> 2. Push Ups</td>
<td> 4</td>
<td> 12</td>
</tr>
<tr>
<td> 3. Cable Lateral Raise</td>
<td> 3</td>
<td> 15</td>
</tr>
<tr>
<td> 4. Dumbbell Incline Bench Press</td>
<td> 3</td>
<td> 15</td>
</tr>
<tr>
<td> 5. Triceps Dips</td>
<td> 3</td>
<td> 15</td>
</tr>
<tr>
<td> 6. Skullcrushers</td>
<td> 3</td>
<td> 12</td>
</tr>
</tbody>
</table>
<p><em>Cardio:</em> Perform cardio intervals for 15-45 minutes. If you’re trying to go the true Creed route, do some heavy bag intervals, speed bag intervals, or sparring.</p>
<h4 class="art-subtitle"> Adonis Creed Workout Day 5: Legs Muscle Building Workout</h4>
<p><em>Warm Up:</em> Stretch, SMR, Jog 1-2 Miles.</p>
<table class="workoutTable3"
<tbody>
<tr>
<th class="width60"> Exercise</th>
<th> Sets</th>
<th> Reps</th>
</tr>
<tr>
<td> 1. Front Squat</td>
<td> 4</td>
<td> 8</td>
</tr>
<tr>
<td> 2. Trap Bar Deadlift</td>
<td> 4</td>
<td> 12</td>
</tr>
<tr>
<td> 3. Dumbbell Lunge</td>
<td> 3</td>
<td> 12 Each</td>
</tr>
<tr>
<td> 4. Hyperextensions (Glute)</td>
<td> 3</td>
<td> 15</td>
</tr>
<tr>
<td> 5. Leg Curl</td>
<td> 3</td>
<td> 12</td>
</tr>
<tr>
<td> 6. Seated Calf Raise</td>
<td> 3</td>
<td> 20</td>
</tr>
</tbody>
</table>
<p><em>Cardio:</em> Perform cardio intervals for 15-45 minutes. If you’re trying to go the true Creed route, do some heavy bag intervals, speed bag intervals, or sparring.</p>
<h4 class="art-subtitle"> Adonis Creed Workout Day 6: Pull Muscle Building Workout</h4>
<p><em>Warm Up:</em> Stretch, SMR, Jog 1-2 Miles.</p>
<table class="workoutTable3"
<tbody>
<tr>
<th class="width60"> Exercise</th>
<th> Sets</th>
<th> Reps</th>
</tr>
<tr>
<td> 1. Pull Ups</td>
<td> 3</td>
<td> 12</td>
</tr>
<tr>
<td> 2. Inverted Rows</td>
<td> 3</td>
<td> 15</td>
</tr>
<tr>
<td> 3. Seated Cable Row</td>
<td> 3</td>
<td> 12</td>
</tr>
<tr>
<td> 4. Lat Pull Down</td>
<td> 3</td>
<td> 12</td>
</tr>
<tr>
<td> 5. Dumbbell Curl</td>
<td> 3</td>
<td> 15</td>
</tr>
<tr>
<td> 6. Preacher Curl</td>
<td> 3</td>
<td> 12</td>
</tr>
</tbody>
</table>
<p><em>Cardio:</em> Perform cardio intervals for 15-45 minutes. If you’re trying to go the true Creed route, do some heavy bag intervals, speed bag intervals, or sparring.</p>
<h4 class="art-subtitle"> Adonis Creed Workout Day 7: Rest and Recovery Day</h4>
<p>Take this day off from the gym and training. If you feel like working out, perform some very low intensity cardio or perform the Creed ab workout routine.</p>
<p>Rest and recovery is very important to building muscle and getting lean. Take this day to regroup. Prepare your meals for the following week. And spend some time with your friends and family.</p>
<h4 class="art-subtitle"> Creed Ab Workout Routine</h4>
<p>Perform the following ab circuit every other day while performing the Creed inspired workout program. It can be done separate from the workout or immediately after your workout or cardio session.</p>
<table class="workoutTable3"
<tbody>
<tr>
<th class="width60"> Exercise</th>
<th> Sets</th>
<th> Reps</th>
</tr>
<tr>
<td> Plank</td>
<td> 4</td>
<td> 30 Secs</td>
</tr>
<tr>
<td> Ab Crunch</td>
<td> 4</td>
<td> 15</td>
</tr>
<tr>
<td> Scissor Kicks</td>
<td> 4</td>
<td> 12 Each</td>
</tr>
<tr>
<td> Bicycle</td>
<td> 4</td>
<td> 15 Each</td>
</tr>
<tr>
<td> Lying Leg Raise</td>
<td> 4</td>
<td> 12</td>
</tr>
<tr>
<td> Sit Up</td>
<td> 4</td>
<td> 15</td>
</tr>
</tbody>
</table>
<h2 class="art-subtitle"> Final Notes on the Creed Inspired Workout Program</h2>
<p>•The 8 week program listed above was inspired by the fictional character Adonis Creed who is portrayed by Michael B. Jordan.</p>
<p>•If your goal is to get shredded like Adonis will be in his fight against Drago, it’s a solid template to work off of.</p>
<p>•What you do with your diet and sleep outside of the gym will make or break your progress with this routine. Make sure you are getting enough calories and carbs to fuel your workouts. And make sure you’re getting enough protein and carbs to recover from your workouts.</p>
<p>•If you need help finding a starting point for the amount of calories you should be consuming, use our bmr calculator.</p>
<p>•Eat that amount of calories for your first 4 weeks of this workout and monitor your results. If your goal is to achieve fat loss and get shredded, and you haven’t noticed a difference at the 4 week mark, you may benefit from dropping your calories by subtracting 250-500 calories from your intake.</p>
<p>•If your goal is to put on weight and you haven’t noticed a difference after 4 weeks, bump up your calories by adding 250-500 calories to your intake.</p>
<p>•If you want to take it a step further and calculate your macros read this article on how to calculate the perfect macros for your fitness goals.</p>
<p>vLastly, you need to sleep to put on muscle mass and burn fat. Make sure you’re getting around 7-9 hours of quality sleep each night. This will help your muscles repair and improve your performance inside and outside of the gym.</p>
<p>•Be sure to check out the fight against Adonis Creed and Viktor Drago in <em>Creed 2</em> on November 21st, 2018.</p>
<p>•If you have any questions regarding the Creed inspired workout routine, please feel free to drop a comment in the comments section below!</p>
