<h2 class="art-subtitle">Workout Description</h2>
<p>The coveted “V” cut midsection.</p>
<p>You’ve seen it on Instagram and Youtube. Before that, you saw it in magazines and movies.</p>
<p>It’s a physical trait many strive to develop.</p>
<p>Yet, so few actually do.</p>
<p>It’s a status symbol of hard work and dedication. It’s eye catching whenever you take your shirt off.</p>
<p>And today, we’re going to lay out a strategy to put you in a position to develop one if you’re genetically predisposed to being able to do so.</p>
<h2 class="art-subtitle">
“V Cut Abs” Workout Overview</h2>
<p>The following workout is designed first and foremost to help you develop your lower abdominals and obliques. Both muscle groups are extremely important to developing those V cuts you’re seeking.</p>
<p>To do this, we prioritize exercises that work the lower abdominals first in the ab portion of your workouts. From there, we move on to exercises that target both the lower abdominals and obliques. Lastly, we finish up with a total core movement.</p>
<p>Each exercise for the abdominals will be high rep. The focus here is conditioning the abdominals. We don’t want to build the muscle too much at this point – that would be more of a bulking ab training strategy.</p>
<p>The V cut abs workouts are performed after your traditional workout. To help guide you in the right direction, we’ve also provided a four day upper/lower split to this V cut protocol.</p>
<p>The upper/lower workout within this program will allow you to maximize your calorie expenditure while building a balanced and aesthetic physique. The program focuses on compound movements since they require more muscles to be involved in the movement, thus leading to more calories being burned during your workouts.</p>
<p>Now, before we move into the split and workouts, it is important to realize that the “V cut” look can be very much genetic. You can maximize what you were born to develop with this program, but if you weren’t born with the genes necessary to make your V pop, it likely won’t make up for that.</p>
<p>That’s not to say this program is all for not if you didn’t hit the genetic lottery. This program can kick-start a healthy lifestyle while still helping you to develop your core. At the end of the routine, you’ll be satisfied you completed the program. Trust me.</p>
<p>Another thing worth noting is while this is a 4 week routine, you’re more than welcome to continue the program for as long as you wish. 4 weeks might be the perfect duration for someone with plenty of gym experience to develop their V cuts.</p>
<p>Others, who aren’t as far along with their conditioning might take longer to develop their midsection with this program.</p>
<h4 class="art-subtitle">
Monday: Upper &amp; V Cut Abs Workout</h4>
<table class="workoutTable3">
<tbody>
<tr>
<th class="width60">
Exercise</th>
<th>
Sets</th>
<th>
Reps</th>
</tr>
<tr>
<td>
Standing Dumbbell Press</td>
<td>
4</td>
<td>
8</td>
</tr>
<tr>
<td>
One Arm Dumbbell Row</td>
<td>
4</td>
<td>
12</td>
</tr>
<tr>
<td>
Cable Row</td>
<td>
3</td>
<td>
10</td>
</tr>
<tr>
<td>
Barbell Bench Press</td>
<td>
4</td>
<td>
8</td>
</tr>
<tr>
<td>
EZ Bar Curl</td>
<td>
2</td>
<td>
12</td>
</tr>
<tr>
<td>
Tricep Rope Extension</td>
<td>
2</td>
<td>
12</td>
</tr>
<tr>
<td>
Hanging Leg Raise</td>
<td>
4</td>
<td>
10</td>
</tr>
<tr>
<td>
Flutter Kicks</td>
<td>
3</td>
<td>
20 Each</td>
</tr>
<tr>
<td>
Bicycle Crunch</td>
<td>
3</td>
<td>
12 Each</td>
</tr>
<tr>
<td>
Plank</td>
<td>
3</td>
<td>
45 Secs</td>
</tr>
</tbody>
</table>
<h4 class="art-subtitle">
Tuesday: Lower &amp; V Cut Abs Workout</h4>
<table class="workoutTable3">
<tbody>
<tr>
<th class="width60">
Exercise</th>
<th>
Sets</th>
<th>
Reps</th>
</tr>
<tr>
<td>
Front Squat</td>
<td>
4</td>
<td>
8</td>
</tr>
<tr>
<td>
Leg Press</td>
<td>
3</td>
<td>
12</td>
</tr>
<tr>
<td>
Romanian Deadlift</td>
<td>
4</td>
<td>
8</td>
</tr>
<tr>
<td>
Seated Leg Curl</td>
<td>
3</td>
<td>
12</td>
</tr>
<tr>
<td>
Standing Calf Raise</td>
<td>
3</td>
<td>
20</td>
</tr>
<tr>
<td>
Leg Press Calf Raise</td>
<td>
3</td>
<td>
12</td>
</tr>
<tr>
<td>
Reverse Crunch</td>
<td>
3</td>
<td>
20</td>
</tr>
<tr>
<td>
Scissor Crosses</td>
<td>
3</td>
<td>
15 Each</td>
</tr>
<tr>
<td>
Oblique Crunch</td>
<td>
3</td>
<td>
12 Each</td>
</tr>
<tr>
<td>
Decline Crunch</td>
<td>
3</td>
<td>
10</td>
</tr>
</tbody>
</table>
<h4 class="art-subtitle">
Thursday: Upper &amp; V Cut Abs Workout</h4>
<table class="workoutTable3">
<tbody>
<tr>
<th class="width60">
Exercise</th>
<th>
Sets</th>
<th>
Reps</th>
</tr>
<tr>
<td>
Dumbbell Incline Bench Press</td>
<td>
4</td>
<td>
8</td>
</tr>
<tr>
<td>
Dumbbell Lateral Raise</td>
<td>
3</td>
<td>
12</td>
</tr>
<tr>
<td>
Pull Up</td>
<td>
4</td>
<td>
8</td>
</tr>
<tr>
<td>
Bent Over Row</td>
<td>
3</td>
<td>
10</td>
</tr>
<tr>
<td>
Cable Face Pull</td>
<td>
3</td>
<td>
12</td>
</tr>
<tr>
<td>
Dumbbell Shrug</td>
<td>
3</td>
<td>
15</td>
</tr>
<tr>
<td>
Lying Leg Raises</td>
<td>
4</td>
<td>
15</td>
</tr>
<tr>
<td>
Mountain Climbers</td>
<td>
3</td>
<td>
20 Each</td>
</tr>
<tr>
<td>
Side Plank</td>
<td>
3</td>
<td>
30 Secs Each</td>
</tr>
<tr>
<td>
Dead Bugs</td>
<td>
3</td>
<td>
12 Each</td>
</tr>
</tbody>
</table>
<h4 class="art-subtitle">
Friday: Lower &amp; V Cut Abs Workout</h4>
<table class="workoutTable3">
<tbody>
<tr>
<th class="width60">
Exercise</th>
<th>
Sets</th>
<th>
Reps</th>
</tr>
<tr>
<td>
Back Squat</td>
<td>
4</td>
<td>
8</td>
</tr>
<tr>
<td>
Hack Squat</td>
<td>
3</td>
<td>
12</td>
</tr>
<tr>
<td>
Leg Extension</td>
<td>
3</td>
<td>
10</td>
</tr>
<tr>
<td>
Dumbbell Stiff Leg Deadlift</td>
<td>
4</td>
<td>
8</td>
</tr>
<tr>
<td>
Leg Curl</td>
<td>
3</td>
<td>
12</td>
</tr>
<tr>
<td>
Standing Calf Raise</td>
<td>
4</td>
<td>
20</td>
</tr>
<tr>
<td>
Decline Bench Leg Raise</td>
<td>
3</td>
<td>
15</td>
</tr>
<tr>
<td>
Straight Leg Toe Touch</td>
<td>
3</td>
<td>
12</td>
</tr>
<tr>
<td>
Russian Twists</td>
<td>
3</td>
<td>
12 Each</td>
</tr>
<tr>
<td>
Ab Crunch</td>
<td>
3</td>
<td>
15</td>
</tr>
</tbody>
</table>
<h2 class="art-subtitle">
V Cut Abs Dieting and Lifestyle Tips</h2>
<p>The workout above is great and all, but it alone won’t help you progress towards your V cut ab goals.</p>
<p>When it comes to having a great and defined midsection, the first thing we need to factor in is body fat. You’ll never be able to see your abs or V cuts unless you’re at a decent body fat percentage. This percentage will be different for everyone and is based off of genetics and overall muscle size.</p>
<p>The easiest way, and really only natural way, to lower body fat is through proper nutrition and exercise. We have the exercise lined up, so let’s discuss nutrition briefly.</p>
<p>calorie calculator to find your needs to maintain your current weight. From there, you’ll want to lower calories by ~250-500 to create a deficit.</p>
<p>Since this program is so short, I’d suggest the 500 calorie deficit. After you’ve got your calorie needs down, you’ll want to keep protein intake relatively high.</p>
<p>There’s all sorts of ranges you’ll find on the internet when it comes to protein intake. The recommended amount during this program is 0.7-1g of protein per lb of bodyweight per day. After you’ve figured out your protein intake, you can really split up the rest of your macros based on individual preference. (Most people are partial to a higher carb intake to fuel performance).</p>
<p>Another thing you’ll want to consider while trying to shred body fat and reveal your V cut abs is sleep. Sleep is critical to maintaining proper hormone balance and inadequate sleep can actually negatively affect your appetite.</p>
<p>During your fat loss phase, ensure you’re getting 7-9 hours of quality sleep each night and watch as losing body fat naturally becomes easier.</p>
<p>Finally, when it comes to cardio – I recommend keeping it simple. Find little ways to keep your body in motion to burn a few extra calories, but don’t go too strenuous. Light cardio on your off days or at a time of day separate from your weight training session will go a lot farther than pounding your body with HIIT.</p>
<p>If you have any questions regarding the program or the tips laid out, please feel free to drop a comment below.</p>